<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Content card</title>
</head>
<body>

<main>
  <div class="section-container">
    <div class="col col-center">
      <!-- Quality Score -->
      <div class="content-card quality-score-card">
        <div class="row">
          <div class="col">
            <div class="image-container w-100 h-100">
              <img src="assets/images/quality-score.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- Lead performances -->
      <div class="content-card lead-performance-card">
        <div class="content-card-header">
          <div class="content-card-header-title">Lead performances</div>
          <div class="dropdown-outer">
            <div class="dropdown">
              <button class="dropdown-toggle" id="dropdownMenuButton4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Roof replacement
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <a class="dropdown-item" href="#">Roof replacement 1</a>
                <a class="dropdown-item" href="#">Roof replacement 2</a>
                <a class="dropdown-item" href="#">Roof replacement 3</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropdown-toggle" id="dropdownMenuButton5" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Yelp
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                <a class="dropdown-item" href="#">Yelp 1</a>
                <a class="dropdown-item" href="#">Yelp 2</a>
                <a class="dropdown-item" href="#">Yelp 3</a>
              </div>
            </div>
          </div>
        </div>
        <div class="content-card-body">
          <div class="row">
            <div class="col-12 col-sm-6 col-xl-4">
              <div class="content-card-body-left position-relative">
                <div class="title-1 my-3 font-weight-bold system-color-6">Opportunities</div>
                <div class="text-1 system-color-6">Lower by</div>
                <div class="counter font-weight-bold system-color-22">+ 7.6%</div>
                <div class="text-1 system-color-6">Than your competitions</div>
                <div class="title-1 my-3 font-weight-bold system-color-6">Balance</div>
                <div class="counter font-weight-bold system-color-6">$22,503</div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-8">
              <div class="pro-thumb-up">
                <img src="assets/images/pro-thumb-up.png" alt="">
              </div>
              <div class="content-card-body-right">
                <div class="title-1 my-3 font-weight-bold system-color-6">Leads purchased/average cost</div>
                <div class="wrap ma-t-20">
                  <div class="top">
                    <div class="row">
                      <div class="col">
                        <div class="counter font-weight-bold system-color-6">1,350</div>
                        <div class="text-1">
                          Lower by 7.2 % than
                          Your competitions
                        </div>
                      </div>
                      <div class="col">
                        <div class="counter font-weight-bold system-color-19">24%</div>
                        <div class="text-1">
                          Lower by 7.2 % than
                          Your competitions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="text-1 font-weight-bold system-color-6 ma-t-10">
                          Expose your business to
                          More leads campaign
                        </div>
                      </div>
                      <div class="col">
                        <button class="btn-2 system-color-23 system-color-bg-6 ma-t-10" type="button"><i class="fad fa-cog ma-r-10"></i>Manage campaign</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contractor, Index -->
      <div class="content-card-wrap">
        <div class="row">
          <div class="col col-xl-4 contractors-card-col">
            <!-- Contractors -->
            <div class="content-card contractors-card">
              <div class="content-card-header">
                <div class="content-card-header-title">Contractors</div>
              </div>
              <div class="content-card-body">
                <div class="select-group position-relative">
                  <span class="category font-weight-bold system-color-6">Category</span>
                  <select class="custom-select system-color-6" id="">
                    <option class="system-color-6" selected>Roof Repair</option>
                    <option class="system-color-6" value="1">Roof Repair</option>
                    <option class="system-color-6" value="2">Roof Repair</option>
                    <option class="system-color-6" value="3">Roof Repair</option>
                  </select>
                </div>
                <div class="contractor">
                  <div class="counter font-weight-bold system-color-6">24</div>
                  <span class="system-color-7 font-weight-300 ma-l-10">Contractors In <br> Your area</span>
                </div>
                <div class="b-btn">
                  Let’s Connect
                  <i class="fad fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-xl-8 index-card-col">
            <!-- Index -->
            <div class="content-card index-card">
              <div class="content-card-header">
                <div class="content-card-header-title">Index</div>
              </div>

              <div class="content-card-body">
                <div class="row">
                  <div class="col col-lg-8 left">
                    <div class="left-inner">
                      <div class="text-1 font-weight-bold align-self-start">Exposure</div>
                      <div class="center">
                        <div class="counter font-weight-bold system-color-22 ma-l-10">96,200</div>
                        <div class="b-btn-square system-color-6 mt-2">Edit location</div>
                      </div>
                      <div class="text-1 system-color-6 align-self-center">People</div>
                    </div>
                  </div>
                  <div class="col col-lg-4 right">
                    <div class="right-inner">
                      <div class="text-1 font-weight-bold align-self-baseline">Services</div>
                      <div class="right-inner-wrap">
                        <div class="counter font-weight-bold system-color-13 ma-l-20">20</div>
                        <div class="b-btn-square system-color-6 mt-2">Edit</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="content-card-footer ma-t-30">
                  <div class="row">
                    <div class="col col-lg-8 my-2">
                      <div class="text-1 font-weight-bold system-color-6">
                        Expose your business to
                        <br>
                        More leads
                      </div>
                    </div>
                    <div class="col col-lg-4 my-2">
                      <button class="btn-2 system-color-23 system-color-bg-25" type="button"><i class="fad fa-rocket ma-r-10"></i>Boost Now</button>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tickets -->
      <div class="content-card tickets-card">
        <div class="content-card-header">
          <div class="content-card-header-title">Tickets</div>
          <div class="calls-stats ma-l-20">
            <div class="stats-item position-relative">
              <div class="stats-index font-weight-black">5</div>
              <div class="font-weight-300 system-color-7 pl-2">Calls Resolved</div>
            </div>
            <div class="stats-item ma-l-30">
              <div class="stats-index font-weight-black">3</div>
              <div class="font-weight-300 system-color-7 pl-2">Calls Unresolved</div>
            </div>
          </div>
          <span class="status font-weight-500 system-color-bg-10 ml-auto">Resolved</span>
        </div>
        <div class="content-card-body">
          <!-- Ticket -->
          <div class="ticket-content">
            <div class="left-content">
              <span class="type font-weight-bold"><i class="indicator system-color-bg-7"></i>Problem receiving inquiries</span>
              <div class="wrap">
                <div class="id">
                  <div class="system-color-17 text-uppercase font-r-9">ID</div>
                  <div class="system-color-6">342535354345</div>
                </div>
                <div class="card-opening-date">
                  <div class="system-color-17 font-r-9">Card opening date</div>
                  <div class="date system-color-6">
                    <i class="fad fa-calendar"></i>
                    <span>26 MAR 2020 2:30 AM</span>
                  </div>
                </div>
              </div>
              <div class="last-replied-by ma-t-10">
                <span class="system-color-17 font-r-9">Last Replied by</span>
                <div class="info">
                  <div class="logo-image-container">
                    <img src="assets/images/brand-logo.svg" alt="logo">
                  </div>
                  <div class="info-content">
                    <div class="user-name font-weight-500 font-r-9">George Ezra</div>
                    <div class=" font-r-8">26 MAR 2020 2:30 AM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="right-content">
              <!-- User message -->
              <div class="last-message user-message">
                <div class="image-container">
                  <img class="avatar" src="assets/images/avatar.jpg" alt="avatar">
                </div>
                <div class="message-card">
                  <div class="message-card-heading">
                    <span class="author-name font-r-8 font-weight-bold">Sureshkumer P [Syncfusion]</span>
                    <span class="updated font-r-7">Updated on Jan 29, 2020 07:31 AM UTC</span>
                  </div>
                  <div class="message font-r-6">
                    Hi Dave,
                    As we said earlier' we include this feature as out Volume - 1 2020 release. We aappreciate your patience until then.
                    regards,
                    Sureshkumer P
                  </div>
                </div>
              </div>

              <!-- Admin message -->
              <div class="last-message admin-message">
                <div class="message-card">
                  <div class="message-card-heading">
                    <span class="author-name font-r-8 font-weight-bold">Dave AIQ</span>
                    <span class="updated font-r-7">Updated on Jan 29, 2020 07:31 AM UTC</span>
                  </div>
                  <div class="message font-r-6">
                    What's up with that?
                  </div>
                </div>
                <div class="logo-image-container">
                  <img class="" src="assets/images/brand-logo.svg" alt="logo">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
