.b-btn-square {
  border: 1px solid #707070;
  border-radius: 4px;
  font-weight: 300;
  font-size: 9pt;
  white-space: nowrap;
}

.b-btn-purple {
  background-color: #585077;
  border-radius: 4px;
  font-weight: 300;
  font-size: 9pt;
  color: #fff;
}
