// Content right
.content-col {
  background-color: #fff;

  .search {
    position: sticky;
    z-index: 200;
    align-items: flex-end;
    width: calc(100% + 17px);
    margin-left: -15px;
    padding-left: 15px;
    background-color: #fff;

    height: 60px;
    top: 100px;
    padding-top: 20px;

    &.big-space {
      top: 230px;
    }

    .title {
      white-space: nowrap;

    }

    .input-group {
      padding-left: 10px;
    }
  }

  @media(max-width: 991px) {

  }

  @media(max-width: 767px) {

  }

  @media(max-width: 599px) {

  }
}
