@media (max-width: 1399px) {
  /* line 2, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .menu-item-d {
    width: calc(100% - 20px); }
    /* line 5, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .menu-item-d label {
      width: 100%; }
  /* line 18, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .left-side-col {
    min-width: 200px; }
  /* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .left-side-container {
    min-width: 200px; }
  /* line 26, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-col {
    max-width: 50%; }
  /* line 30, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .fixed-top-panel-d {
    width: calc(100% - 200px); } }

@media (max-width: 1299px) {
  /* line 37, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .areas-list-outer {
    padding: 1.5rem 1.5rem; } }

@media (max-width: 1120px) {
  /* line 43, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .notification-button {
    width: 35px;
    height: 35px; } }

@media (max-width: 991px) {
  /* line 51, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-items .more-btn {
    display: none !important; }
  /* line 58, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-item:hover:after {
    display: none; }
  /* line 64, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .card {
    padding: 0 8px; }
  /* line 69, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-lists {
    max-width: inherit; }
  /* line 73, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-settings-col {
    justify-content: flex-start;
    align-items: flex-start;
    height: 55px;
    padding-bottom: 0; }
  /* line 80, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .settings-inner-d {
    height: 100%; }
  /* line 85, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .index {
    width: 16px;
    height: 16px;
    font-size: 7pt; }
  /* line 92, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .notification-1 .index {
    top: 0px;
    left: 7px; }
  /* line 99, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .notification-2 .index {
    top: 0px;
    right: 0px; }
  /* line 106, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user {
    padding-top: 0 !important;
    padding-bottom: 0; }
  /* line 111, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-inner-wrapper {
    align-items: center;
    justify-content: center; }
  /* line 117, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .dropdown-info.visible {
    top: 100%; }
  /* line 122, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .info {
    height: 50%;
    margin-left: 0;
    margin-bottom: 0;
    align-items: inherit; }
  /* line 129, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .image-container {
    width: 40px !important;
    height: 40px !important;
    padding: 2px 4px !important; }
    /* line 134, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .image-container::before {
      height: 110% !important;
      transform: translate(-50%, -3%) !important; }
  /* line 141, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .dropdown-info.visible {
    left: auto; }
  /* line 147, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .settings-inner-m {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .875rem; } }

@media (max-width: 899px) {
  /* line 159, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .create-area-outer {
    padding: .75rem 1.25rem; }
  /* line 163, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .areas-list-outer {
    padding: .75rem 1.25rem; } }

@media (max-width: 850px) {
  /* line 169, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .card {
    padding: 0 4px; } }

@media (max-width: 767px) {
  /* line 176, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .top-logo-col .close-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex; }
    /* line 182, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .top-logo-col .close-button .fa-times {
      color: #fff;
      padding: 10px;
      cursor: pointer; }
  /* line 190, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-item {
    margin: 0 10px; }
    /* line 193, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .sub-menu-item:after {
      bottom: -1px !important; }
  /* line 199, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .dropdown-list.visible {
    bottom: 25%;
    transform: translate(-56%, 106%); }
  /* line 208, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .dropdown-list-wrapper.active:before {
    bottom: -23px;
    left: -15px;
    top: auto;
    border-bottom: 10px solid #fff; }
  /* line 218, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .left-side-col {
    z-index: 20;
    position: static;
    min-width: inherit;
    width: auto;
    padding: 0; }
  /* line 226, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .left-side-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-110%, 0);
    width: 60%;
    min-width: 300px; }
  /* line 235, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .mobile-menu-ope-btn {
    z-index: 12;
    position: fixed;
    left: 0;
    flex: 1;
    height: 70px;
    display: flex;
    align-items: center; }
    /* line 244, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .mobile-menu-ope-btn .fa-bars {
      color: #fff; }
  /* line 250, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .left-side-container.active {
    transform: translate(0, 0); }
  /* line 255, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .fixed-top-panel-d {
    width: 100%;
    max-width: 100%;
    height: 142px; }
  /* line 263, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .right-side-content-inner {
    margin-top: 160px; }
  /* line 267, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .sub-menu-col {
    width: 100%;
    max-width: 100%;
    height: 70px;
    padding: 10px 30px 0 30px; }
  /* line 274, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .sub-menu-container-inner {
    margin-right: 0;
    margin-left: 0; }
    /* line 278, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .sub-menu-container-inner .row {
      flex-wrap: wrap-reverse; }
  /* line 283, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-settings-col {
    flex-grow: 1;
    width: 100%;
    height: 70px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #585077; }
  /* line 294, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer {
    height: 100% !important;
    background-color: transparent; }
    /* line 298, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .user {
      display: flex;
      width: 165px;
      height: 100%;
      padding-bottom: 0; }
    /* line 306, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .user-inner-wrapper {
      width: 100%;
      align-items: center;
      justify-content: flex-end; }
    /* line 312, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .info {
      height: 100% !important;
      align-items: center;
      padding-bottom: 0; }
    /* line 318, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .info-inner {
      color: #fff; }
      /* line 321, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
      .right-side-col .user-outer .info-inner::after {
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff; }
    /* line 327, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .image-wrapper {
      align-items: center;
      background-color: transparent; }
    /* line 332, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .image-container {
      width: 30px !important;
      height: 30px !important;
      padding: 0 !important;
      margin-right: 0; }
      /* line 338, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
      .right-side-col .user-outer .image-container::before {
        display: none; }
    /* line 343, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer.show {
      height: calc(100% - 5px) !important;
      margin-top: 5px;
      border-radius: 5px 5px 0 0; }
      /* line 348, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
      .right-side-col .user-outer.show .user {
        width: 165px;
        height: 100%;
        padding-bottom: 0; }
        /* line 354, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
        .right-side-col .user-outer.show .user.active {
          width: 165px;
          padding-right: 5px;
          padding-left: 5px;
          box-shadow: none !important;
          background-color: white;
          border-radius: 5px 5px 0 0; }
          /* line 362, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
          .right-side-col .user-outer.show .user.active .image-wrapper {
            background-color: transparent; }
          /* line 366, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
          .right-side-col .user-outer.show .user.active .info-inner {
            color: #585077; }
            /* line 369, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
            .right-side-col .user-outer.show .user.active .info-inner::after {
              border-right: 1px solid #585077;
              border-bottom: 1px solid #585077; }
      /* line 378, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
      .right-side-col .user-outer.show .dropdown-info.visible {
        top: 100%;
        right: 15px;
        width: 165px;
        padding: 10px 10px 10px 6px;
        border-top: none; }
      /* line 388, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
      .right-side-col .user-outer.show .dropdown-info .dropdown-item {
        padding: .25rem .25rem .25rem .25rem;
        font-size: 9pt; }
        /* line 392, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
        .right-side-col .user-outer.show .dropdown-info .dropdown-item i {
          font-size: 9.5pt; }
  /* line 401, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .index {
    width: 16px;
    height: 16px;
    font-size: 7pt; }
  /* line 407, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .notification {
    align-items: center; }
  /* line 412, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .notification-1 .index {
    top: 0px;
    left: 8px; }
  /* line 419, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .notification-2 .index {
    top: 0px;
    right: 2px; }
  /* line 425, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .notification-button-icon {
    color: #fff; }
  /* line 429, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .page-title {
    font-size: 1.25rem;
    margin-bottom: 5px; }
  /* line 434, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .sub-menu-items {
    height: 30px; }
  /* line 438, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .sub-menu-item {
    margin: 0px 7px; }
  /* line 442, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .sub-menu-item:first-of-type {
    margin: 0 7px 0 0; }
  /* line 449, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .settings-inner-d .image-container {
    display: block;
    width: 80px !important;
    height: 40px !important;
    margin-left: 30px;
    margin-right: auto; }
    /* line 456, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .settings-inner-d .image-container img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  /* line 467, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .search-new-area .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 0.88rem !important; }
  /* line 470, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .search-new-area .form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.88rem !important; }
  /* line 473, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .search-new-area .form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.88rem !important; }
  /* line 476, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .search-new-area .form-control:-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.88rem !important; }
  /* line 484, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .results .item {
    width: auto;
    margin-bottom: 1rem !important;
    padding: .25rem .875rem; } }

@media (max-width: 599px) {
  /* line 493, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .fixed-top-panel-d {
    background-color: transparent;
    pointer-events: none; }
  /* line 498, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-container-inner {
    background-color: transparent; }
  /* line 503, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-col > .row {
    pointer-events: auto; }
  /* line 508, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .page-title {
    display: none; }
  /* line 512, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .settings-inner-d {
    margin-right: 0; }
  /* line 518, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .info-inner::after {
    top: 0; }
  /* line 522, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .info-inner .info {
    margin: 0 auto 10px; }
  /* line 527, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .name-wrap {
    font-size: 0.75rem !important; }
  /* line 531, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-settings-col {
    pointer-events: auto; }
  /* line 536, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer .user {
    min-width: inherit;
    padding: 0 5px 5px !important; }
  /* line 543, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer .user-inner-wrapper {
    align-items: center;
    justify-content: center; }
  /* line 552, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer.show {
    position: relative;
    z-index: 5000; }
    /* line 557, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer.show .user.active {
      padding-right: 0;
      padding-left: 5px;
      min-width: inherit; }
      /* line 562, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
      .right-side-col .user-outer.show .user.active .image-wrapper {
        padding: 0 !important; }
        /* line 565, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
        .right-side-col .user-outer.show .user.active .image-wrapper .image-container {
          border: 1px solid #585077;
          padding: 2px !important;
          width: 35px !important;
          height: 35px !important; } }

@media (max-width: 460px) {
  /* line 581, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  ::-webkit-scrollbar {
    width: 0;
    height: 0; }
  /* line 586, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  ::-webkit-scrollbar-thumb {
    background: transparent; }
  /* line 590, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  ::-webkit-scrollbar-track {
    background-color: transparent; }
  /* line 594, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  * {
    box-sizing: border-box; }
  /* line 599, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-col .sub-menu-item {
    display: inline-block;
    margin: 0 12px;
    white-space: nowrap; }
    /* line 605, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .sub-menu-col .sub-menu-item:first-of-type {
      margin: 0 12px 0 0; }
  /* line 611, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-lists {
    transform: translate(0px, 2px);
    max-width: 100%;
    margin: 0 auto; }
    /* line 616, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .sub-menu-lists .sub-menu-items {
      -webkit-overflow-scrolling: touch;
      display: flex;
      overflow: auto;
      white-space: nowrap; }
  /* line 626, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .sub-menu-item.active::after {
    bottom: 0px !important; }
  /* line 634, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .promotion .dropdown-list-one.visible {
    transform: translate(-48%, 106%); }
  /* line 640, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-settings-col {
    padding-right: 5px !important; }
  /* line 646, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer .user {
    display: flex;
    justify-content: flex-end; }
  /* line 651, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer .user-inner-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
    padding: 5px 0 10px !important; }
  /* line 658, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer .info {
    display: inline-block;
    height: auto !important; }
    /* line 663, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .info .name-wrap {
      font-weight: 500 !important; }
    /* line 667, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer .info .company {
      display: none; }
  /* line 672, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer .image-wrapper {
    height: auto; }
  /* line 682, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .right-side-col .user-outer.show .user.active {
    box-shadow: 0 2px 2px 1px #ccc !important; }
    /* line 687, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .right-side-col .user-outer.show .user.active .dropdown-info-wrapper.active {
      position: absolute;
      /* padding-top: 60px; */
      height: 100%;
      top: 0;
      left: 0; } }

@media (max-width: 374px) {
  /* line 704, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-settings-col {
    margin-right: 5px !important; }
    /* line 707, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
    .user-settings-col .image-container {
      width: 73px !important; }
  /* line 714, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-outer.show .user {
    padding-right: 5px !important; }
  /* line 727, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-outer.show .dropdown-info.visible .dropdown-item {
    font-size: 8.5pt; }
  /* line 734, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-outer .user {
    width: 135px !important;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0 !important; }
  /* line 741, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .user-outer .info-inner {
    padding-right: 25px; }
  /* line 746, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .notification-button {
    width: 30px;
    height: 30px; } }

@media (max-width: 599px) {
  /* line 755, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .leads-list .status-bar-col {
    position: relative;
    align-self: auto;
    margin-top: 0;
    width: 0; }
  /* line 762, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .leads-list .status-bar-heading {
    top: 70px;
    height: 40px;
    box-shadow: none; }
  /* line 772, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .leads-list .fixed-top-panel-d .sub-menu-col {
    padding-top: 90px;
    height: 30px; }
  /* line 777, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .leads-list .fixed-top-panel-d .page-title {
    display: none; } }

@media (max-width: 1199px) {
  /* line 788, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .content .text {
    font-size: inherit !important; } }

@media (max-width: 999px) {
  /* line 798, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .content {
    width: 100% !important; }
  /* line 803, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .search .input-group {
    width: 100% !important; } }

@media (max-width: 899px) {
  /* line 812, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .services-wrapper {
    padding: 20px !important; }
  /* line 816, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .content {
    padding-left: 15px; }
  /* line 824, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .service-name {
    white-space: normal;
    line-height: 1.15; } }

@media (max-width: 767px) {
  /* line 831, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .services-wrapper {
    position: relative;
    z-index: 2; }
  /* line 836, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .content {
    padding-left: 0 !important; } }

@media (max-width: 576px) {
  /* line 846, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .left-part {
    order: 2; }
  /* line 850, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .services .right-part {
    order: 1; } }

@media (max-width: 1499px) {
  /* line 859, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .list .item {
    width: calc(100% / 6); } }

@media (max-width: 1399px) {
  /* line 867, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .list .item {
    width: calc(100% / 5); } }

@media (max-width: 1199px) {
  /* line 875, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .list .item {
    width: calc(100% / 4); } }

@media (max-width: 899px) {
  /* line 883, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .list .item {
    width: calc(100% / 3); } }

@media (max-width: 767px) {
  /* line 890, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .map {
    display: none; }
  /* line 895, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .right-side-content-inner .col-5 {
    padding-left: 0; } }

@media (max-width: 599px) {
  /* line 902, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .map {
    display: none; }
  /* line 907, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/pages/layout-page-responsive.scss */
  .locations .list .item {
    width: auto; } }

/*# sourceMappingURL=layout-page-responsive.css.map */