@import 'new-layout-page';
@import 'status-bar';
@import 'search';
@import 'form';
@import 'custom-checkbox-ui';
@import 'accordion';
@import 'utils/base';
@import 'utils/reset-styles';
@import 'utils/helpers';
@import 'utils/colors';

// For pages which has Filter (status-bar)
.status-bar {
  padding: 60px 15px 20px 15px;
}

.status-bar-inner-body {
  .search {
    display: flex !important;
  }
}

// Reset common styles only for this page
.custom-control {
  padding-left: 0;
}


