//@import 'pages/new-page-layout-responsive';

@media(max-width: 1499px) {
  .list {
    .item {
      width: calc(100% / 6);
    }
  }
}

@media(max-width: 1399px) {
  .list {
    .item {
      width: calc(100% / 5);
    }
  }
}

@media(max-width: 1199px) {
  .list {
    .item {
      width: calc(100% / 4);
    }
  }
}

@media(max-width: 899px) {
  .list {
    .item {
      width: calc(100% / 3);
    }
  }
}

@media(max-width: 767px) {
  .map {
    display: none;
  }

  .right-side-content-inner {
    .col-5 {
      padding-left: 0;
    }
  }
}

@media(max-width: 599px) {
  .map {
    display: none;
  }

  .list {
    .item {
      width: auto;
    }
  }
}
