@import 'tabs';
@import "variables";

@media(min-width: 300px) { // from 300
  .system-campaign-services {
    .services-to-chose {
      background-color: #fff;

      .county-list {
        background-color: #f5f5f5;
      }

      .input-group-prepend {
        .input-group-text {
          width: 74px;
        }
      }

      #tab-two {
        .input-group-prepend {
          .input-group-text {
            width: 90px;
          }
        }
      }
    }
  }

  .services-and-location {
    .services-to-chose {
      background-color: #f5f5f5;
      //padding: 20px 0 0;

      .county-list {
        background-color: #fff;
      }

      .input-group-prepend {
        .input-group-text {
          width: 68px;
        }
      }
    }
  }

  // Common
  .services-to-chose {
    padding: 10px 24px;

    .select-tabs {
      .input-group-prepend {
        .input-group-text {
          background-color: #fff;
          border-right: 0;
        }
      }
    }

    .add-btn {
      color: #fff;
      &.active {
        background-color: #585077;
      }
    }

    .tools {
      @includedisplay: flex;
    flex-direction: row;;
      justify-content: flex-end;
      align-items: center;
      height: 100%;

      span {
        font-weight: 500;
        font-size: .75em;
        color: #585077;

        &.divider {
          width: 1px;
          height: 15px;
          margin: 0 8px;
          background-color: #585077;
        }
      }

      .active {
        color: #c30a0a;
      }
    }

    .table-cell {
      margin: 8px 0;

      & > span {
        padding-right: 5px;
      }
    }

    // Services-list
    .services-list {

      .table-cell-1 {
        width: 10%;
        order: 1;
        margin: 4px 0;

        .custom-control {
          min-height: initial;
        }
      }

      .table-cell-2 {
        @include truncate;
        width: 50%;
        order: 2;
      }

      .table-cell-3 {
        @include truncate;
        width: 100%;
        order: 5;
      }

      .table-cell-4 {
        @include truncate;
        width: 100%;
        order: 6;
      }

      .table-cell-5 {
        width: 20%;
        order: 3;
      }

      .table-cell-6 {
        width: 20%;
        order: 4;
      }

      .table-item {
        @includedisplay: flex;
    flex-direction: row;;
        flex-wrap: wrap;
        padding: 10px;
        background-color: #ededed;
        border-radius: 3px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
      }
    }

    // County-list
    .county-list {
      //padding: 20px 0 0;

      .tools {
        justify-content: flex-start;
        padding: 0 20px;

        .divider {
          height: 15px;
        }
      }

      .table-items-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        .table-item {
          width: 100%;
          margin: 8px 0;
          padding: 0 20px;
        }
      }
    }

    .custom-control {
      @includedisplay: flex;
    flex-direction: row;;
      align-items: center;

      .custom-control-label {
        line-height: 1.25;
        padding: 0 10px;
      }
    }
  }
}
// EOL: 300px

@media(min-width: $break-tablet) { // from 768
  .table-cell {
    margin: 8px 0 !important;
  }

  // Common County-list
  .county-list {
    .table-items-list {
      .table-item {
        width: 50%;
      }
    }
  }
}
// EOL: 768px


@media(min-width: $break-pc) { // from 1200
  .system-campaign-services {
    .table-items-list {
      .table-item {
        border: none;
      }
    }
  }

  .services-and-location {
    .table-items-list {
      .table-item {
        &:not(:last-child) {
          border-right: 1px solid #ededed;
        }
      }
    }
  }

  // Common
  .services-to-chose {
    padding: 10px 16px 30px 16px;

    .select-tabs {
      .tab {
        padding: 10px;

        &.selected {
          background-color: #fff;
        }
      }
    }

    // Services-list
    .services-list {
      .table-cell-1 {
        width: 4%;
        order: 1;
        margin: 8px 0;
      }

      .table-cell-2 {
        width: 14%;
        order: 2;
      }

      .table-cell-3 {
        width: 24%;
        order: 3;
      }

      .table-cell-4 {
        width: 42%;
        order: 4;
      }

      .table-cell-5 {
        width: 9%;
        order: 5;
      }

      .table-cell-6 {
        width: 7%;
        order: 6;
      }

      .table-item {
        padding: 0 10px;
        border-radius: 0;
        box-shadow: none;
      }
    }

    // County-list
    .county-list {
      .table-items-list {
        flex-direction: row;

        .table-item {
          width: 17.5%;
        }
      }
    }
  }
}
// EOL: 1200px

@media(min-width: $break-large-screen) {
  // Common
  .services-to-chose {
    .tools {
      span {
        font-size: .9375em;
      }
    }

    .table-cell {
      font-size: .9375em;
    }

    // Services-list
    .services-list {
      .table-cell-1 {
        width: 4%;
      }

      .table-cell-2 {
        width: 12%;
      }

      .table-cell-3 {
        width: 19%;
      }

      .table-cell-4 {
        width: 47%;
      }

      .table-cell-5 {
        width: 9%;
      }

      .table-cell-6 {
        width: 9%;
      }

      .table-items-list {
        @mixin divider {
          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            display: block;
            content: '';
            width: 1px;
            height: 80%;
            background-color: #ccc;
            margin: 0 16px;
          }
        }

        .table-cell-2,
        .table-cell-3 {
          @include divider;
        }
      }
    }

    .custom-control {
      .custom-control-label {
        padding: 0 20px;
      }
    }
  }
}
// EOL: 1600px
