//////// Commons reusable styles ////////
@import 'utils/variables';

.system-campaign-outer {
  font-family: "Raleway",sans-serif;
}

.system-campaign-inner {
  padding-bottom: 30px;
  box-shadow: 0 3px 30px 0 rgba(0,0,0,0.16);
  background-color: #ffffff;
  font-family: "Raleway",sans-serif;
  color: #585077;
}

.content {
  .text {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    color: #342e49;
  }

  .sub-text {
    color: #342e49;
    margin: 10px 0;

  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;

    .input-group {
      position: relative;
      width: 312px;

      .input-group-prepend {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        z-index: 6;
      }

      input {
        padding-left: 40px;
        background-color: #ebebeb;
        border-radius: 2px;
        border: none;
        font-size: .875em;

        &::-webkit-input-placeholder {
          font-size: .875em;

        }

        &::-moz-placeholder {
          font-size: .875em;

        }

        &:-ms-input-placeholder {
          font-size: .875em;

        }

        &:-moz-placeholder {
          font-size: .875em;

        }
      }
    }
  }
}

.page-content-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 36px;
}

.tools-container {
  margin-left: auto;

  .tools {
    .active {
      color: #cb2a2a;
    }
  }
}

.warning {
  margin-right: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #cb2a2a;
  text-align: right;
}


// system-campaign-zip-code //
.system-campaign-zip-code {
  font-family: "Raleway", sans-serif;

  .services-to-chose {
    background-color: #fff;
  }

  // Selected services
  .selected-services {
    margin-top: 15px;
  }

  .selected-service-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 32px;
    background-color: #ededed;

    .selected-service-item-col {
      padding: 6px 10px;
    }
  }

  .location {
    width: 20%;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .zip-code {
    width: 20%;
    border-right: 1px solid #bdbbc7;
    border-left: 1px solid #bdbbc7;
  }

  .population {
    flex-grow: 1;
    width: auto;
  }

  .edit {
    width: 10%;
  }
}
// EOL: system-campaign-zip-code


// system-campaign-services //
.system-campaign-services {
  width: 100%;

  .tools {
    display: flex;
    flex-direction: row;;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    span {
      font-weight: 500;
      font-size: .75em;
      color: #585077;

      &.divider {
        width: 1px;
        height: 15px;
        margin: 0 8px;
        background-color: #585077;
      }
    }

    .active {
      color: #c30a0a;
    }
  }
}
// EOL: system-campaign-services


// system-campaign-summary //
.system-campaign-summary {
  width: 100%;

  .summary-content {

  }
  // services-list
  .services-list {  }

  .table-title-list {
    display: flex;
    align-items: center;
    padding: 0 16px;

    .table-cell-4 {
      padding: 10px 10px 10px 30px;
    }
  }

  .table-items-list {
    padding: 16px;
    background-color: #f5f5f5;
  }

  .list-item {
    &:not(:last-of-type) {
      border-bottom: solid 0.5px transparentize(#585077, .18);
    }

    .table-cell-3 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .table-cell-4 {
      padding: 0 10px 0 30px;
    }
  }

  .max-spent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 110px;
    height: 35px;
    padding-left: 15px;
    border: solid 0.5px #cccccc;
    background-color: #ffffff;
  }

  .table-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    //padding: 4px 10px;

    &.head-item {
      background-color: #ebebeb;
    }
  }

  .table-cell {
    @include truncate;
    padding: 10px 16px;

    &.head-item {
      background-color: #ebebeb;
      //padding: 10px 16px;
    }
  }

  .table-cell-1 {
    width: 10%;
    order: 1;
    //margin: 8px 0;
  }

  .table-cell-2 {
    width: 14%;
    order: 2;
  }

  .table-cell-3 {
    width: 28%;
    order: 3;
  }

  .table-cell-4 {
    width: 13%;
    order: 4;
  }

  .table-cell-5 {
    width: 28%;
    order: 5;
  }

  .table-cell-6 {
    width: 7%;
    order: 6;
    justify-content: flex-end;
  }
  // EOL: services-list
}
// EOL: system-campaign-summary







