// Add portfolio
.add-portfolio {
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-family: "Raleway",sans-serif;

  .content-col-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;

    @media(max-width: 599px) {
      flex-direction: column;
      padding-top: 0;
    }

    @media(max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  .content {
    @media(max-width: 1199px) {
      padding: 20px 10px;
    }
    @media(max-width: 991px) {
      padding: 20px 20px;
    }
  }

  .content-col-header {
    height: 70px;
    margin-bottom: 20px;
  }

  .collapse-container {
    padding-right: 10px;
    max-height: 440px;
    overflow-y: scroll;

    @media(max-width: 767px) {
      max-height: unset;
      overflow: unset;
    }
  }

  // left
  .content-col-left {
    width: 49%;
    height: 100%;
    font-family: "Raleway", sans-serif;

    @media(max-width: 991px) {
      width: 100%;
    }

    .form-group {
      i {
        position: absolute;
        bottom: calc(50% - 3px);
        left: 10px;
      }

      textarea {
        border: solid 1px #585077;
        background-color: #ffffff;
        padding: 10px 30px;
        resize: none;
      }
    }

    .notification {
      position: absolute;
      bottom: -30px;
      right: 0;
      font-weight: 300;
      color: #342e49;

      @media(max-width: 767px) {
        bottom: -75px !important;
      }
    }

    .upload-container {
      margin-top: 40px;

      i {
        color: #342e4a;
      }

      .text {
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        color: #342e49;
        border: 0;
      }

      .upload-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 216px;
        height: 135px;
        margin-top: 5px;
        background-color: #efefef;

        label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .text {
          height: initial;
          margin-top: 10px;
        }

        .image-container {
          width: 200px;
          height: 100%;
        }

        img {
          object-fit: fill;
          border-radius: 0;
        }
      }

      .uploaded {
        .upload-body {
          flex-direction: row;
          max-width: initial;
          background-color: transparent;

          i {
            color: #c30a0a;
          }
        }

        @media(max-width: 991px) {

          .upload-header {
            .fa-flag {
              font-size: .75rem !important;
            }

            span {
              font-size: .75rem !important;
              white-space: nowrap;
            }

            .file-input-label {
              //max-width: 90px !important;
            }
          }

          .image-container {
            width: 215px !important;
            margin-top: 10px;
            padding: 0 !important;
            height: inherit !important;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  // right
  .content-col-right {
    width: 49%;

    @media(max-width: 991px) {
      width: 100%;
    }

    .content-col-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .title {
        margin-bottom: 0;
      }
    }

    .content-col-main {
      background-color: #f5f5f5;
    }

    .collapse-container {
      padding: 8px;

      .collapse-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 8px;
        background-color: #ebebeb;

        .collapse-col-2 {
          display: flex;
          justify-content: flex-end;
        }

        &.collapsed {
          .fa-chevron-up {
            transform: rotate(180deg);
          }
        }
      }

      .collapse-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "Raleway", sans-serif;

        @media(max-width: 599px) {
          flex-direction: column;
        }

        // only for collapse item
        .collapse-row {
          margin: 10px;
        }
      }

      .collapse-row {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      // data
      .collapse-col-1 {
        .collapse-row {
          margin: 15px 10px;

          i {
            margin-right: 10px;
          }
        }

        @media(max-width: 599px) {
          width: 100%;

          &::after {
            display: none;
          }
        }
      }
      // images
      .collapse-col-2 {
        .collapse-row {
          i {
            margin-right: 10px;
          }

          img {
            margin-right: 10px;
            border-radius: 0;

            @media(max-width: 599px) {
              flex-shrink: 0;
              max-width: 150px;
            }

            @media(max-width: 399px) {
              flex-shrink: 1;
            }
          }
        }

        @media(max-width: 599px) {
          width: 100%;
        }
      }
    }
  }
}

// Modal pop-up styles (Add portfolio page)
.add-portfolio-modal-btn {
  display: block;
  border: 1px solid #585077;
  border-radius: 3px;
  width: auto;
  z-index: 1060;
}
