// Leads List page modal
.leads-list-modal {
  .modal-dialog {
    max-width: 90%;
    margin: 5rem auto ;
  }

  // Left col
  .left-col {
    width: 20%;

    .dashed-line {
      height: 70%;
    }
  }

  .info-outer {
    position: relative;
    padding: 10px 0;
  }

  // decoration element
  .decoration-element-wizard {
    left: 0px;
    height: 100%;
  }

  .square {
    border-radius: 2px;
  }
  // EOL: decoration element

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 40px;
    
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  // Leads status
  .dropdown-menu {
    padding: 0;

    .status-title {
      color: #585077;
    }

    i {
      color: #585077;
    }
  }

  .dropdown-divider {
    width: 88%;
    margin: 0 auto;
  }

  .dropdown-item {
    position: relative;
    padding: 1rem !important;
    color: #585077;
    
    &:hover {
      //background-color: transparent;
      background-color: #585077;

      .status-title {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }

    &:before {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 7px;
      height: 100%;
      display: block;
      content: '';
    }
  }

  // Leads summary
  .leads-summary {
    width: 100%;
    padding-bottom: 50px;
  }

  .list-outer {
    position: relative;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;

    .divider {
      width: 100%;
      height: 1px;
      margin: 10px 0;
      background-color: #f0f0f0;
    }
  }

  // EOL: Left col

  // Right col
  .right-col {
    flex-grow: 1;
    width: auto;
  }

  .right-col-inner {
    padding: 20px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
  }

  .map {
    width: 100%;
    height: 154px;
    border-radius: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mask {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    height: auto;
    border-radius: 1.5px;
    background-color: transparentize(#ffffff, .44);
  }

  // activity-log
  .activity-log {
    color: #585077;
  }

  .activity-item-inner {
    //background-color: coral; // remove !!!!!!!!!!!
  }

  .activity-item {
    position: relative;

    .dashed-line {
      height: 95%;
    }
  }

  .comments-list {
    padding-left: 40px;
  }

  .comment-item {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 60px;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  .item-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.5;
  }

  .image-container {
    width: 45px;
    height: 45px;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  // EOL: activity-log

  // Add note textarea
  .add-note-wrap {
    position: relative;

    textarea {
      padding-right: 100px;
      border-radius: 2.5px;
      border: solid 0.5px #d8d8d8;
      background-color: #ffffff;
      resize: none;
      color: #585077;

      &:focus {
        color: #585077;
        background-color: #ffffff;
        box-shadow: none !important;
        border-color: #d8d8d8 !important;
      }
    }

    .add-note {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 90px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      background-color: #585077;
      color: #fff;

      span {
        margin: 0 auto;
      }
    }
  }

  // EOL: Add note textarea

  // controls-col-inner
  .controls-col-inner {

  }

  .card {
    padding-bottom: .75rem;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border: none !important;
  }

  .card-header {
    position: relative;
    padding: .5rem 1.25rem;
    background-color: #fff;
    border-bottom: none;

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      content: '';
      width: 90%;
      height: 2px;
      background-color: #e0e0e0;
    }
  }

  // Empty
  .meeting-card-empty {
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;

      button {
        background-color: #585077;
        color: #fff;
      }
    }

    .card-text {
      padding-right: 10px;
      margin-bottom: 0;
    }

    .image-wrap {
      width: 68px;
      height: 62px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .empty-content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // Filled
  .meeting-card-filled {
    .card-body {
      padding: 0 !important;
    }

    // user
    .user {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: .5rem 1.25rem .5rem;
      
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 110px;
        height: 40px;
        padding: 0 10px;
        background-color: #e8e8e8;
        color: #585077;

        &:focus {
          border-color: transparent;
        }

        span {
          margin: 0 auto;
        }
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        content: '';
        width: 90%;
        height: 2px;
        background-color: #e0e0e0;
      }
    }

    .user-name {
      white-space: nowrap;
    }

    .image-container {
      width: 42px;
      height: 42px;
      border-radius: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
      }
    }

    // EOL: user

    // date
    .date-inner {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: .5rem 1.25rem .5rem;
    }

    .date,
    .address {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      color: #585077;
    }

    .date {
      .fa-calendar {
        margin: 0 10px 0 0;
      }
    }

    .address {
      margin-left: 10px;
    }
    // EOL: date

    // Notes
    .notes {
      padding: .5rem .5rem 0;
      margin-top: 0;
    }

    .notes-inner {
      width: 100%;
      padding: .5rem .75rem 0;
      background-color: #f5f5f5;
    }
    // EOL: Notes
  }
  // EOL: controls-col-inner

  // Tasks
  .tasks {
    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .add-task {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 110px;
      height: 40px;
      padding: 0 10px;
      background-color: #fff;
      border: 1px solid #585077;
      color: #585077;
    }
  }

  // Tasks list empty
  .tasks-list-empty {
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 15px;

      button {
        background-color: #585077;
        color: #fff;
      }
    }

    .card-text {
      padding-right: 10px;
      margin-bottom: 0;
    }

    .image-wrap {
      width: 156px;
      //height: 112px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  // EOL: Tasks list empty

  // Tasks filled
  .tasks-list-filled {
    .task-card-inner {
      //display: flex;
      //flex-direction: row;
      //flex-wrap: wrap;
      //align-items: center;
    }

    .inner-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid #f9f9f9;
    }

    .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
      border-bottom: none !important;

      .image-wrap {
        width: 28px;
        height: 28px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .todo-time {
      width: 50%;
      border-bottom: none !important;
    }

    .notes {
      width: 100%;
    }
  }
  // EOL: Tasks filled
}
