body ::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

body ::-webkit-scrollbar {
  width: 0px !important;
}

// Leads List page modal
.leads-list-modal {
  .modal-dialog {
    width: 90%;
    max-width: 1600px;
    margin: 9vh auto;
    height: 82vh;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
    //padding: 1rem;
    //overflow-y: auto;
  }

  .modal-content {
    height: 100%;
  }

  // Left col
  .left-col {
    flex-shrink: 0;
    width: 300px;
    height: 100%;

    .dashed-line {
      height: 70%;
    }
  }

  .left-col-inner {
    padding: 1rem;
  }

  .info-outer {
    position: relative;
    padding: 10px 0;
  }

  // decoration element
  .decoration-element-wizard {
    left: 0;
    height: 100%;
  }

  .square {
    border-radius: 2px;
  }
  // EOL: decoration element

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 40px;
    
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  // Leads status
  .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    transform: none !important;

    .status-title {
      color: #585077;
    }

    i {
      color: #585077;
    }
  }

  .user {
    .dropdown-menu {
      top: 42px !important;
    }
  }

  .leads-status {
    .dropdown-menu {
      top: 32px !important;
    }
  }

  .dropdown-divider {
    width: 88%;
    margin: 0 auto;
  }

  .dropdown-item {
    position: relative;
    padding: 1rem !important;
    color: #585077;
    
    &:hover {
      background-color: #585077;

      .status-title {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }

    &:before {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 7px;
      height: 100%;
      display: block;
      content: '';
    }
  }

  // Leads status
  .leads-status {
    padding: 10px 15px;
    background-color: #f4f4f4;

    .heading {
      display: block;
    }

    .status-btn {
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-between;
      border-radius: 2.5px;
      box-shadow: 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.16);
      background-color: #585077;
      border: none;
      color: #fff;
      u {
        text-decoration: none;
      }

      &.attempts {
        justify-content: space-around;
        background-color: #b3b3b3;
      }
    }
  }

  // Leads summary
  .leads-summary {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 50px;

    .el-name-heading {
      @media(min-width: 600px) {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
      }
    }
  }

  .list-outer {
    position: relative;
    height: 350px;
    overflow-y: auto;
    padding-bottom: 40px;
  }

  .list {
    height: 100%;
    padding-left: 30px;

    //.divider {
    //  width: 100%;
    //  height: 1px;
    //  margin: 10px 0;
    //  background-color: #f0f0f0;
    //}

    .list-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      //height: 100%;
      //overflow-y: scroll;
      //padding-bottom: 40px;
      //background-color: dodgerblue;

      span {
        position: relative;
        height: 20px;
        margin-bottom: 10px;

        &::before {
          position: absolute;
          bottom: -6px;
          left: 0;
          display: block;
          content: '';
          width: 98%;
          height: 1px;
          background-color: #f0f0f0;
          //background-color: red;
        }
      }
    }
  }

  // EOL: Left col

  // Right col
  .right-col {
    overflow: hidden;
    //overflow-y: auto;
    flex-grow: 1;
    width: auto;
    height: 100%;
    padding: 1rem;
  }

  .right-col-outer {
    height: 100%;
    //padding: 1rem;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
  }

  .right-col-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
  }

  .map {
    width: 100%;
    height: 154px;
    border-radius: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mask {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    height: auto;
    border-radius: 1.5px;
    background-color: transparentize(#ffffff, .44);
  }

  .activity-log {
    height: calc(100% - 154px);
  }

  .activity-log-wrap {
    //z-index: 3000;
    overflow: hidden;
    width: 60%;
    height: 100%;
    padding: 1rem;
    //margin-bottom: 100px;
  }

  .activity-log-inner {
    height: 100%;
  }

  .activity-list {
    position: relative;
    width: 100%;
    padding: 0;
    height: calc(100% - 40px);
    //overflow-y: scroll;
    //background-color: coral; // remove !!!
  }

  .activity-list-inner {
    height: 100%;
    //height: 480px;
    padding-right: 10px;
    overflow-y: auto;
  }

  .activity-list-wrap {
    margin-bottom: 120px;
  }

  .controls-col-wrap {
    width: 40%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
  }

  // activity-log
  .activity-log {
    color: #585077;
  }

  .heading {
    width: 100%;
  }

  .activity-item {
    position: relative;

    .dashed-line {
      height: 95%;
    }
  }

  .comments-list {
    padding-left: 40px;
  }

  .comment-item {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 60px;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  .item-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.5;
  }

  .image-container {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  // EOL: activity-log

  // Add note textarea
  .add-note-abs {
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 100;
    width: calc(100% + 1px);
    height: 100px;
    padding-top: 15px;
    background: linear-gradient(to bottom,#fff 0%,#fff 30%,#fff 61%,#fff 1000%);
  }

  .add-note-wrap {
    //position: relative;
    z-index: 2;
    position: absolute;
    right: 10px;
    bottom: 0;
    width: calc(100% - 40px - 4px - 2px);

    textarea {
      padding-right: 100px;
      border-radius: 2.5px;
      border: solid 0.5px #d8d8d8;
      background-color: #ffffff;
      resize: none;
      color: #585077;

      &:focus {
        color: #585077;
        background-color: #ffffff;
        box-shadow: none !important;
        border-color: #d8d8d8 !important;
      }
    }

    .add-note {
      position: absolute;
      bottom: 20px;
      right: 5px;
      width: 90px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      background-color: #585077;
      color: #fff;

      span {
        margin: 0 auto;
      }
    }
  }

  // EOL: Add note textarea

  .card {
    padding-bottom: .75rem;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border: none !important;
  }

  .card-header {
    position: relative;
    padding: .5rem 1.25rem;
    background-color: #fff;
    border-bottom: none;

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      content: '';
      width: 94%;
      height: 2px;
      background-color: #e0e0e0;
    }
  }

  .tasks {
    height: calc(100% - 20px);
    overflow: hidden;
    padding-bottom: 260px;

    .card-body {
      height: auto;
      overflow-y: auto;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    .create {
      background-color: #585077;
      color: #fff;
    }

    .card-text {
      padding-right: 50px;
      margin-bottom: 0;
    }

    .image-wrap {
      width: 70px;
      height: 62px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    // Meeting
    .meeting-card {
      width: 100%;
      padding: 1rem;
    }

    .meeting-card-filled {
      // user
      .user {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: .5rem 0 .5rem;

        .dropdown {
          .status-btn {
            max-width: 130px;
          }

          .dropdown-item {
            &:hover {
              color: #fff;
            }
          }
        }

        .user-inner {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 3px;
        }

        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: auto;
          height: 40px;
          margin-left: auto;
          padding: 0 10px;
          background-color: #e8e8e8;
          color: #585077;

          &:focus {
            border-color: transparent;
          }

          span {
            margin: 0 auto;
          }
        }

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #e0e0e0;
        }
      }

      .image-container {
        width: 42px;
        height: 42px;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 8px;
        }
      }

      // EOL: user

      // date
      .date-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: .5rem 0 .5rem;
      }

      .date,
      .address {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        color: #585077;
      }

      .date {
        .fa-calendar {
          margin: 0 10px 0 0;
        }
      }

      .address {
        margin-left: 10px;
      }
      // EOL: date

      // Notes
      .notes {
        padding: .5rem 0 .5rem;
        margin-top: 0;
      }

      .notes-inner {
        width: 100%;
        padding: .5rem .75rem 0;
        background-color: #f5f5f5;
      }
      // EOL: Notes
    }

    // Tasks
    .tasks-list {
      padding: 0 1rem;
    }

    // Tasks filled
    .tasks-list-filled {
      .task-card {
        margin-left: 20px;

        .decoration-element-wizard {
          left: -30px;

          .dashed-line {
            height: 100%;
          }
        }

        .buttons-container {
          width: auto;
          margin-left: auto;
        }

        .todo-time {
          padding-top: 0;

          .time {
            span {
              white-space: nowrap;
            }
          }
        }
      }

      .inner-wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #f9f9f9;
      }

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        margin-right: 10px;
        border-bottom: none !important;

        .image-wrap {
          width: 28px;
          height: 28px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .todo-time {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: auto;
        //margin-left: auto;
        border-bottom: none !important;
      }

      .notes {
        width: 100%;
      }
    }
  }

  .add-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #585077;
    color: #585077;
  }

  .empty-content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
