// Leads List page modal
.leads-list-modal {

  @media(max-width: 1199px) {
    .right-col-inner {
      //height: auto;
      //padding: 0 1rem 1rem;

      & > .row {
        //height: auto;
      }
    }

    .left-col {
      //width: 30%;
      //height: auto;
    }

    .el-name-heading {
      display: block;
      padding: 15px;
      background: #f9f9f9;
      border-bottom: 1px solid #e8e8e8;
    }

    .map {
      margin-top: 10px;
    }

    .meeting-card {
      width: 100%;
    }

    .card {
      padding-bottom: 0;
    }

    .card-header {
      display: block;
      padding: 15px;
      background: #f9f9f9;
      border-bottom: 1px solid #e8e8e8;

      &:after {
        display: none;
      }
    }

    .card-body {
      padding: 0;
    }

    .card-header-inner {
      width: 100%;
    }

    .add-task {
      display: none !important;
    }

    .activity-log-wrap {
      padding-bottom: 1rem;
    }

    .activity-log-inner {
      display: flex;
      flex-direction: column-reverse;
    }

    .controls-col-wrap {
      padding-bottom: 1rem;
    }

    .controls-col-inner {
      margin-top: 10px;
    }

    .task-list {
      .image-wrap {
        width: 6vw;
      }
    }
  }

  @media(max-width: 991px) {
    .leads-summary {
      margin-top: 0;
    }
  }

  @media(max-width: 767px) {}

  @media(max-width: 599px) {
    .modal-dialog {
      margin: 1vh auto;
      width: 98%;
      min-height: 99vh;
      height: auto;
    }
  }
}

