@import 'utils/helpers';
@import 'utils/reset-styles';
@import 'utils/variables';
@import 'modules/form';
@import 'modules/search';
@import 'modules/county-list';


// Wizard new dialog for wrappers and common elements
// Services and Area list popup
// Details
// Success
// COMMON STYLES
.wizard-new-dialog {
  width: 86% !important;
  max-width: 1200px !important;
  min-height: 75vh !important;
  font-family: "Lato", sans-serif;

  // wizard square decoration element
  .decoration-element-wizard {
    position: absolute;
    left: -30px;

    .square {
      display: block;
      width: 18px;
      height: 18px;
      background-color: #585077;
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      border: solid 0.5px #fefefe;
    }

    .dashed-line {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
      //height: 60px;
      display: block;
      border: 1px dashed #585077;
    }
  }

  // input and placeholder equal font size
  .form-control {
    &::placeholder {
      font-size: inherit !important;
    }
  }

  // Modal content
  .modal-content {
    border: none !important;
  }

  // Button close popup
  button.close {
    z-index: 3;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    background-color: #b3b3b3;
    color: #fff;

    &:focus, &:active {
      outline: none;
    }

    span {
      font-size: 2rem;
      margin: 0;
      padding: 0;
      line-height: .5;
    }
  }

  // Sides width
  .left-side {
    width: 25%;
    background-color: #585077;

    .modal-body-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 30px 3vw;

      .text-content {
        width: 100%;
        padding: 20px;
        border-radius: 2.5px;
        background-color: #fffaf0;
        text-align: left;
      }

      .heading {
        margin-bottom: 5px;
      }
    }

    // Image container with pro
    .image-container {
      width: 13vh;
      margin: 2vh auto 0;

      img {
        width: 100%;
      }
    }
  }

  .right-side {
    width: 75%;
    //padding: 30px 30px 30px 30px;
  }

  .right-side-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 65px;
    line-height: 0.83;
    padding: 20px 30px;
    text-align: left;
    color: #585077;
    background-color: #eaeaea;
    font-family: "Raleway", sans-serif;
  }

  // Right side inner if scrolling on page scroll
  .right-side-inner {
    &.scroll {
      padding: 30px 10px 30px 30px;
    }

    &.without-scroll {
      padding: 30px 30px 30px 30px;
    }
  }

  .modal-heading {
    line-height: 1.03;
    font-family: "Raleway", sans-serif;
    color: #585077;
  }

  .modal-sub-heading {
    font-family: "Raleway", sans-serif;
    color: #585077;
  }

  // container styles
  .modal-body-container {
    padding: 30px 4vw;
    margin-top: 20px;
    box-shadow: 0 1.5px 35px 0 rgba(0, 0, 0, 0.04);
    background-color: #f5f5f5;
  }

  .input-group-title {
    margin-bottom: 20px;
  }

  // Modal body
  .modal-body {
    flex-direction: row;
    align-items: stretch;
  }

  .modal-body-col {
    position: relative;
    width: 45%;
  }

  // Modal Footer
  .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 40px;
    border-top: none;
  }

  // Modal Footer Buttons Container
  .buttons-container {
    justify-content: flex-end;
    margin: 0 !important;

    button {
      width: 200px;
      height: 46px;
      background-color: #b3b3b3;
      color: #fff;
      border-radius: 0;

      &.active {
        margin-left: 20px;
        background-color: #585077;
      }
    }
  }
}

//************************ Unique popups styles *************************//

// ******** Services and Area list popup *********//
.wizard-dialog-services-and-locations {
  .select {
    display: none;
  }

  // Right side
  .right-side {
    .modal-title {
      width: 100%;
      padding-left: 30px;
      margin-bottom: 30px;
      color: #342e49;
    }

    // checkboxes list
    .county-list-wrapper {
      padding: 0;
      background-color: transparent;
    }

    .county-list {
      justify-content: space-between;
      max-height: 480px;
      overflow-y: scroll;
      padding-right: 20px;
    }

    .county-item {
      width: 30%;
      padding: 0;
      border-bottom: none !important;

      .custom-control {
        justify-content: space-between;
        padding-left: 0;
      }
    }

    .input-label {
      white-space: nowrap;
    }

    .custom-control-stats {
      color: #b3b3b3 !important;
    }

    // Search for this page
    .search {
      padding-bottom: 20px;
      border-bottom: none;
    }

    .input-group-prepend {
      left: 0;
      right: auto;
    }

    .fa-search {
      color: #b3b3b3;
    }

    .form-control {
      padding-right: 20px;
      padding-left: 40px;
      color: #b3b3b3;

      &::placeholder {
        color: #b3b3b3;
      }
    }
  }

  // Left side
  .left-side {
    .modal-body-content {
      justify-content: flex-start;
      align-items: flex-end;
      padding-right: 0;
    }

    .modal-title {
      width: 100%;
      margin-bottom: 60px;
      color: #ffffff;
      text-align: center;
    }

    // List of countries left
    .list-of-counties {
      width: 100%;
    }

    .counties-list {
      padding: 0;
      margin: 0;
      text-decoration: none;
    }

    .counties-list-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
      padding: 15px 10px;
      margin-right: 10px;
      background-color: transparent;
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: 1px solid transparentize(#fff, 0.5);
      }

      .county-name {
        white-space: nowrap;
        font-weight: bold;
        color: #fff;
      }

      .quantity {
        padding: 3px 9px;
        color: #e6e6e6;
        border-radius: 20px;
        border: solid 0.5px #d6d6d6
      }

      &.active {
        padding: 20px 20px 20px 15px;
        margin-right: 0;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .county-name {
          color: #342e49;
        }

        .quantity {
          display: block;
          padding: 3px 9px;
          color: #585077;
          border-radius: 20px;
          background-color: #e3e3e3;
          font-weight: 300;
          border: none;
        }
      }
    }
  }

  .selected-services {
    white-space: nowrap;
  }
}

// ********  Details Wizard *********//
.wizard-dialog-details {
  .decoration-element-wizard {
    top: 0;

    .dashed-line {
      height: 270px;
    }
  }

  .left-side {
    .modal-body-content {
      //padding-top: 50px;
    }
  }

  .right-side {
    padding: 0 !important;
  }

  .modal-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    //padding: 30px 3vw !important;
  }

  // To remove border around input
  .input-group {
    border: none;
  }

  .input-group-title {
    margin-bottom: 20px;
    font-weight: 300;
    color: #585077;
  }

  .input-group-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    height: 50px;
    margin-top: 20px;
    padding-left: 30px;
    font-family: "Raleway", sans-serif;
    color: #585077;

    span {
      margin-right: 10px;
      white-space: nowrap;
      font-weight: 300;
    }

    .input-group {
      height: 100%;
    }

    select {
      height: 100%;
      background-color: #FFFFFF;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      text-align: left;
      color: #585077;

      option {
        color: #585077;
      }
    }
  }
}

// ********  Success Wizard *********//
.wizard-dialog-success-message {
  .decoration-element-wizard {
    top: -40px;

    .dashed-line {
      height: 70px;
    }
  }

  .modal-body {
    //height: 90vh;
  }

  .modal-body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    //padding: 30px 60px !important;
  }

  .modal-body-col {
    width: 48%;
  }

  .decoration-element-mobile {
    display: none;
  }

  .input-group-title {
    width: 100%;
  }

  .headings-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .headings-container {
      margin-left: 20px;
    }
  }

  .left-side {
    //padding: 30px;
  }

  .right-side {
    .modal-body-container {
      //padding: 30px 60px;
    }

    .input-group {
      .form-control {
        width: 100%;
        padding: 0 40px;
      }

      .fa-key {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        z-index: 100;
      }

      .fa-eye {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        z-index: 100;
      }
    }

    .headings-inner {
      .image-container {

      }
    }
  }
}


// Responsive
//************** OLD MODALS COMMON STYLES **************//
// Services and Area list popup
// Details Wizard
.wizard-new-dialog {
  @media(max-width: 1199px) {
    .modal-footer {
      button {
        width: 180px;
      }
    }
  }

  @media(max-width: 991px) {
    .right-side {
      .right-side-inner {
        .scroll {
          padding: 20px;
        }

        .without-scroll {
          padding: 20px;
        }
      }

      .modal-body {
        width: 100% !important;
      }
    }

    .left-side {
      .image-container {
        width: 13vh !important;
        height: inherit !important;
      }
    }
  }

  @media(max-width: 767px) {
    .left-side {
      display: none;
    }

    .right-side {
      width: 100% !important;
    }

    .modal-body-container {
      flex-direction: column !important;

      .modal-body-col {
        width: 100% !important;
      }
    }

    .modal-body {
      z-index: 2;
      background-color: #fff;
    }

    .decoration-element-wizard {
      display: none;
    }

    .decoration-element-mobile {
      z-index: 1;
      display: block !important;
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translate(0, -50%);
      width: 12px;
      height: 95%;
      border-radius: 20px;
      background-color: #585077;
    }
  }

  @media(max-width: 599px) {
    width: 90% !important;

    .right-side {
      .right-side-header {
        padding: 20px;
      }

      .right-side-inner {
        .without-scroll {
          padding: 20px;
        }
      }

      .modal-body-container {
        padding: 20px !important;
      }

      .input-group-select {
        padding: 0 !important;
      }
    }
  }
}

//************* Services and Area list popup  *************//
.wizard-dialog-services-and-locations {
  @media(max-width: 1199px) {
    .left-side {
      .counties-list-item {
        &.active {
          padding: 15px 10px;
        }
      }
    }

    .right-side {
      .county-item {
        width: 46% !important;
      }
    }
  }

  @media(max-width: 1099px) {
    .right-side {
      .modal-footer {
        button {
          width: 160px;
        }
      }
    }
  }

  @media(max-width: 991px) {
    .right-side {
      .county-item {
        width: 96% !important;
      }

      .modal-title {
        padding-left: 0;
      }

      .modal-footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;

        .buttons-container {
          justify-content: flex-start;
          margin-top: 20px !important;

          button {
            width: 50%;
          }
        }
      }
    }
  }

  @media(max-width: 767px) {
    .modal-content {
      .modal-body {
        flex-direction: column;

        .left-side {
          display: block !important;
          width: 100% !important;
          padding: 0 20px 0 0;

          .counties-list-item {
            &.active {
              border-radius: 5px;
            }
          }

          .modal-title {
            margin-bottom: 30px;
            text-align: left;
          }

          .counties-list {
            display: none;
          }

          // select
          .select {
            display: block !important;
            width: 100%;
            height: 46px;
            padding: 0 10px;
            border: 1px solid #b3b3b3;
            background-color: #fff;
            border-radius: 5px;
            color: #342e49;
            font-weight: 500;
            font-family: "Lato", sans-serif;
          }
        }

        .right-side {
          padding: 20px 10px 20px 0px;
          width: 100% !important;

          .county-list {
            max-height: 40vh !important;
          }

          .county-list-container {
            padding: 20px 10px 20px 20px;
          }
        }
      }
    }
  }

  @media(max-width: 599px) {
    button.close {
      background-color: transparent;
    }
  }
}

//************* Details Wizard *******************//
.wizard-dialog-details {
  @media(max-width: 991px) {
    .input-group-select {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: initial !important;
      padding: 0 30px;

      .input-group {
        height: 50px;
      }

      span {
        margin-bottom: 10px;
      }
    }
  }

  @media(max-width: 767px) {
    .right-side {
      .right-side-header {
        height: 55px;
      }

      .right-side-inner {
        &.without-scroll {
          padding: 10px 20px 10px 20px;
        }
      }

      .input-group {
        height: 45px;
      }

      .modal-heading {
        margin: 10px 0;
        line-height: .75;
      }

      .modal-footer {
        margin-top: 20px;

        .buttons-container {
          width: 100%;
        }
      }

      .input-group-select {
        margin-top: 10px;
      }
    }
  }
}

//************* Success message Wizard *************//
.wizard-dialog-success-message {
  @media(max-width: 991px) {
    .decoration-element-wizard {
      .dashed-line {
        height: 80px;
      }
    }
  }

  @media(max-width: 767px) {
    .modal-body-container {
      .modal-body-col {
        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }
    }

    .decoration-element-wizard {
      .dashed-line {
        height: 150px;
      }
    }
  }
}

//************* Wizard  *************//
.wizard-dialog  {
  @media(min-width: 300px) {
    width: 98%;

    // Success
    .wizard-dialog-success {
      .success-icon {
        img { max-width: 100%; }
      }

      .success {
        padding: 20px 30px;
        margin-top: 20px;
        color: #585077;
      }

      .submit-button {
        margin-top: 140px;
        margin-bottom: 50px;
      }
    }

    .tabs-w {
      height: 40px;

      .tab {
        height: 40px;
        padding: 0 10px;
      }
    }

    form {
      .input-group-select {
        .input-group { width: 64%; }
      }

      .input-group {
        height: 50px;
        margin-bottom: 10px;
      }
    }

    .text-block {
      h5 { text-align: center; }
    }

    .page-content {
      padding: 40px 0 20px;

      .aiqoo-collapse-checkbox-outer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px 6px 20px 20px;
        background-color: #f5f5f5;

        .summary {
          align-self: flex-end;
          margin-top: auto;
          padding-top: 20px;
          padding-right: 20px;
          text-align: right;
        }

        .input-group {
          select { border: 1px solid #ced4da; }
        }
      }

      .aiqoo-collapse-inner {
        padding-right: 20px;
        max-height: 290px;
        overflow-y: scroll;

        i {
          &.fa-times {
            color: #c10404;
          }
        }
      }

      .success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .submit-button {
          .btn {
            border-radius: 0;
          }
        }
      }
    }

    .details {
      width: 55%;
    }

    .services {
      width: 90%;
    }

    .locations {
      width: 90%;
    }

    .buttons-container {
      margin-top: 30px;
    }
  }

  @media(max-width: 767px) {
    margin: 1rem auto;

    .page-content {
      padding: 40px 0 20px;
    }

    .tabs-w {
      .tab > span {
        margin-right: .5rem !important;
      }

      .divider {
        width: 15px;
      }
    }

    .details {
      width: 80%;
    }

    h2 {
      font-size: 1.25rem;
      margin: 15px 0;
    }
    h5 {
      font-size: 1.125rem;
    }
  }

  @media(min-width: 768px) {
    width: 60%;

    // Success
    &.wizard-dialog-success {
      .success {
        margin-top: 50px;
      }
    }

    .tabs-w {
      .divider {
        width: 27px;
      }
    }
  }
  // EOL: 768

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    // Services
    &.wizard-dialog-services {
      width: 620px;
      margin-top: 2rem;

      .aiqoo-collapse-inner {
        max-height: 530px;
      }
    }
  }
  // EOL: 768-1024

  @media(min-width: 1200px) {
    width: 56%;

    // Success
    &.wizard-dialog-success {
      .success {
        padding: 0px 40px;
        margin-top: 20px;
      }

      .text-block {
        h2 {
          margin-top: 3rem;
        }
      }

      .submit-button {
        margin-top: 100px;
        margin-bottom: 40px;
      }
    }

    .tabs-w {
      height: 50px;

      .tab {
        height: 50px;
        padding: 0 14px;
      }
    }

    .text-block {
      padding-top: 20px;

      h2 {
        margin-top: .75rem;
        margin-bottom: .75rem;
        font-size: 1.5rem;
      }
    }

    .page-content {
      padding-top: 20px;
      padding-bottom: 20px;

      .aiqoo-collapse-checkbox-outer {
        .card {
          .fa-times {
            cursor: pointer;
          }
        }
      }
    }

    .buttons-container {
      margin-top: 50px;
    }

    .submit-button {
      button {
        height: 45px;
      }
    }

    form {
      .input-group {
        height: 50px;
        margin-bottom: 1rem;
      }

      .input-group-select {
        .input-group {
          width: 56%;
        }
      }
    }
  } // EOL: 1200

  @media(min-width: 1600px) {
    .page-content {
      padding-top: 50px;
      padding-bottom: 20px;

      &.locations {
        .aiqoo-collapse-checkbox-outer {
          height: inherit;
        }

        .aiqoo-collapse-inner {
          height: 174px;
        }

        .buttons-container {
          margin-top: 40px;
        }
      }
    }

    .details {
      width: 45%;
    }

    .buttons-container {
      margin-top: 80px;
    }
  }
  // EOL: 1600

  @media(min-width: 1920px) {
    .tabs-w {
      height: 66px;

      .tab {
        height: 60px;
        padding: 0 24px;
      }
    }

    .details {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .submit-button {
      button { height: 50px; }
    }

    form {
      .input-group {
        height: 68px;
        margin-bottom: 1.5rem;
      }
    }
  }
}

//************ Locations *************//
.wizard-dialog-locations {
  .locations {
    .text-block {
      padding: 20px 0;
    }
  }
}
