// Cards container
.cards-container {
  width: 100%;
  height: 24vh;
  margin: 2vh 0;
}

// QUALITY Card
.quality-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  color: #574f76;

  .quality-cards-underlay {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: calc(100% + 5px);
    background-color: transparentize(#fff, .1);
    pointer-events: none;
    opacity: 0;

    @media(max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize(#000, .5);
      //pointer-events: auto;
    }
  }

  &.show-underlay {
    @keyframes quality-cards-underlay-enter {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .quality-cards-underlay {
      animation-name: quality-cards-underlay-enter;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      z-index: 10;
      pointer-events: auto;
    }
  }

  &.hide-underlay {
    @keyframes quality-cards-underlay-exit {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    .quality-cards-underlay {
      animation-name: quality-cards-underlay-exit;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      z-index: 10;
      pointer-events: none;
    }
  }
}

.quality-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 31%;
  height: 100%;
  cursor: pointer;
  background-color: #fff;

  &.z-index-0 {
    z-index: 0 !important;
  }

  .read-more {
    display: block;
    margin-top: auto;
    padding: 0;
    font-weight: 300;
    font-size: 2.125vh;
    color: #d8cdba;
  }

  .top-decoration-element {
    width: 100%;
    height: 5px;
  }

  .quality-card-content {
    width: 100%;
    height: 100%;
  }

  .quality-card-content-inner {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1.5px 15px 0 rgba(88, 80, 119, 0.13);

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: -5px;
      transform: translate(-50%);
      width: 100%;
      height: 5px;
    }

    &.big-card {
      transform: scale(.75);
      opacity: 0;
      padding: 1.25vh 1.75vw 1.5vh;
      pointer-events: none;

      .quality-card-text-content {
        transform: scale(0);
        padding: 0;
      }

      .step {
        line-height: 1;
      }
    }
  }

  .quality-card-text-content {
    transform-origin: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1vh 1vw;

  }

  .quality-card-text {
    height: 100%;
    overflow: hidden;
    max-height: 100%;
    line-height: 1.05;
    font-size: 1.75vh;
    color: #574f76;
    text-align: left;

    @media(max-width: 767px) {
      font-size: 2vh !important;
    }
  }

  .step {
    span {
      display: block;
      margin-bottom: 1vh;
      font-size: 2vw;
    }
  }

  // initial styles for card 'a'
  &.a {
    .quality-card-content-inner {
      @media(min-width: 768px) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &:after {
        background-color: #b754c3;
      }

      &.big-card {
        transform-origin: 0 0;
      }
    }

    .step {
      span {
        color: #b754c3;
      }
    }
  }

  // initial styles for card 'b'
  &.b {
    .quality-card-content-inner {
      @media (min-width: 768px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:after {
        background-color: #97bbe0;
      }

      &.big-card {
        transform: translate(-50%, 0%) scale(.75);
        transform-origin: 0% 0%;
      }
    }

    .step {
      span {
        color: #97bbe0;
      }
    }
  }

  // initial styles for card 'c'
  &.c {
    .quality-card-content-inner {
      @media(min-width: 768px) {
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
      }

      &:after {
        background-color: #3b4889;
      }

      &.big-card {
        transform-origin: 100% 0;


        @media(max-width: 767px) {
          transform-origin: 100% 100%;
        }
      }
    }

    .step {
      span {
        color: #3b4889;
      }
    }
  }
}

.quality-card {
  position: relative;

  // Show
  &.show {
    z-index: 10;

    .small-card {
      opacity: .1;
    }

    .big-card {
      @media(max-width: 767px) {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) scale(1) !important;
        max-width: 96% !important;
        height: 70vh;
        padding: 1.5vh 4vw 1.5vh;
      }

      .quality-card-text {
        max-height: inherit !important;
        margin-bottom: 0;
        height: 100%;

        @media(max-width: 767px) {
          span {
            font-size: 2.25vh !important;
          }
        }
      }
    }

    @keyframes big-card-enter-animation-m {
      0% {
        width: 100%;
        opacity: 0;
      }

      100% {
        width: 100%;
        opacity: 1;
      }
    }

    @keyframes big-card-enter-animation {
      0% {
        width: 100%;
        opacity: 0;
        transform: scale(.75) translate(0, -50%);
      }

      100% {
        width: 48.5vw;
        opacity: 1;
        transform: scale(1.15) translate(0, -50%);
      }
    }

    @keyframes big-card-b-enter-animation-m {
      0% {
        width: 100%;
        opacity: 0;
      }

      100% {
        width: 100%;
        opacity: 1;
      }
    }

    @keyframes big-card-b-enter-animation {
      0% {
        transform: scale(.75) translate(-50%, -50%);
        width: 100%;
        opacity: 0;
      }

      100% {
        transform: scale(1.15) translate(-50%, -50%);
        width: 48.5vw;
        opacity: 1;
      }
    }

    @media(max-width: 767px) {
      .step {
        span {
          font-size: 3vh !important;
        }
      }
    }

    .big-card {
      &:not(.b) {
        @media (max-width: 767px) {
          animation-name: big-card-enter-animation-m;
        }
        @media (min-width: 768px) {
          animation-name: big-card-enter-animation;
        }
        animation-duration: 600ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      &.b {
        @media (max-width: 767px) {
          animation-name: big-card-b-enter-animation-m;
        }
        @media (min-width: 768px) {
          animation-name: big-card-b-enter-animation;
        }

        animation-duration: 600ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      .quality-card-text-content {
        @keyframes big-card-text-enter-animation {
          0% {
            transform: scale(0);
            opacity: 0;
          }

          50% {
            opacity: 1;
          }

          100% {
            transform: scale(1);
          }
        }

        animation-name: big-card-text-enter-animation;
        animation-duration: 400ms;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }
    }
  }

  // Hide
  &.hide {
    z-index: 9;

    .small-card {
      opacity: 1;
    }

    @keyframes big-card-exit-animation {
      0% {
        transform: scale(1.15) translate(0, -50%);
        width: 48.5vw;
        opacity: 1;
      }

      50% {
        transform: scale(1.15) translate(0, -50%);
        width: 48.5vw;
        opacity: 1;
      }

      100% {
        transform: scale(.75) translate(0, -50%);
        width: 100%;
        opacity: 0;
      }
    }

    @media(max-width: 767px) {
      @keyframes big-card-exit-animation-m {
        0% {
          transform: scale(1) translate(0, -50%);
          width: 90%;
          height: 150%;
          opacity: 1;
        }

        50% {
          transform: scale(1) translate(0, -50%);
          width: 90%;
          height: 150%;
          opacity: 1;
        }

        100% {
          transform: scale(.75) translate(0, -50%);
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }

    @keyframes big-card-b-exit-animation {
      0% {
        transform: scale(1.15) translate(-50%, -50%);
        width: 48.5vw;
        opacity: 1;
      }

      50% {
        transform: scale(1.15) translate(-50%, -50%);
        width: 48.5vw;
        opacity: 1;
      }

      100% {
        transform: scale(.75) translate(-50%, -50%);
        width: 100%;
        opacity: 0;
      }
    }

    @media(max-width: 767px) {
      @keyframes big-card-b-exit-animation-m {
        0% {
          transform: scale(1) translate(0, -50%);
          width: 90%;
          height: 150%;
          opacity: 1;
        }

        50% {
          transform: scale(1) translate(0, -50%);
          width: 90%;
          height: 150%;
          opacity: 1;
        }

        100% {
          transform: scale(.75) translate(0, -50%);
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }

    .big-card {
      &:not(.b) {
        @media(max-width: 767px) {
          animation-name: big-card-exit-animation-m;
        }
        @media(min-width: 768px) {
          animation-name: big-card-exit-animation;
        }

        animation-duration: 400ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      &.b {
        @media(max-width: 767px) {
          animation-name: big-card-b-exit-animation-m;
        }
        @media(min-width: 768px) {
          animation-name: big-card-b-exit-animation;
        }

        animation-duration: 400ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      .quality-card-text-content {
        @keyframes big-card-text-exit-animation {
          0% {
            transform: scale(1);
            opacity: 1;
          }

          100% {
            transform: scale(0);
            opacity: 0;
          }
        }

        animation-name: big-card-text-exit-animation;
        animation-duration: 400ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }
    }
  }
}
