//
.system-color-1 {
  color: #fdc25d;
}

//
.system-color-2 {
  color: #5d5d5d;
}

//
.system-color-2 {
  color: #fd5d5d;
}

//
.system-color-3 {
  color: #474e83;
}

//
.system-color-4 {
  color: #585077;
}

//
.system-color-5 {
  color: #342e4a;
}

//
.system-color-6 {
  color: #881030;
}

//
.system-color-7 {
  color: #c65dfd;
}

//
.system-color-8 {
  color: #635dfd;
}

//
.system-color-9 {
  color: #12b7aa;
}

//
.system-color-10 {
  color: #ff8000;
}

//
.system-color-11 {
  color: #fd825d;
}

//
.system-color-12 {
  color: #fdae27;
}

//
.system-color-13 {
  color: #fd4196;
}

//
.system-color-14 {
  color: #09fdf6;
}

//
.system-color-15 {
  color: #16fd1b;
}

//
.system-color-16 {
  color: dimgray;
}

//
.system-color-17 {
  color: #c8c8c8;
}

//
.system-color-18 {
  color: mediumseagreen;
}

//
.system-color-19 {
  color: lightcoral;
}

//
.system-color-20 {
  color: coral;
}
