.content-col {
  //position: fixed;
  //width: calc(100vw - 290px - 71px);
  //right: 35px;
}

.content {
  //background-color: coral;
  position: relative;

  .search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    background-color: #fff;
    //background-color: green;
  }

  .task-list {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 50px auto 0;
    padding-top: 50px;
    padding-right: 10px;
  }
}

.content-col {
  padding-right: 0;
}

.content {
  margin-top: 80px;
}

// list-heading
.list-heading {
  margin-top: 24px;

  .list-heading-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //padding-bottom: 10px;
    //border-bottom: solid 1px #f9f9f9;
  }

  .fa-clipboard-list-check {
    width: 14px;
    margin-right: 10px;
  }
}

// EOL: list-heading

// list-body
.list-body {
  margin-top: 24px;

  .label {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 38px;
    padding: 0 20px;
    color: #fff;
  }
}

// EOL: list-body

// task-card
.task-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  border-radius: 6px;
  box-shadow: 0 0.5px 4px 0 rgba(20, 46, 110, 0.1);
  background-color: #fff;
  color: #585077;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  z-index: 2;


  &.confirm {
    .label,
    .colored-circle {
      background-color: #881030;
    }
  }

  &.send-company-info {
    .label,
    .colored-circle {
      background-color: #fd5d5d;
    }
  }

  &.call-back {
    .label,
    .colored-circle {
      background-color: #fdc25d;
    }
  }

  &.setup {
    .label,
    .colored-circle {
      background-color: #12b7aa;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    content: '';
    background: url('../images/dashed-line.png') no-repeat;
    background-size: 10% auto;
    background-position: 0 0;
    width: 10%;
    height: 106%;
    z-index: 1;
  }

  &:after {
    position: absolute;
    top: 16px;
    left: -10px;
    transform: rotate(90deg);
    display: block;
    content: '';
    background: url('../images/dashed-line.png') no-repeat;
    background-size: 10% auto;
    background-position: 0 0;
    width: 10%;
    height: 10%;
    z-index: 1;
  }

  .colored-circle {
    position: absolute;
    top: 17px;
    left: -13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .task-card-inner {
    padding: 10px;
  }

  .user {
    padding: 0 0 10px 0;
    border-bottom: none;
    border-bottom: solid 1px #f9f9f9;
  }

  .gray-title {
    font-weight: 300;
    color: #b3b3b3;
  }
}

// todo-time
.todo-time {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: solid 1px #f9f9f9;

  .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    padding: 10px 0;
  }

  .fa-calendar {
    width: 14px;
    margin-right: 10px;
  }
}

// EOL: todo-time

// client-info-container
.client-info-container {
  margin-left: -10px;
  margin-right: -10px;

  .client-info-heading {
    padding: 0 10px;
  }

  .client-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-color: transparentize(#ededed, .62);
  }

  .client-phone {
    padding: 10px 0;
  }

  .client-location {
    .client-info-heading {
      display: none;
    }
  }

  .fa-user,
  .fa-phone-alt,
  .fa-map-marker-alt {
    width: 14px;
    margin: 0 10px 0 0;
  }
}

// EOL: client-info-container

// notes
.notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 14px;

  .fa-edit {
    margin-right: 20px;
  }

  .text {
    padding: 10px 0;
  }
}

// EOL: notes


// buttons container
.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 30px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #fff;
  }
}

.red-button {
  border: 1px solid #a00303;
  color: #a00303;
}

.green-button {
  border: 1px solid #00aa1a;
  color: #00aa1a
}

// EOL: task-card
