/* line 5, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
.head-section {
  width: 100%;
  height: 19.25vw;
  border-top: 14px solid #d8cdba;
  background: url(../images/sign-in-bg-d.jpg) no-repeat center;
  background-size: cover; }

/* line 13, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
.account-verification {
  margin: -11vw auto 0;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
  border-radius: 5px; }
  /* line 18, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
  .account-verification h5 {
    line-height: 1.5; }
  /* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
  .account-verification .verification-code-container {
    border: none; }
    /* line 25, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
    .account-verification .verification-code-container .form-control {
      border: none; }
      /* line 28, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
      .account-verification .verification-code-container .form-control:focus {
        background-color: transparent; }
    /* line 33, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
    .account-verification .verification-code-container .verification-code {
      width: 100%;
      height: 66px; }
    /* line 38, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
    .account-verification .verification-code-container .code {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      pointer-events: none !important; }
      /* line 49, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
      .account-verification .verification-code-container .code span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 66px;
        border-bottom: 2px solid #585077;
        margin: 0 5px; }

/* line 62, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
.text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0;
  font-family: "Raleway", sans-serif;
  color: #585077; }

/* line 73, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
.account-verification-icon img {
  display: block;
  width: 72px;
  height: 80px; }

/* line 80, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
.verification {
  z-index: 2;
  padding: 0 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19); }

/* line 93, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
.submit-button .btn {
  top: -6px;
  width: 100%;
  height: 74px;
  padding-top: 14px;
  background-color: #585077;
  border-radius: 5px;
  border: none; }
  /* line 102, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
  .submit-button .btn:active {
    background-color: #585077 !important;
    box-shadow: none !important; }
  /* line 107, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
  .submit-button .btn:focus {
    box-shadow: none !important; }
  /* line 111, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/account-verification.scss */
  .submit-button .btn .fa-long-arrow-right {
    position: absolute;
    right: 32px;
    top: 38%;
    font-size: 2.25rem; }

/*# sourceMappingURL=account-verification.css.map */