@media(max-width: 1899px) {}

@media(max-width: 1599px) {}

@media(max-width: 1399px) {}

@media(max-width: 1199px) {
  // Reset common styles
  .content {
    .text {
      font-size: inherit !important;
    }
  }

  // EOL: reset common styles
}

@media(max-width: 999px) {
  // Reset common styles
  .content {
    width: 100% !important;
  }

  .search {
    .input-group {
      width: 100% !important;
    }
  }
  // EOL: reset common styles
}

@media(max-width: 991px) {}

@media(max-width: 767px) {}

@media(max-width: 599px) {
  .account-settings-wrapper {
    position: relative;
    z-index: 2;
    padding: 20px;
  }

  .content {
    padding-left: 0;
  }
}

@media(max-width: 374px) {}
