@import 'variables';

// Dashboard
.dashboard-outer {
  padding-bottom: 80px;
}

// Add company profile
.add-company-profile {
  width: 100%;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-family: "Raleway",sans-serif;

  .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #e0e0e0;

    .tab {
      color: $purple;

      &:not(:last-child) {
        border-right: 1px solid #b1adbb;
      }


      &.active {
        height: 100%;
        background-color: #fff;
        border-right: none;
      }

      .index {
        padding-bottom: 6px;
        border-radius: 2px;
        background-color: #b3b3b3;
        color: #d6d6d6;
      }

      &.active {
        .index {
          background-color: $purple;
          color: #fff;
        }
      }
    }
  }

  .add-company-profile-content {
    .text {
      height: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      color: #342e49;
    }

    .title {
      margin-bottom: 16px;
      color: #342e49;
    }

    .finances {
      .working-hours,
      .payment-method {
        padding-bottom: 26px;
        border-bottom: 1px solid #eeeeee;
      }
    }

    .activity-hours-group {
      .input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: $purple;
      }

      .day-of-the-week {
        //margin-right: 40px;
      }

      .select-group-outer {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .select-group {
        position: relative;

        i {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }

        .custom-select {
          padding: .375rem .75rem .375rem 2.125rem;
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid $purple;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
