@import 'carousel';

.landing-sign-up {
  @media(max-width: 1899px) {
    .container {
      &.container-lg {
        max-width: 1400px;
      }
    }

    .head-section-container {
      max-width: 1400px !important;

    }

    .quality-cards {
      display: flex;
      align-items: center;
    }

    .quality-card-text {
      font-size: 14.75pt;
    }
  }

  @media(max-width: 1599px) {
    .container {
      &.container-lg {
        max-width: 1340px;
      }
    }
  }

  @media(max-width: 1399px) {
    .container {
      &.container-lg {
        max-width: 1140px;
      }
    }

    .head-section-container {
      //max-width: 1140px !important;
    }

    .head-section-body {
      width: 650px;
      padding: 30px 0 70px;
      margin-top: -20px;

      &:before {
        top: 40%;
        max-width: 650px;
        height: 120px;
      }
    }

    .brand-logo {
      width: 200px;
      margin-top: -30px;

      img {
        width: 100%;
        padding: 30px 30px 30px 20px;
      }
    }

    .pro-img {
      left: 70px;
      width: 120px;
    }

    .btn-wrapper {
      width: 420px;
      padding: 50px 0 0 20px;

      h1 {
        line-height: 1;
        padding: 0px 20px 10px 0;
        font-size: 19pt;
      }

      button {
        margin-top: 20px;
      }
    }

    .form-outer {
      min-width: 450px;
    }

    .back-layer {
      max-width: 450px;
    }

    .form-container {
      min-width: 420px;
    }

    .special-offers {
      .offer {
        height: 80px;
        padding-left: 25px;

        span {
          font-size: 19pt;
        }

        .number {
          font-size: 22pt;
        }
      }

      .text {
        font-size: 14pt;
      }
    }

    .section-bottom {
      h1 {
        font-size: 24pt;
      }

      .text {
        font-size: 12pt;
      }

      .bottom-text {
        font-size: 14pt;
      }
    }

    .quality-card {
      height: 210px;
      margin: 0 10px;
    }

    .quality-card-content {
      padding: 15px;
    }

    .quality-card-image {
      height: 30px;
    }

    .quality-card-text {
      font-size: 10.5pt;
    }

    .read-more {
      font-size: 11pt;
      padding-left: 0;
    }
  }

  @media(max-width: 1199px) {
    .container-lg {
      max-width: 960px;
    }

    .head-section {
      //border-top-width: 8px;
    }

    .head-section-body {
      &:before {
        top: 39%;
        max-width: 510px;
        height: 110px;
      }
    }

    .brand-logo {
      img {
        width: 100%;
        padding: 20px 20px 20px 20px;
      }
    }

    h1 {
      font-size: 18.75pt;
    }

    .btn-wrapper {
      width: 430px;
      padding: 50px 0 0 0;

      h1 {
        padding: 0 0 10px 0;
        font-size: 16.5pt !important;
        line-height: 1.35;
      }
    }

    .quality-card {
      margin: 0 5px;

      .quality-card-content {
        padding: 20px 10px 10px 10px;
      }
    }

    .quality-card-image {
      margin-bottom: 20px;
    }

    .quality-card-text {
      font-size: 9pt;
    }

    .form-outer {
      min-width: 400px;
    }

    .back-layer {
      max-width: 400px;
    }

    .form-container {
      min-width: initial;
    }
  }

  @media(max-width: 991px) {
    .head-section-body {
      justify-content: center;
      width: 520px;
      max-width: 96%;
      margin: 0 auto;
      padding: 60px 0;

      &:before {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 520px;
        height: 100px;
        border-radius: 5px;
      }
    }

    .back-layer {
      position: static;
      transform: none;
      width: 96%;
      max-width: 500px;
      margin: 0 auto;

      &.is-active {
        z-index: 9000;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 60px;
        background-color: transparentize(#000, 0.3);

        .special-offers {
          display: none;
        }

        .form-container {
          width: 96%;
          padding-top: 20px;
          background-color: #fff;
          border-radius: 5px;
        }

        .submit-button {
          .btn {
            padding: 0;
          }
        }

        .custom-control-label {
          padding-top: 8px;
        }
      }
    }

    .inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    .form-container {
      width: 100%;

      .sign-up-form {
        margin: 25px 0 35px;
        padding: 0 30px;
      }

      .submit-button {
        .btn {
          padding-top: 8px;
        }
      }
    }

    .brand-logo {
      width: 130px;

      img {
        width: 100%;
      }
    }

    .btn-wrapper {
      align-items: center;
      justify-content: center;
      width: 520px;
      max-width: 96%;
      padding: 70px 0 0 0;

      h1 {
        white-space: nowrap;
      }

      button {
        margin-top: 40px;
      }
    }

    .section-bottom {
      margin-top: 30px;
    }

    .quality-cards {
      display: flex;
      align-items: initial;
      flex-direction: initial;
      margin-top: 0;
    }

    .quality-card {
      width: 96%;
      height: 200px;
      margin-bottom: 10px;

      .quality-card-content {
        padding: 20px 20px 10px;

        &:before {
          top: 0;
        }
      }
    }

    .quality-card-image {
      margin-bottom: 10px;
    }

    .quality-card-text {
      font-size: 12.25pt;
    }

    // Section-bottom
    .section-bottom {
      .top-text {
        font-size: 11.25pt;

        span {
          font-size: 11.25pt;
        }
      }

      .cards-container {
        max-width: 380px;
        margin: 30px auto;
      }

      .bottom-text {
        margin: 20px 0;
        font-size: 10.5pt;
      }
    }

    .about-aiq {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media(max-width: 767px) {
    .head-section-body {
      &:before {
        top: 33%;
      }
    }

    .btn-wrapper {
      padding: 0 0 0 0;

      h1 {
        text-align: center;
        white-space: normal;
      }
    }

    .back-layer {
      max-width: initial;
    }

    .sign-up-form {
      .custom-control-label {
        padding-top: 0;
      }
    }

    .form-outer {
      min-width: initial;
    }

    .label {
      padding-left: 20px;

      img {
        width: 80%;
      }
    }

    .form-container {
      margin-left: auto;
      margin-right: auto;
    }

    .offers {
      .offer {
        padding-left: 16px;

        &:after {
          right: -14px;
          border-top: 18px solid transparent;
          border-bottom: 18px solid transparent;
          border-right: 27px solid #fff;
        }

        .fa-check {
          margin-right: 14px;
        }

        span {
          line-height: 1.5;
          font-size: 13pt;
        }

        .number {
          font-size: 16pt;
        }
      }
    }
  }

  @media(min-width: 992px) {
    .quality-card {
      &.scaled-up {
        z-index: 9;

        .quality-card-content {
          transform: scale(1.15);
        }
      }

      &:hover {
        z-index: 10;

        .quality-card-content {
          transform: scale(1.15);
        }
      }
    }
  }

  //@media (min-width: 992px) {
  //  .quality-card {
  //    &.scaled-up {
  //      z-index: 9;
  //
  //      .quality-card-content {
  //        transform: scale(1.15);
  //      }
  //    }
  //
  //    &:hover {
  //      z-index: 10;
  //
  //      .quality-card-content {
  //        transform: scale(1.15);
  //      }
  //    }
  //  }
  //}
}
