& {
  flex-grow: 1;
  display: flex;
  font-family: 'Lato', sans-serif;

  .container-fluid {
    flex-grow: 1;
  }
}

.row-outer {
  height: 100%;
}

// LEFT SIDE
.left-side-col {
  position: relative;
  z-index: 2;
  width: 15%;
  min-width: 250px;
}

.left-side-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  min-width: 250px;
  height: 100%;
  background-image: linear-gradient(to bottom, #585077 71%, #696577);
  box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.11);
  transition: transform 300ms ease;
}

.mobile-menu-ope-btn {
  display: none;
}

.underlay {
  display: none;
}

.top-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

// Menu
.menu-d-col {
  width: 100%;
  margin-top: 50px;
}

.menu-container-d {
  width: 100%;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //align-items: center;
  width: 100%;
}

// desktop menu items
.menu-item-d {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  height: 50px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: transparent;

  .menu-item-icon {
    display: flex;
    align-items: center;
    width: 20px;
  }

  .menu-item-icon-default {
    display: flex;
    justify-content: flex-end;
  }

  .menu-item-icon-active {
    display: none;
  }

  // Border for all except the last one
  &:not(:last-of-type) {
    border-bottom: 1px solid transparentize(#fff, .65);
  }

  // active menu item state
  &:hover, &.is-active {
    position: relative;
    margin-left: -10px;
    border-bottom: none;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: -14px;
      width: calc(100% + 44px);
      height: 100%;
      border-left: 5px solid #d8cdba;
      box-shadow: 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      border-top-right-radius: 2.5px;
      border-top-left-radius: 2.5px;
    }

    .menu-item-name {
      position: relative;
      z-index: 1;
      color: #585077;
    }

    .menu-item-icon-default {
      display: none;
    }

    .menu-item-icon-active {
      display: flex;
      transform: translate(0, 0);
    }
  }

  @media(min-width: 992px) {
    cursor: pointer;
  }
}

.menu-item-name {
  line-height: 1.125;
  margin-left: 15px;
  font-size: 1.125rem;
  color: #fff;
}

// RIGHT SIDE
.right-side-container {
  position: relative;
  width: 100%;
  height: 100%;

  .page-title {
    line-height: 1.04;
    margin-bottom: 10px;
    color: $purple;
    font-size: 1.35rem;
    white-space: nowrap;
  }
}

.fixed-top-panel-d {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  max-width: calc(100% - 15%);
  height: 100px;
  background-color: #fff;
}

.right-side-col {
  position: relative;
}

.dummy-content {
  width: 15%;
  min-width: 250px;
  height: 100px;
  pointer-events: none;
}

.right-side-content-col {
  pointer-events: none;
}

.right-side-content-inner {
  width: 100%;
  margin-top: 120px;
  pointer-events: auto;
}

.sub-menu-list {}

.sub-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.sub-menu-item {
  display: block;
  line-height: 1.25;
  color: #585077;
  margin: 0 15px;
  padding: 10px 0;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    position: relative;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 120%;
      height: 4px;
      display: block;
      content: '';
      background-color: $purple;
    }
  }

  &.is-active {
    position: relative;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 120%;
      height: 4px;
      display: block;
      content: '';
      background-color: $purple;
    }
  }

  &.more-btn {
    &:hover {
      &::after {
        display: none;
      }
    }

    &.is-active {
      &::after {
        display: none;
      }
    }
  }

  &:first-of-type {
    margin: 0 15px 0 0;
  }

  &:last-of-type {
    //margin: 0 0 0 15px;
  }
}

.sub-menu-container-inner {
  border-bottom: 2px solid #d7d7d7;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #fff;

  .row {
    flex-wrap: nowrap;
  }
}

.sub-menu-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 70%;
  height: 100px;
  padding-top: 25px;
  width: auto;
}

// More btn navigation
.more-btn {
  .more-btn-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  i {
    //font-size: 1.25rem;
    margin-right: 8px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: #585077;
    font-weight: 300;
  }

  .sub-menu-container {
    display: none;
  }

  &:hover {
    .sub-menu-container {
      display: block;
      padding-top: 34px;
      width: 200px;
      height: 200px;
      position: absolute;
      bottom: 34px;
      left: 0;
      transform: translate(0, 100%);
      z-index: 10;
    }

    .hide-sub-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      padding-inline-start: 0;
      border-radius: 5px;
      background-color: #ffffff; //
      box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
    }

    .hide-sub-menu > li {
      margin: 2px 0;
      padding: 10px 15px;
      list-style: none;
      font-size: 1rem;
      color: $purple;

      &:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
      }
    }

    .hide-sub-menu > li > a {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .hide-sub-menu > li > a i {
      font-size: 1.5rem;
      margin-right: 8px;
      text-align: center;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      color: #585077;
      font-weight: 300;
    }
  }
}

// User settings
.user-settings-col {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  height: 100px;
  padding-bottom: 8px;
  margin-left: auto;
}

.notification {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  //margin-bottom: 20px;
  height: 100%;

  &.notification-1 {
    .notification-button-icon {
      padding: 8px;
    }
  }
}

.notification-button {
  width: 40px;
  height: 40px;

  &.is-active {
    .notification-button-icon {
      background-color: #fff;
    }
  }

  @media(min-width: 992px) {
    cursor: pointer;
  }
}

.notification-button-icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  i {
    position: absolute;
    top: 8px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    border-radius: 50%;
    background-color: #fdc25d;
    font-size: .5rem;

  }
}

// Dropdown
.dropdown-info,
.dropdown-list {
  &.visible {
    position: absolute;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 180px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  &.invisible {
    display: none;
  }
}

.dropdown-list {
  &.visible {
    bottom: 0;
    transform: translate(-50%, 100%);
    max-height: 465px;
  }
}

.notification-2 {
  .dropdown-list {
    &.visible {
      .icon-container {
        background-color: #dd0000;
      }
    }
  }
}

.dropdown-info {
  &.visible {
    top: 110%;
    transform: translate(-50%, 0%);
    max-height: 530px;
  }
}

.dropdown-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 2px;

  @media(min-width: 992px) {
    cursor: pointer;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
  }

  &:not(:first-child) {
    margin-top: 5px;
  }
}

.icon-container {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  padding: 5px;
  border-radius: 1px;
  background-color: #eaeaea;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  flex-grow: 1;
  margin-left: 6px;
  color: $purple;
}

.item-title {
  font-size: .75rem;
}

.item-text {
  font-size: .65rem;
}

.item-time {
  align-self: flex-end;
  font-size: .5rem;
  color: #b3b3b3;
}

.settings-inner-d {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.settings-inner-m {
  display: none;
}

// User info
.user {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 8px;
  margin-left: 20px;

  &::after {
    position: absolute;
    left: -.75em;
    bottom: .4em;
    top: auto;
    content: "";
    display: block;
    border-top: 1px solid transparent;
    border-right: 1px solid #342e4a;
    border-bottom: 1px solid #342e4a;
    border-left: 1px solid transparent;
    width: 5px;
    height: 5px;
    transform: rotate(45deg)
  }
}

.info {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-left: 10px;
}

.info-inner {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  padding-right: 10px;
  color: #585077;

  @media(min-width: 1000px) {
    cursor: pointer;
  }
}

.name-wrap {
  white-space: nowrap;
  text-align: right;
}

.company {
  font-weight: 300;
  white-space: nowrap;
  text-align: right;
}

.image-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  background-color: #585077;

  .image-container {
    width: 60px;
    height: 60px;
    padding: 3px;
    border-radius: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}


// Right side CONTENT part
.create-area-outer {

}

.create-area-inner {

}

.search-new {
  h5 {

  }
}

// Button small (Create, Done)
.layout-button-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #585077;
  color: #fff;
}

.show-in-991 {
  @media(max-width: 991px) {
    display: block !important;
  }
}
