& {
  flex-grow: 1;
  display: flex;
  font-family: 'Lato', sans-serif;

  .container-fluid {
    flex-grow: 1;
  }
}

.row-outer {
  height: 100%;
}

// LEFT SIDE
.left-side-col {
  position: relative;
  z-index: 2;
  width: 15%;
  min-width: 250px;
}

.left-side-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  min-width: 250px;
  height: 100%;
  background-image: linear-gradient(to bottom, #585077 71%, #696577);
  box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.11);
}

.top-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

// Menu
.menu-d-col {
  width: 100%;
  margin-top: 50px;
}

.menu-container-d {
  width: 100%;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //align-items: center;
  width: 100%;
}

// desktop menu items
.menu-item-d {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  height: 50px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: transparent;

  .menu-item-icon {
    display: flex;
    align-items: center;
    width: 20px;
    //background-color: coral; // !!! remove
  }

  .menu-item-icon-default {
    display: flex;
    justify-content: flex-end;
  }

  .menu-item-icon-active {
    display: none;
  }

  // Border for all except the last one
  &:not(:last-of-type) {
    border-bottom: 1px solid transparentize(#fff, .65);
  }

  // active menu item state
  &:hover, &.is-active {
    position: relative;
    //margin-right: 0;
    margin-left: -10px;
    //padding-left: 40px;
    border-bottom: none;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: -14px;
      width: calc(100% + 44px);
      height: 100%;
      border-left: 5px solid #d8cdba;
      box-shadow: 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      border-top-right-radius: 2.5px;
      border-top-left-radius: 2.5px;
    }

    .menu-item-name {
      position: relative;
      z-index: 1;
      color: #585077;
    }

    .menu-item-icon-default {
      display: none;
    }

    .menu-item-icon-active {
      display: flex;
      //justify-content: flex-start;
      transform: translate(0, 0);
    }
  }

  @media(min-width: 992px) {
    cursor: pointer;
  }
}

.menu-item-name {
  line-height: 1.125;
  margin-left: 15px;
  font-size: 1.125rem;
  color: #fff;
}

// RIGHT SIDE
.right-side-container {
  position: relative;
  width: 100%;
  height: 100%;

  .page-title {
    line-height: 1.04;
    margin-bottom: 20px;
    color: $purple;
    font-size: 1.35rem;
  }
}

.fixed-top-panel-d {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  //background-color: lightcoral; // !!!! remove
}

.right-side-col {
  position: relative;
  width: 15%;
  min-width: 250px;
}

.dummy-content {
  width: 15%;
  min-width: 250px;
  height: 100px;
  pointer-events: none;
  background-color: lightgrey; //
}

.right-side-content-col {
  pointer-events: none;
}

.right-side-content-inner {
  width: 100%;
  margin-top: 120px;
  pointer-events: auto;
}

.sub-menu-list {}

.sub-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-menu-item {
  display: block;
  line-height: 1.25;
  font-size: 1rem;
  color: #585077;
  margin: 0 15px;
  padding: 10px 0;

  @media(min-width: 992px) {
    cursor: pointer;
  }

  &:hover, &.is-active {
    position: relative;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 120%;
      height: 4px;
      display: block;
      content: '';
      background-color: $purple;
    }
  }

  &:first-of-type {
    margin: 0 15px 0 0;
  }

  &:last-of-type {
    //margin: 0 0 0 15px;
  }
}

.sub-menu-container-inner {
  border-bottom: 2px solid #d7d7d7;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #fff;
}

.sub-menu-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  height: 100px;
  padding: 25px 15px 0;
}

// User settings
.user-settings-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
  //background-color: coral; // !!!! remove
}

.notification {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
  height: 100%;

  &.notification-1 {
    .notification-button-icon {
      padding: 8px;
    }
  }
}

.notification-button {
  width: 40px;
  height: 40px;

  &.is-active {
    .notification-button-icon {
      background-color: #fff;
    }
  }

  @media(min-width: 992px) {
    cursor: pointer;
  }
}

.notification-button-icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  i {
    position: absolute;
    top: 8px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    border-radius: 50%;
    background-color: #fdc25d;
    font-size: .5rem;

  }
}

// Dropdown
.dropdown-list {
  //transform: translate(-100%, 0);
  //opacity: 0;
  //transition: opacity 200ms ease;


  &.visible {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    //opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 180px;
    //height: 113px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  &.invisible {
    display: none;
  }
}

.dropdown-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 2px;

  @media(min-width: 992px) {
    cursor: pointer;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
  }

  &:not(:first-child) {
    margin-top: 5px;
  }
}

.icon-container {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  padding: 5px;
  border-radius: 1px;
  background-color: #eaeaea;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  flex-grow: 1;
  margin-left: 6px;
  color: $purple;
}

.item-title {
  font-size: .75rem;
}

.item-text {
  font-size: .65rem;
}

.item-time {
  align-self: flex-end;
  font-size: .5rem;
  color: #b3b3b3;
}

.settings-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
