& {
  flex-grow: 1;
  display: flex;
  font-family: 'Lato', sans-serif;

  .container-fluid {
    flex-grow: 1;
  }
}

.row-outer {
  height: 100%;
}

// LEFT SIDE
.left-side-col {
  position: relative;
  z-index: 2;
  width: 15%;
  min-width: 250px;
}

.left-side-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  min-width: 250px;
  height: 100%;
  background-image: linear-gradient(to bottom, #585077 71%, #696577);
  box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.11);
}

.top-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

// Menu
.menu-d-col {
  width: 100%;
  margin-top: 50px;
}

.menu-container-d {
  width: 100%;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //align-items: center;
  width: 100%;
}

// desktop menu items
.menu-item-d {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  height: 50px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: transparent;

  .menu-item-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20px;
    //background-color: coral; // !!! remove
  }

  .menu-item-icon-default {
    display: flex;
  }

  .menu-item-icon-active {
    display: none;
  }

  // Border for all except the last one
  &:not(:last-of-type) {
    border-bottom: 1px solid transparentize(#fff, .65);
  }

  // active menu item state
  &:hover, &.is-active {
    transform: translate(4px, 0);
    width: calc(100% + 4px);
    margin-right: 0;
    margin-left: -10px;
    padding-left: 40px;
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    box-shadow: 0 1.5px 7.5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-bottom: none;
    border-left: 5px solid #d8cdba;

    .menu-item-name {
      color: #585077;
    }

    .menu-item-icon-default {
      display: none;
    }

    .menu-item-icon-active {
      display: flex;
    }
  }

  @media(min-width: 992px) {
    cursor: pointer;
  }
}

.menu-item-name {
  line-height: 1.125;
  margin-left: 15px;
  font-size: 1.125rem;
  color: #fff;
}

// RIGHT SIDE
.right-side-container {
  position: relative;
  width: 100%;
  height: 100%;

  .page-title {
    line-height: 1.04;
    color: $purple;
    font-size: 1.35rem;
  }
}

.fixed-top-panel-d {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  //background-color: lightcoral; // !!!! remove
}

.right-side-col {
  position: relative;
  width: 15%;
  min-width: 250px;
}

.dummy-content {
  width: 15%;
  min-width: 250px;
  height: 100px;
  pointer-events: none;
  background-color: lightgrey; //
}

.right-side-content-col {
  pointer-events: none;
}

.right-side-content-inner {
  width: 100%;
  margin-top: 120px;
  pointer-events: auto;
}

.sub-menu-list {}

.sub-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-menu-item {
  display: block;
  line-height: 1.25;
  font-size: 1rem;
  color: #585077;
  margin: 0 15px;
  padding: 10px 0;

  @media(min-width: 992px) {
    cursor: pointer;
  }

  &:hover, &.is-active {
    position: relative;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 120%;
      height: 4px;
      display: block;
      content: '';
      background-color: $purple;
    }
  }

  &:first-of-type {
    margin: 0 15px 0 0;
  }

  &:last-of-type {
    //margin: 0 0 0 15px;
  }
}

.sub-menu-container-inner {
  border-bottom: 2px solid #d7d7d7;
  margin-right: 15px;
  margin-left: 15px;
}

.sub-menu-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  padding: 25px 15px 0;
  //background-color: transparentize(#ccc, .6);
}

.user-settings-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
  background-color: coral; // !!!! remove
}
