@media(max-width: 1899px) {}

@media(max-width: 1599px) {}

@media(max-width: 1399px) {
  .menu-item-d {
    width: calc(100% - 20px);

    &.is-active {
      &::before {
        width: calc(100% + 24px);
      }
    }
  }

  .left-side-col {
    min-width: 200px;
  }

  .left-side-container {
    min-width: 200px;
  }

  .sub-menu-col {
    max-width: 50%;
  }

  .fixed-top-panel-d {
    width: calc(100% - 200px);
  }
}

@media(max-width: 1299px) {
  // User info
  .user {
    //margin-right: 10px;
    //margin-left: 10px;
  }

  // Area-list-outer
  .areas-list-outer {
    padding: 1.5rem 1.5rem;
  }
}

@media(max-width: 1199px) {
  // User info
  .user {
    //margin-right: 0;
    //margin-left: 10px;
  }
}

@media(max-width: 1120px) {
  .notification-button-icon {
    i {
      padding: 1px 3.5px;
      top: 6px;
      right: 5px;
    }
  }

  .notification-button {
    width: 35px;
    height: 35px;
  }
}

@media(max-width: 1100px) {
  //.sub-menu-item {
  //  margin: 0 6px;
  //
  //  &:first-of-type {
  //    margin: 0 6px 0 0;
  //  }
  //}
}

@media(max-width: 1070px) {
  .sub-menu-col {
    //flex-grow: 1;
  }
}

@media(max-width: 1024px) {

}

@media(max-width: 999px) {
  //.sub-menu-col {
  //  max-width: 50%;
  //}
  //
  //.left-side-col {
  //  min-width: 200px;
  //}
  //
  //.left-side-container {
  //  min-width: 200px;
  //}
  //
  //.fixed-top-panel-d {
  //  width: calc(100% - 200px);
  //}
}

@media(max-width: 991px) {
  .sub-menu-items {
    .more-btn {
      display: none !important;
    }
  }

  .sub-menu-item {
    &:hover {
      &:after {
        display: none;
      }
    }
  }

  .card {
    padding: 0 8px;
  }

  .areas-list-outer {
    //padding: 2rem 1rem;
  }

  // SWIPER
  //::-webkit-scrollbar {
  //  width:0;
  //  height:0;
  //}
  //
  //::-webkit-scrollbar-thumb {
  //  background: transparent;
  //}
  //
  //::-webkit-scrollbar-track {
  //  background-color: transparent;
  //}
  //
  //* {
  //  box-sizing: border-box;
  //}
  //
  //.sub-menu-col {
  //  .sub-menu-item {
  //    display: inline-block;
  //    padding: 0;
  //    margin: 0 12px;
  //    white-space: nowrap;
  //
  //    &:first-of-type {
  //      margin: 0 12px 0 0;
  //    }
  //  }
  //}
  //
  //.sub-menu-lists {
  //  max-width: 600px;
  //  height: 40px;
  //  line-height: 2.5;
  //  margin: 0 auto;
  //
  //  .sub-menu-items {
  //    -webkit-overflow-scrolling: touch;
  //    display: flex;
  //    overflow-y: auto;
  //    white-space: nowrap;
  //  }
  //}

  // Sub-menu
  .sub-menu-lists {
    max-width: inherit;
  }

  .user-settings-col {
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    padding-bottom: 0;
  }

  .settings-inner-d {
    height: 100%;
    //background-color: coral;
  }

  .user {
    padding-top: 0;
    align-items: center;
    justify-content: center;
  }

  .dropdown-info {
    &.visible {
      top: 120%;
    }
  }

  .info {
    height: 50%;
    //order: 3;
    margin-left: 0;
    margin-bottom: 0;
    align-items: inherit;
  }

  .image-container {
    width: 50px !important;
    height: 50px !important;
    padding: 2px 4px !important;

    &::before {
      height: 110% !important;
      transform: translate(-50%, 0) !important;
    }
  }

  .dropdown-info {
    &.visible {
      left: auto;
      //right: 0;
      //transform: translate(0, 0);
    }
  }

  // settings inner
  .settings-inner-d {
    //display: none;
  }

  .settings-inner-m {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .875rem;
    //background-color: coral; // remove
  }
}


@media(max-width: 899px) {
  .create-area-outer {
    padding: .75rem 1.25rem;
  }

  .areas-list-outer {
    padding: .75rem 1.25rem;
  }
}


@media(max-width: 850px) {
  .card {
    padding: 0 4px;
  }
}


@media(max-width: 767px) {
  .sub-menu-item {
    margin: 0px 10px;
  }
  .dropdown-info {
    &.visible {
      top: 140%;
    }
  }
}

@media(max-width: 599px) {
  // Left side container
  .left-side-col {
    z-index: 20;
    position: static;
    min-width: inherit;
    width: auto;
    padding: 0;
  }

  .left-side-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-110%, 0);
    width: 90%;
    max-width: 450px;
  }

  .mobile-menu-ope-btn {
    z-index: 12;
    position: fixed;
    flex: 1;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .left-side-container {
    &.is-active {
      transform: translate(0, 0);
    }
  }

  .underlay {
    &.is-active {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparentize(#000, .5);
    }
  }

  .fixed-top-panel-d {
    width: 100%;
    max-width: 100%;
  }

  // Right side col
  .right-side-col {
    .sub-menu-col {
      padding-left: 70px;
    }
  }

  // Results
  .results {
    .item {
      width: auto;
      margin-bottom: 1rem !important;
      padding: .25rem .875rem;
    }
  }
}

@media(max-width: 374px) {}



