/* line 1, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.head-section {
  width: 100%;
  height: 19.25vw;
  border-top: 14px solid #d8cdba;
  background: url("../images/sign-in-bg-d.jpg") no-repeat center;
  background-size: cover; }

/* line 11, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .sign-in-and-sign-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 450px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
  border-radius: 5px; }

/* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page a {
  display: block;
  color: #585077; }
  /* line 26, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page a:hover, .sign-in-and-sign-up-page a:focus {
    color: #585077; }

/* line 33, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .tabs {
  z-index: 4;
  bottom: -4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: linear-gradient(#fff, #f1f0f4); }
  /* line 44, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .tabs .divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 46px;
    background-color: #585077; }
  /* line 54, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .tabs .tab {
    width: 49%;
    line-height: 1.5;
    padding: 26px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #b3b3b3;
    text-align: center;
    cursor: pointer; }
    /* line 64, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .sign-in-and-sign-up-page .tabs .tab.active {
      position: relative;
      color: #585077;
      font-weight: 900; }
      /* line 69, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
      .sign-in-and-sign-up-page .tabs .tab.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        content: '';
        width: calc(100% - 64px);
        height: 4px;
        background-color: #585077; }

/* line 84, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0; }

/* line 91, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-control-label {
  font-size: 1.25rem; }
  /* line 94, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-control-label:before {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    border: .5px solid #d6d6d6;
    background-color: #ffffff; }

/* line 103, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-control-input:checked ~ .custom-control-label:before {
  border-color: #d6d6d6;
  background-color: #ffffff; }

/* line 108, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-control-input:checked ~ .custom-control-label:after {
  left: -16px;
  width: 24px;
  height: 24px;
  border-radius: 1px;
  background-color: #585077;
  background-image: none; }

/* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .terms-and-conditions:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #585077; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0;
  font-family: "Raleway", sans-serif;
  color: #585077; }

/* line 140, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .submit-button {
  background-color: #585077;
  border-radius: 5px;
  z-index: 1; }
  /* line 145, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .submit-button .btn {
    top: -6px;
    width: 100%;
    height: 74px;
    padding-top: 14px;
    background-color: #585077;
    border-radius: 5px;
    border: none; }
    /* line 154, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .sign-in-and-sign-up-page .submit-button .btn:active {
      background-color: #585077 !important;
      box-shadow: none !important; }
    /* line 159, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .sign-in-and-sign-up-page .submit-button .btn:focus {
      box-shadow: none !important; }
    /* line 163, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .sign-in-and-sign-up-page .submit-button .btn .fa-long-arrow-right {
      position: absolute;
      right: 32px;
      top: 38%;
      font-size: 2.25rem; }

/* line 172, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .options {
  display: flex;
  flex-direction: row;
  margin-top: 20px; }

/* line 178, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .sign-in,
.sign-in-and-sign-up-page .sign-up {
  z-index: 2;
  min-height: 420px;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
  font-family: "Raleway", sans-serif;
  color: #585077; }

/* line 191, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .input-group-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* line 198, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap; }

/* line 206, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .input-group {
  height: 68px;
  border-radius: 2.5px;
  border: 1px solid #ced4da;
  background-color: #fff; }

/* line 213, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-select {
  height: 100%; }

/* line 217, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .form-control {
  height: 100%;
  color: #585077;
  border-left: none;
  font-size: 1.25rem; }
  /* line 223, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .form-control:focus {
    border: 1px solid #ced4da;
    border-radius: 2.5px;
    border-left: 0; }
  /* line 229, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .form-control::-webkit-input-placeholder {
    height: 100%;
    color: #585077;
    font-size: 1.25rem; }
  /* line 234, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .form-control::-moz-placeholder {
    height: 100%;
    color: #585077;
    font-size: 1.25rem; }
  /* line 239, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .form-control:-ms-input-placeholder {
    height: 100%;
    color: #585077;
    font-size: 1.25rem; }
  /* line 244, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .form-control:-moz-placeholder {
    height: 100%;
    color: #585077;
    font-size: 1.25rem; }

/* line 251, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .input-group-text {
  height: 100%;
  color: #585077;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: transparent;
  border-right: none; }
  /* line 261, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .input-group-text .input-group-aiqoo-text {
    min-width: initial; }
  /* line 265, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .input-group-text .far {
    font-size: 1.5rem; }
  /* line 269, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .input-group-text:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 2px;
    height: 65%;
    background-color: #dedede; }

/* line 283, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .input-group-password .fa-eye {
  z-index: 3;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #585077; }

/* line 293, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .input-group-password .form-control {
  padding-right: 50px; }

/* line 298, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0; }
  /* line 305, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-checkbox .custom-control-label:before {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    border: .5px solid #d6d6d6;
    background-color: #ffffff; }
  /* line 314, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    border-color: #d6d6d6;
    background-color: #ffffff; }
  /* line 319, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
    left: -16px;
    width: 24px;
    height: 24px;
    border-radius: 1px;
    background-color: #585077;
    background-image: none; }
  /* line 328, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-checkbox .terms-and-conditions {
    margin-left: 5px;
    color: #585077; }
    /* line 332, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .sign-in-and-sign-up-page .custom-checkbox .terms-and-conditions:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #585077; }

/* line 345, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .forgot-password {
  margin-left: auto;
  font-size: 1.25rem; }

/* line 350, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-control {
  display: flex;
  flex-direction: row;
  align-items: center; }
  /* line 355, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-control .custom-control-label {
    padding-top: .025em; }
    /* line 358, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .sign-in-and-sign-up-page .custom-control .custom-control-label:before {
      top: 0; }
  /* line 361, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-control .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent !important; }
  /* line 365, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-control .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("../images/confirm-7.svg"); }

/* line 372, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-control-label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem; }
  /* line 380, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up-page .custom-control-label::before, .sign-in-and-sign-up-page .custom-control-label::after {
    display: none; }

/* line 386, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-checkbox-ui {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 1px solid #585077;
  border-radius: 5px; }

/* line 398, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.sign-in-and-sign-up-page .custom-control-input:checked ~ .custom-checkbox-ui::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../images/confirm-7.svg) no-repeat center;
  background-size: 50% auto; }

/* line 415, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.account-verification-page .verification {
  min-height: 510px; }

/* line 419, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.account-verification-page .account-verification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 450px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
  border-radius: 5px; }
  /* line 429, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .account-verification-page .account-verification h5 {
    line-height: 1.5; }
  /* line 433, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .account-verification-page .account-verification .verification-code-container {
    border: none; }
    /* line 436, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .account-verification-page .account-verification .verification-code-container .form-control {
      border: none; }
      /* line 439, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
      .account-verification-page .account-verification .verification-code-container .form-control:focus {
        border: 1px solid #ced4da;
        border-radius: 2.5px;
        border-left: 0;
        background-color: transparent; }
    /* line 447, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .account-verification-page .account-verification .verification-code-container .verification-code {
      width: 100%;
      height: 66px; }
    /* line 452, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .account-verification-page .account-verification .verification-code-container .code {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 1.5rem;
      pointer-events: none !important; }
      /* line 464, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
      .account-verification-page .account-verification .verification-code-container .code span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 66px;
        border-bottom: 2px solid #585077;
        margin: 0 5px; }

/* line 477, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.account-verification-page .text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0;
  font-family: "Raleway", sans-serif;
  color: #585077; }

/* line 488, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.account-verification-page .account-verification-icon img {
  display: block;
  width: 72px;
  height: 80px; }

/* line 495, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.account-verification-page .verification {
  z-index: 2;
  padding: 0 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19); }

/* line 503, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.account-verification-page .submit-button {
  background-color: #585077;
  border-radius: 5px;
  z-index: 1; }
  /* line 508, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .account-verification-page .submit-button .btn {
    top: -6px;
    width: 100%;
    height: 74px;
    padding-top: 14px;
    background-color: #585077;
    border-radius: 5px;
    border: none; }
    /* line 517, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .account-verification-page .submit-button .btn:active {
      background-color: #585077 !important;
      box-shadow: none !important; }
    /* line 522, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .account-verification-page .submit-button .btn:focus {
      box-shadow: none !important; }
    /* line 526, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .account-verification-page .submit-button .btn .fa-long-arrow-right {
      position: absolute;
      right: 32px;
      top: 38%;
      font-size: 2.25rem; }

/* line 536, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.input-label {
  padding-left: 10px; }

/* line 540, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.logo2 {
  width: 168px; }

/* line 544, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
h5 {
  white-space: nowrap; }

/* line 548, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.pos-r {
  position: relative; }

/* line 552, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.ma-t-5 {
  margin-top: 5px !important; }

/* line 556, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.ma-b-5 {
  margin-bottom: 5px !important; }

/* line 560, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.font-weight-semi-bold {
  font-weight: 800; }

/* line 564, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.font-weight-500 {
  font-weight: 500 !important; }

/* line 568, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.font-r-14 {
  font-size: 1.4rem !important; }

/* line 572, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.font-r-16 {
  font-size: 1.6rem !important; }

/* line 576, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.mb-4 {
  margin-bottom: 1.5rem !important; }

/* line 580, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
.cursor-p {
  cursor: pointer; }

@media (max-width: 1199px) {
  /* line 593, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .font-r-14 {
    font-size: 1.26rem !important; }
  /* line 596, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .font-r-16 {
    font-size: 1.44rem !important; } }

@media (max-width: 991px) {
  /* line 602, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .head-section {
    height: 40vh; } }

@media (min-width: 768px) {
  /* line 608, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .account-verification {
    width: 420px;
    max-width: 450px; }
  /* line 613, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .verification {
    min-height: 520px; } }

@media (max-width: 599px) {
  /* line 621, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .logo2 {
    width: 138px; }
  /* line 625, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .verification-code {
    height: 50px; }
  /* line 630, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .code span {
    height: 50px; }
  /* line 635, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .form-control {
    font-size: 1.15rem; }
    /* line 638, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .form-control::-webkit-input-placeholder {
      font-size: 1.15rem; }
    /* line 641, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .form-control::-moz-placeholder {
      font-size: 1.15rem; }
    /* line 644, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .form-control:-ms-input-placeholder {
      font-size: 1.15rem; }
    /* line 647, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
    .form-control:-moz-placeholder {
      font-size: 1.15rem; }
  /* line 652, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in,
  .sign-up {
    padding: 0 20px; }
  /* line 658, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in {
    min-height: 420px; }
  /* line 662, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-up {
    min-height: 580px; }
  /* line 666, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .sign-in-and-sign-up {
    width: 96%;
    max-width: 450px; }
  /* line 672, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .submit-button .btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
  /* line 680, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .options {
    flex-direction: column; }
  /* line 684, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .forgot-password {
    margin-left: inherit;
    margin-top: 10px;
    font-size: 1.15rem; }
  /* line 690, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .custom-control-label {
    font-size: 1.15rem; }
  /* line 694, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  h5 {
    font-size: 1.15rem; }
  /* line 699, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .font-r-16 {
    font-size: 1.28rem !important; }
  /* line 703, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .font-r-14 {
    font-size: 1.12rem !important; } }

@media (max-width: 374px) {
  /* line 709, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/register.scss */
  .forgot-password,
  .custom-control-label {
    font-size: .975rem; } }

/*# sourceMappingURL=register.css.map */