@import "variables.scss";

// Created by Igor 14.02.2020
@media(min-width: 300px) {
  .buttons-container {
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    button {
      width: 124px;
      height: 40px;
      color: #fff;
      border-radius: 0;

      &.btn {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background-color: $pinkish-grey;

        .fa-long-arrow-right {
          transform: rotate(180deg);
        }

        &.active {
          flex-direction: row;
          background-color: $purple;

          .fa-long-arrow-right {
            transform: rotate(0);
          }
        }
      }
    }
  }

  .sign-in {
    min-height: 420px;
  }

  .sign-up {
    min-height: 580px;
  }

  .verification {
    min-height: 510px;
  }
  .sign-in-and-sign-up,
  .account-verification {
    width: 98%;
  }
}
@media(max-width:$break-mobile) {
  .main-wrapper {
    width: 100%;
  }

  .verification-code {
    height: 50px;
  }

  .content-container {
    padding: 90px 10px 0 !important;
  }

  .code {
    span {
      height: 50px;
    }
  }

  .custom-control-input:checked ~ .custom-control-label:after {
    top: 10px;
  }

  .main-wrapper-inner {
    flex-direction: column;
    padding-top: 0;
  }

  .content-container {
    flex-direction: column;

    .content {
      width: 100% !important;
    }
  }
}

@media(max-width:$break-tablet) {
  .content-container {
    .content {
      width: 100% !important;
    }
  }
}

@media(min-width: $break-tablet) {
  .sign-in-and-sign-up,
  .account-verification {
    width: 420px;
  }

  .sign-in,
  .sign-up {
    min-height: 420px;
  }

  .verification {
    min-height: 520px;
  }

  .custom-control-input:checked ~ .custom-control-label:after {
    top: 9px;
  }
}

@media(max-width: 1024px) {
  .main-wrapper-inner {
    flex-direction: row;
    align-items: stretch;
  }

  .side-menu {
    width: 28%;
  }

  .side-menu-inner {
    & > li {
      padding: 0 10px;
    }

    & > li > a {
      padding: 16px 0;
      font-size: 0.75rem;
    }

    & > li:not(:last-child) > a {
      border-bottom: 1px solid #dcdcdc;
    }

    & > li > a > i {
      font-size: 1.25rem;
    }
  }

  .content-container {
    flex-grow: 1;
    align-items: flex-start;
    padding: 38px 20px 0;
    width: 100%;

    .content {
      padding: 0 5% 5% 5%;
      width: 100%;
    }

    .banner {
      display: none;
    }

    .content-inner {
      padding-top: 74px;
    }

    .upload-photo {

      span {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 100%;
        font-size: 1rem !important;
      }

      i {
        font-size: 4.5rem;
        width: 90px;
        height: 90px;
      }
    }
  }
}

@media(min-width: 1025px) {
  .content-container {
    flex-grow: 1;
    padding: 74px 20px 0;

    .content {
      flex-grow: 1;
      width: 46%;
    }

    .upload-photo {

      span {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 100%;
        font-size: 1.125rem !important;
      }

      i {
        font-size: 5.5rem;
        width: 110px;
        height: 110px;
      }
    }
  }

  .side-menu {
    width: 20%;
  }

  .side-menu-inner {
    & > li {
      padding: 0 32px;
    }

    & > li > a {
      padding: 20px 0;
    }

    & > li:not(:last-child) > a {
      border-bottom: 1px solid #dcdcdc;
    }
  }
}

@media(min-width:$break-pc) {
  .sign-in,
  .sign-up {
    min-height: 420px;
  }

  .verification {
    min-height: 550px;
  }

  .custom-control-input:checked ~ .custom-control-label:after {
    top: 10px;
  }

  .side-menu-inner {
    & > li {
      padding: 0 32px;
    }

    & > li > a {
      padding: 20px 0;
    }

    & > li:not(:last-child) > a {
      border-bottom: 1px solid #dcdcdc;
    }
  }

  .content-container {
    .content-inner {
      padding-top: 74px;
    }

    .content {
      padding: 0 5% 2% 5%;
    }

    .upload-photo {
      i {
        font-size: 5.5rem;
        width: 110px;
        height: 110px;
      }
    }
  }

  .submit-button {
    .btn {
      &:hover {
        color: #fff;
      }
    }
  }
}

@media(max-width: 1365px) {
  .custom-control-input:checked ~ .custom-control-label:after {
    top: 9px;
  }

  form {
    .input-group {
      .form-control {
        font-size: 1.25rem !important;

        &::-webkit-input-placeholder {
          font-size: 1.25rem;
        }

        .input-group-text {
          .far {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media(min-width: 1366px) {
  .custom-control-input:checked ~ .custom-control-label:after {
    top: 9px;
  }

  .content-container {
    .content {
      //padding: 0 25% 2% 5%;
    }

    .content-inner {
      padding-top: 80px;
    }

    .upload-photo {
      span {
        font-size: 1.25rem !important;
      }
      i {
        width: 125px;
        height: 125px;
      }
    }
  }

  .sign-in-and-sign-up,
  .account-verification {
    width: 550px;
  }

  .submit-button {
    .btn {
      height: 50px;
    }
  }
}

@media(max-width: 1569px) {
  .header {
    .more-btn {
      display: inline-block !important;
      font-size: 1rem;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      padding: 0 20px 0 0;
      color: #585077;
    }
  }
}

@media(min-width:$break-large-screen) {
  .content-container {
    .content {
      padding: 0 25% 2% 5%;
    }

    .upload-photo {

      i {
        font-size: 6.5rem;
        width: 138px;
        height: 138px;
      }
    }
  }

  .sign-in-and-sign-up,
  .account-verification {
    .custom-control-input:checked ~ .custom-control-label:after {
      top: 10px;
    }
  }

  .sign-in {
    min-height: 530px;
  }

  .sign-up {
    min-height: 610px;
  }

  .verification {
    min-height: 550px;
  }

  .side-menu-inner {
    & > li > a {
      font-size: 1.25rem;
    }
  }

  form {
    .input-group-title {
      font-size: 1.25rem;
    }
  }

}

@media(min-width: 1920px) {
  .sign-in-and-sign-up,
  .account-verification {
    .custom-control-input:checked ~ .custom-control-label:after {
      top: 9px;
    }
  }
}


.logo2,
.success-icon {
  @media(min-width: 300px) { width: 138px; }
  @media(min-width: $break-mobile) { width: 168px; }
}


//////////////////////////// Wizard ////////////////////////////
.wizard-dialog {
  @media(min-width: 300px) { // from 300
    & { width: 98%; }

    &.wizard-dialog-success {
      .success-icon {
        img { max-width: 100%; }
      }

      .success {
        padding: 20px 30px;
        margin-top: 20px;
        color: $purple;
      }

      .submit-button {
        margin-top: 140px;
        margin-bottom: 50px;
      }
    }

    .tabs {
      height: 40px;

      .tab {
        height: 40px;
        padding: 0 10px;
      }
    }

    form {
      .input-group-select {
        .input-group { width: 64%; }
      }

      .input-group {
        height: 50px;
        margin-bottom: 10px;
      }
    }

    .text-block {
      h5 { text-align: center; }
    }

    .wizard-content {
      padding: 40px 0 20px;

      .wizard-content-outer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px 6px 20px 20px;
        background-color: #f5f5f5;

        .summary {
          align-self: flex-end;
          margin-top: auto;
          padding-top: 20px;
          padding-right: 20px;
          text-align: right;
        }

        .input-group {
          select { border: 1px solid #ced4da; }
        }
      }

      .wizard-content-inner {
        padding-right: 20px;
        max-height: 290px;
        overflow-y: scroll;

        .accordion-item {
          .card {
            background-color: transparent;
            box-shadow: none;

            .card-header {
              display: flex;
              padding: 6px 0;
              border-radius: 0;
              border-bottom: 0;
              background-color: #ebebeb;

              .custom-control {
                position: relative;
                align-self: center;

                .custom-control-label {
                  position: absolute;
                  top: 0;
                }
              }

              .btn {
                @include flex-row;
                flex-grow: 1;
                justify-content: space-between;
                align-items: center;
                border-radius: 0;

                i { transform: rotate(180deg); }

                &.collapsed {
                  i { transform: rotate(0deg); }
                }

                &:focus { box-shadow: none; }
              }
            }
          }
        }

        i {
          &.fa-times {
            color: #c10404;
          }
        }
      }

      &.success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .submit-button {
          .btn {
            border-radius: 0;
          }
        }
      }
    }

    .details {
      width: 55%;
    }

    .services {
      width: 90%;
    }

    .locations {
      width: 90%;
    }

    .buttons-container {
      margin-top: 30px;
    }
  }

  @media(max-width: $break-tablet) { // to 768
    & {
      margin: 1rem auto;

      .wizard-content {
        padding: 40px 0 20px;

        .wizard-content-outer { }
      }
    }

    .tabs {

      .tab > span {
        margin-right: .5rem !important;
      }

      .divider {
        width: 15px;
      }
    }

    .details {
      width: 80%;
    }

    h2 {
      font-size: 1.25rem;
      margin: 15px 0;
    }
    h5 {
      font-size: 1.125rem;
    }
  }

  @media(min-width: $break-tablet) { // from 768
    & {
      width: 60%;
    }

    &.wizard-dialog-success {
      .success {
        margin-top: 50px;
      }
    }

    .tabs {
      .divider {
        width: 27px;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    &.wizard-dialog-services {
      width: 620px;
      margin-top: 2rem;

      .wizard-content-inner {
        max-height: 530px;
      }
    }
  }
  @media(min-width: $break-pc) { // from 1200px
    & {
      width: 56%;
    }

    &.wizard-dialog-success {
      .success {
        padding: 0px 40px;
        margin-top: 20px;
      }

      .text-block {
        h2 {
          margin-top: 3rem;
        }
      }

      .submit-button {
        margin-top: 100px;
        margin-bottom: 40px;
      }
    }

    .tabs {
      height: 50px;

      .tab {
        height: 50px;
        padding: 0 14px;
      }
    }

    .text-block {
      padding-top: 20px;

      h2 {
        margin-top: .75rem;
        margin-bottom: .75rem;
        font-size: 1.5rem;
      }
    }

    .wizard-content {
      padding-top: 20px;
      padding-bottom: 20px;

      .wizard-content-outer {

        .card {
          i {
            &.fa-times {
              cursor: pointer;
            }
          }
        }
      }
    }

    .buttons-container {
      margin-top: 50px;
    }

    .submit-button {
      button {
        height: 45px;
      }
    }

    form {
      .input-group {
        height: 50px;
        margin-bottom: 1rem;
      }

      .input-group-select {
        .input-group {
          width: 56%;
        }
      }
    }
  }
  @media(min-width: 1366px) { // from 1366

  }
  @media(min-width: $break-large-screen) { // from 1600

    .wizard-content {
      padding-top: 50px;
      padding-bottom: 20px;

      &.locations {
        .wizard-content-outer {
          height: inherit;
        }

        .wizard-content-inner {
          height: 174px;
        }

        .buttons-container {
          margin-top: 40px;
        }
      }
    }

    .details {
      width: 45%;
    }

    .buttons-container {
      margin-top: 80px;
    }
  }
  @media(min-width: 1920px) { // from 1920
    .tabs {
      height: 66px;

      .tab {
        height: 60px;
        padding: 0 24px;
      }
    }

    .details {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .submit-button {
      button { height: 50px; }
    }

    form {
      .input-group {
        height: 68px;
        margin-bottom: 1.5rem;
      }
    }
  }
}



//////////////////////////// Dashboard ////////////////////////////

.dashboard-outer {
  @mixin contentStyles {
    @media(min-width: 300px) {
      width: 100%;
      padding: 20px 20px;
    }

    @media(min-width: $break-pc) {
      width: 100%;
      padding: 20px 0 0 45px;
    }
  }

  @mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  @media(min-width: 300px) { // from 300
    & {
      margin-top: 50px;
      padding-bottom: 40px;
    }

    .tabs {
      height: 40px;

      .tab {
        @include flex-row;
        align-items: center;
        line-height: 1;
        padding: 0 10px;
        font-size: 1rem;

        .index {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 26px;
          height: 26px;
        }
      }
    }

    // Add company profile
    .add-company-profile {
      .content {
        @include contentStyles;

        .text {
          margin-bottom: 20px;
        }
      }

      .company-info,
      .contact-info {
        height: 100%;
      }
    }

    // Services and location
    .services-and-location {
      padding-bottom: 50px;
      font-family: "Raleway", sans-serif;
      color: $purple;

      .content {
        @include contentStyles;

        .text {
          margin-bottom: 20px;
        }

        .search {
          .search-title {
            font-size: 1.125em;
          }

          .input-group {
            width: 100%;
          }

          input {
            width: 100%;
            font-size: 1.125em;

            &:focus {

            }

            &::-webkit-input-placeholder {
              font-size: 1.125em;

            }
            &::-moz-placeholder {
              font-size: 1.125em;

            }
            &:-ms-input-placeholder {
              font-size: 1.125em;

            }
            &:-moz-placeholder {
              font-size: 1.125em;

            }
          }
        }

        .services {
          background-color: #f5f5f5;
          padding: 10px 24px;

          .select-tabs {
            .input-group-prepend {
              .input-group-text {
                width: 68px;
                background-color: #fff;
                border-right: 0;
              }
            }

            button {
              color: #fff;
              &.active {
                background-color: $purple;
              }
            }
          }

          .tools {
            @include flex-row;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            span {
              font-weight: 500;
              font-size: .75em;
              color: $purple;

              &.divider {
                width: 1px;
                height: 15px;
                margin: 0 8px;
                background-color: $purple;
              }
            }

            .active {
              color: #c30a0a;
            }
          }

          .table-cell {
            margin: 8px 0;

            & > span {
              padding-right: 5px;
            }
          }

          // Services-list
          .services-list {

            .table-cell-1 {
              width: 10%;
              order: 1;
              margin: 4px 0;

              .custom-control {
                min-height: initial;
              }
            }

            .table-cell-2 {
              @include truncate;
              width: 50%;
              order: 2;
            }

            .table-cell-3 {
              @include truncate;
              width: 100%;
              order: 5;
            }

            .table-cell-4 {
              @include truncate;
              width: 100%;
              order: 6;
            }

            .table-cell-5 {
              width: 20%;
              order: 3;
            }

            .table-cell-6 {
              width: 20%;
              order: 4;
            }

            .table-item {
              @include flex-row;
              flex-wrap: wrap;
              padding: 10px;
              background-color: #ededed;
              border-radius: 3px;
              box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
            }
          }

          // County-list
          .county-list {
            padding: 20px 0 0;
            background-color: #fff;

            .tools {
              justify-content: flex-start;
              padding: 0 20px;

              .divider {
                height: 15px;
              }
            }

            .table-items-list {
              display: flex;
              flex-direction: column;
              padding-bottom: 20px;

              .table-item {
                width: 100%;
                margin: 8px 0;
                padding: 0 20px;
              }
            }
          }
        }
      }

      .selected-services {
        padding-left: 34px;
        color: #342e49;
      }
    }

    .custom-control {
      @include flex-row;
      align-items: center;

      .custom-control-label {
        line-height: 1.25;
        padding: 0 10px;
      }
    }
  }

  @media(min-width: $break-tablet) { // from 768
    .tabs {
      .tab {
        //font-size: 1.25rem;

        &:first-child {
          padding-left: 45px;
        }
      }
    }

    .table-cell {
      margin: 8px 0 !important;
    }

    // County-list
    .county-list {
      .table-items-list {
        .table-item {
          width: 50%;
        }
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) { // from 768 to 1024
    .services-list {
      .table-items-list {
        .table-item {
          padding: 0 10px;
        }
      }
    }
  }
  @media(min-width: $break-pc) { // from 1200
    & {
      padding-bottom: 80px;
    }

    .tabs {
      .tab {
        line-height: inherit;
        cursor: pointer;
      }
    }

    // Add company profile
    .add-company-profile {
      .content {
        @include contentStyles;

        .text {
          margin-bottom: 32px;
        }
      }

      .company-info,
      .contact-info {
        border-right: 1px solid #d6d6d6;
      }
    }

    // Services and location
    .services-and-location {
      //font-size: 16px;

      .selected-services {
        padding-left: 60px;
        padding-top: 24px;
        //font-size: .9375em;
        color: #342e49;
      }

      .content {
        .text {
          margin-bottom: 32px;
        }

        .search {
          .input-group {
            width: 312px;

            input {
              font-size: .875em;

              &::-webkit-input-placeholder {
                font-size: .875em;

              }

              &::-moz-placeholder {
                font-size: .875em;

              }

              &:-ms-input-placeholder {
                font-size: .875em;

              }

              &:-moz-placeholder {
                font-size: .875em;

              }

            }
          }
        }

        .services {
          padding: 10px 16px 30px 16px;

          .select-tabs {
            .tab {
              padding: 10px;

              &.selected {
                background-color: #fff;
              }
            }
          }

          // Services-list
          .services-list {
            .table-cell-1 {
              width: 4%;
              order: 1;
              margin: 8px 0;
            }

            .table-cell-2 {
              width: 14%;
              order: 2;
            }

            .table-cell-3 {
              width: 24%;
              order: 3;
            }

            .table-cell-4 {
              width: 42%;
              order: 4;
            }

            .table-cell-5 {
              width: 9%;
              order: 5;
            }

            .table-cell-6 {
              width: 7%;
              order: 6;
            }

            .table-item {
              padding: 0 10px;
              border-radius: 0;
              box-shadow: none;
            }
          }

          // County-list
          .county-list {
            .table-items-list {
              flex-direction: row;

              .table-item {
                width: 17.5%;

                &:not(:last-child) {
                  border-right: 1px solid #ededed;
                }
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: 1366px) { // from 1366

  }
  @media(min-width: $break-large-screen) { // from 1600
    & {
      margin-top: 60px;
    }

    .tabs {
      height: 50px;

      .tab {
        padding: 0 28px;
      }
    }

    .services {
      .tools {
        span {
          font-size: .9375em;
        }
      }

      .table-cell {
        font-size: .9375em;
      }

      // Services-list
      .services-list {
        .table-cell-1 {
          width: 4%;
        }

        .table-cell-2 {
          width: 12%;
        }

        .table-cell-3 {
          width: 19%;
        }

        .table-cell-4 {
          width: 47%;
        }

        .table-cell-5 {
          width: 9%;
        }

        .table-cell-6 {
          width: 9%;
        }

        .table-items-list {
          @mixin divider {
            &:after {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              display: block;
              content: '';
              width: 1px;
              height: 80%;
              background-color: #ccc;
              margin: 0 16px;
            }
          }

          .table-cell-2,
          .table-cell-3 {
            @include divider;
          }
        }
      }

      // County-list
      .county-list {
        .table-items-list {

        }
      }

      .custom-control {

        .custom-control-label {
          padding: 0 20px;
        }
      }

    }



  }
  @media(min-width: 1920px) { // from 1920
    & { margin-top: 80px; }


    .tabs { height: 60px; }
  }
}



//////////////////////////// Summary ////////////////////////////
.summary-page {
  @media(min-width: 300px) {

  }

  @media(min-width: 600px) {

  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {

  }

  @media(min-width: 1200px) {
    .content-container {
      max-width: 100%;
      flex-grow: 0;
      padding: 0 10px 60px 0;
    }

    .content-col-left {
      padding-left: 45px;
      padding-right: 32px;

      .accordion-items {
        padding-right: 10px;
        max-height: 500px;
      }

      .collapse-container {
        .collapse-header {
          padding: 0 10px;
        }

        .collapse-body {
          padding: 12px 10px 30px 8px;
          //padding-right: 10px;

          .collapse-btn {
            padding: 10px;
          }

          .collapse-item {
            padding: 10px;
          }
        }

        .accordion-item {
          &:not(:first-child) {
            margin-top: 6px;
          }
        }
      }
    }

    .content-col-right {
      padding-left: 32px;
      padding-right: 45px;
    }

    .content-col-header {
      padding: 22px 0 20px;
    }

    .content-col-heading {
      margin-bottom: 0;
    }

    .collapse-body {

    }

    // Dates
    .dates-container {
      .dates {
        height: 80px;
      }
    }

    // Graps container
    .graphs-container {
      //margin: 20px 0;

      .graph-card {
        height: 130px;
      }
    }

    // Profile
    .profile-container {
      .profile-card {
        padding: 0 15px 15px;
      }
      .profile-card-header {
        padding: 10px 0;
        margin-bottom: 10px;
      }

      .profile-card-body {
        .profile-data-unit {
          margin-bottom: 15px;

          .data {
            i {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  @media(min-width: 1400px) {

  }

  @media(min-width: 1600px) {    // Profile
    .profile-container {
      .profile-card {
        padding: 0 20px 20px;
      }
      .profile-card-header {
        padding: 15px 0;
        margin-bottom: 20px;
      }

      .profile-card-body {
        .profile-data-unit {
          margin-bottom: 15px;

          .data {
            i {
              padding-right: 15px;
            }
          }
        }
      }
    }

    .content-col-left {
      .accordion-items {
        max-height: 530px;
      }
      .collapse-container {
        .collapse-body {

        }
      }
    }
  }

  @media(min-width: 1800px) {
    .content-col-left {
      .accordion-items {
        max-height: 680px;
      }
    }
    // Dates
    .dates-container {
      .dates {
        height: 100px;
      }
    }

    // Graps container
    .graphs-container {
      margin: 30px 0;

      .graph-card {
        height: 262px;
      }
    }
  }
}

////////////////// Empty //////////////////
.summary-page-empty {
  @media(min-width: 300px) {
    .content-container {
      max-width: 100%;
      flex-grow: 0;
      padding: 0;
    }

    .content-col-left {

    }

  }
  @media(min-width: 600px) {

  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

  }
  @media(min-width: 1200px) {
    .content-container {
      //max-width: 100%;
      flex-grow: 0;
      padding: 0 25px 60px 0;
    }

    .content-col-left {
      .content-col-main {
        padding-top: 80px;
      }

      .img-container {
        margin-top: 50px;

        &:before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 200px;
        }

        i {
          top: -5%;
          right: 0;
          transform: translate(100%, 0) rotate(90deg);
        }
      }
    }
  }
  @media(min-width: 1400px) {

  }
  @media(min-width: 1600px) {

  }
  @media(min-width: 1800px) {
    .content-col-left {
      .content-col-main {
        padding-top: 80px;
      }
    }
  }
}
