@import "variables.scss";
@import 'responsive.scss'; // This responsive stylesheet for Ovadia updates and changes !!!

.logo2,
.success-icon {
  @media(min-width: 300px) { width: 138px; }
  @media(min-width: $break-mobile) { width: 168px; }
}

.custom-select:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ced4da;
  border-left: none;
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: initial;
}

@media(min-width: 300px) {
  // My profile
  .content-container {
    .content-inner {
      padding-top: 74px;
    }

    .content {
      padding: 0 5% 2% 5%;
    }

    .upload-photo {
      i {
        font-size: 5.5rem;
        width: 110px;
        height: 110px;
      }
    }
  }

  .submit-button {
    .btn {
      &:hover {
        color: #fff;
      }
    }
  }
  // EOL: My profile


  // Sign-in, Sign-up, Account-verification
  .sign-in {
    min-height: 420px;
  }

  .sign-up {
    min-height: 580px;
  }

  .verification {
    min-height: 510px;
  }

  .sign-in-and-sign-up,
  .account-verification {
    width: 96%;
    max-width: 450px;
  }
  // EOL: Sign-in, Sign-up, Account-verification

  .buttons-container {
    @include flex-row;
    width: 98%;
    justify-content: space-between;
    align-items: center;
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    button {
      width: 124px;
      height: 40px;
      color: #fff;
      border-radius: 0;

      &.btn {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        //background-color: $pinkish-grey;

        .fa-long-arrow-right {
          transform: rotate(180deg);
        }

        &.active {
          flex-direction: row;
          background-color: $purple;

          .fa-long-arrow-right {
            transform: rotate(0);
          }
        }
      }
    }
  }

  // Wizard and system campaign pages common styles for content
  .page-content {
    padding: 40px 0 20px;

    .page-content-outer {
      display: flex;
      flex-direction: column;
      //height: 100%;
      padding: 20px 6px 20px 20px;
      background-color: #f5f5f5;

      .summary {
        align-self: flex-end;
        margin-top: auto;
        padding-top: 20px;
        padding-right: 20px;
        text-align: right;
      }

      .input-group {
        select { border: 1px solid #ced4da; }
      }
    }

    .page-content-inner {
      padding-right: 20px;
      max-height: 290px;
      overflow-y: scroll;

      .accordion-item {
        .card {
          background-color: transparent;
          box-shadow: none;

          .card-header {
            display: flex;
            padding: 6px 0;
            border-radius: 0;
            border-bottom: 0;
            background-color: #ebebeb;

            .custom-control {
              position: relative;
              align-self: center;

              .custom-control-label {
                position: absolute;
                top: 0;
              }
            }

            .btn {
              @include flex-row;
              flex-grow: 1;
              justify-content: space-between;
              align-items: center;
              border-radius: 0;

              i { transform: rotate(180deg); }

              &.collapsed {
                i { transform: rotate(0deg); }
              }

              &:focus { box-shadow: none; }
            }
          }
        }
      }

      i {
        &.fa-times {
          color: #c10404;
        }
      }
    }

    &.success {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .submit-button {
        .btn {
          border-radius: 0;
        }
      }
    }
  }

  .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    top: 0 !important;
  }
}

@media(max-width: $break-mobile) {
  .main-wrapper {
    width: 100%;
  }

  .verification-code {
    height: 50px;
  }

  .content-container {
    padding: 90px 10px 0 !important;
  }

  .code {
    span {
      height: 50px;
    }
  }

  .main-wrapper-inner {
    flex-direction: column;
    padding-top: 0;
  }

  .content-container {
    flex-direction: column;

    .content {
      width: 100% !important;
    }
  }
}

@media(max-width: $break-tablet) {
  .content-container {
    .content {
      width: 100% !important;
    }
  }
}

@media(min-width: $break-tablet) {
  .buttons-container {
    width: 100%;
  }

  // Sign-in, Sign-up, Account-verification
  .sign-in-and-sign-up,
  .account-verification {
    width: 420px;
    max-width: 450px;
  }

  .sign-in,
  .sign-up {
    min-height: 420px;
  }

  .verification {
    min-height: 520px;
  }

  // EOL: Sign-in, Sign-up, Account-verification
}

@media(max-width: 1024px) {
  .main-wrapper-inner {
    flex-direction: row;
    align-items: stretch;

    .side-menu {
      width: 28%;
    }
  }

  .side-menu-inner {
    & > li {
      padding: 0 10px;
    }

    & > li > a {
      padding: 16px 0;
      font-size: 0.75rem;
    }

    & > li:not(:last-child) > a {
      border-bottom: 1px solid #dcdcdc;
    }

    & > li > a > i {
      font-size: 1.25rem;
    }
  }

  // My profile
  .content-container {
    flex-grow: 1;
    align-items: flex-start;
    padding: 38px 20px 0;
    width: 100%;

    .content {
      padding: 0 5% 5% 5%;
      width: 100%;
    }

    .banner {
      display: none;
    }

    .content-inner {
      padding-top: 74px;
    }

    .upload-photo {

      span {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 100%;
        font-size: 1rem !important;
      }

      i {
        font-size: 4.5rem;
        width: 90px;
        height: 90px;
      }
    }
  }
  // EOL: My profile
}

@media(min-width: 1025px) {
  // My profile
  .content-container {
    flex-grow: 1;
    padding: 74px 20px 0;

    .content {
      flex-grow: 1;
      width: 46%;
    }

    .upload-photo {

      span {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 100%;
        font-size: 1.125rem !important;
      }

      i {
        font-size: 5.5rem;
        width: 110px;
        height: 110px;
      }
    }
  }

  .side-menu {
    width: 20%;
  }

  .side-menu-inner {
    & > li {
      padding: 0 32px;
    }

    & > li > a {
      padding: 20px 0;
    }

    & > li:not(:last-child) > a {
      border-bottom: 1px solid #dcdcdc;
    }
  }
  // EOL: My profile
}

@media(min-width: $break-pc) {

  // Sign-in, Sign-up, Account-verification
  .sign-in,
  .sign-up {
    min-height: 420px;
  }

  .verification {
    min-height: 550px;
  }

  // EOL: Sign-in, Sign-up, Account-verification

  .side-menu-inner {
    & > li {
      padding: 0 32px;
    }

    & > li > a {
      padding: 20px 0;
    }

    & > li:not(:last-child) > a {
      border-bottom: 1px solid #dcdcdc;
    }
  }

   /// Wizard content ///
  .page-content {
    padding-top: 20px;
    padding-bottom: 20px;

    .page-content-outer {
      height: initial;

      .card {
        i {
          &.fa-times {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media(min-width: 1366px) {
  // My profile
  .content-container {
    .content-inner {
      padding-top: 80px;
    }

    .upload-photo {
      span {
        font-size: 1.25rem !important;
      }
      i {
        width: 125px;
        height: 125px;
      }
    }
  }
  // EOL: My profile

  // Sign-in, Sign-up, Account-verification
  .sign-in-and-sign-up,
  .account-verification {
    width: 550px;
  }

  // EOL: Sign-in, Sign-up, Account-verification
}

@media(max-width: 1569px) {
  .header {
    .more-btn {
      display: inline-block !important;
      font-size: 1rem;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      padding: 0 20px 0 0;
      color: #585077;
    }
  }
}

@media(min-width: $break-large-screen) {
  /// Wizard content ///
  .page-content {
    padding-top: 20px;
    padding-bottom: 20px;

    &.locations {
      .page-content-outer {
        height: inherit;
      }

      .page-content-inner {
        height: 174px;
      }

      .buttons-container {
        margin-top: 40px;
      }
    }
  }

  .content-container {
    .content {
      padding: 0 25% 2% 5%;
    }

    .upload-photo {

      i {
        font-size: 6.5rem;
        width: 138px;
        height: 138px;
      }
    }
  }


  // Sign-in, Sign-up, Account-verification
  .sign-in {
    min-height: 530px;
  }

  .sign-up {
    min-height: 610px;
  }

  .verification {
    min-height: 550px;
  }

  // EOL: Sign-in, Sign-up, Account-verification

  .side-menu-inner {
    & > li > a {
      font-size: 1.25rem;
    }
  }

  form {
    .input-group-title {
      font-size: 1.25rem;
    }
  }
}
//************** Wizard dialog COMMON STYLES **************//
// Services and Area list popup
// Details Wizard
.wizard-new-dialog {
  @media(max-width: 1199px) {
    .modal-footer {
      button {
        width: 180px;
      }
    }
  }

  @media(max-width: 991px) {
    .left-side {
      //display: none;
    }

    .right-side {
      //width: 100% !important;

      .right-side-inner {
        &.scroll {
          padding: 20px;
        }

        &.without-scroll {
          padding: 20px;
        }
      }

      .modal-body {
        width: 100% !important;
      }

      .modal-body-container {
        //padding: 30px 40px !important;
      }

      .modal-body-col {
        //width: 100%;
      }
    }
  }

  @media(max-width: 767px) {
    .left-side {
      display: none;
    }

    .right-side {
      width: 100% !important;
    }

    .modal-body-container {
      flex-direction: column !important;

      .modal-body-col {
        width: 100% !important;
      }
    }

    .modal-body {
      z-index: 2;
      background-color: #fff;
    }

    .decoration-element-wizard {
      display: none;
    }

    .decoration-element-mobile {
      z-index: 1;
      display: block !important;
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translate(0, -50%);
      width: 12px;
      height: 95%;
      border-radius: 20px;
      background-color: #585077;
    }
  }

  @media(max-width: 599px) {
    & {
      width: 90% !important;
    }

    .right-side {
      .right-side-header {
        padding: 20px;
      }

      .right-side-inner {
        &.without-scroll {
          padding: 20px;
        }
      }

      .modal-body-container {
        //position: relative;
        //z-index: 2;
        padding: 20px !important;
      }

      .modal-body-container-outer {
        //position: relative;
      }

      .input-group-select {
        padding: 0px !important;
      }
    }
  }
}


//************* Services and Area list popup  *************//
.wizard-dialog-services-and-locations {
  @media(max-width: 1199px) {
    .left-side {
      .counties-list-item {
        &.active {
          padding: 15px 10px;
        }
      }
    }

    .right-side {
      .county-item {
        width: 46% !important;
      }
    }
  }

  @media(max-width: 1099px) {
    .left-side {
      .counties-list-item {
        .quantity {
          //padding: 3px 7px;
        }
      }
    }

    .right-side {
      .modal-footer {
        button {
          width: 160px;
        }
      }
    }
  }

  @media(max-width: 991px) {
    .left-side {}

    .right-side {
      .county-item {
        width: 96% !important;
      }

      .modal-title {
        padding-left: 0;
      }

      .modal-footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;

        .buttons-container {
          justify-content: flex-start;
          margin-top: 20px !important;

          button {
            width: 50%;
          }
        }
      }
    }
  }

  @media(max-width: 767px) {
    .modal-content {
      .modal-body {
        flex-direction: column;

        .left-side {
          display: block !important;
          width: 100% !important;
          padding: 0 20px 0 0;

          .counties-list-item {
            &.active {
              border-radius: 5px;
            }
          }

          .modal-title {
            margin-bottom: 30px;
            text-align: left;
          }

          .counties-list {
            display: none;
          }

          // select
          .select {
            display: block !important;
            width: 100%;
            height: 46px;
            padding: 0 10px;
            border: 1px solid #b3b3b3;
            background-color: #fff;
            border-radius: 5px;
            color: #342e49;
            font-weight: 500;
            font-family: "Lato", sans-serif;
          }
        }

        .right-side {
          //width: 60% !important;
          padding: 20px 10px 20px 0px;
          width: 100% !important;

          .county-list {
            max-height: 40vh !important;
          }

          .county-list-container {
            padding: 20px 10px 20px 20px;
          }
        }
      }


      .modal-body {

        .left-side {
        }

        .right-side {
        }
      }
    }

    .modal-content {
    }

  }

  @media(max-width: 599px) {
    button.close {
      background-color: transparent;
    }
  }
}

//************* Details Wizard *******************//
.wizard-dialog-details {
  @media(max-width: 1199px) {
    .modal-content {
      .modal-body {
        .left-side {
          //padding: 50px 20px 30px 20px;
        }
      }
    }
  }

  @media(max-width: 991px) {
    .input-group-select {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: initial !important;
      padding: 0 30px;

      .input-group {
        height: 50px;
      }

      span {
        margin-bottom: 10px;
      }
    }
  }

  @media(max-width: 767px) {
    .right-side {
      .right-side-header {
        height: 55px;
      }

      .right-side-inner {
        &.without-scroll {
          padding: 10px 20px 10px 20px;
        }
      }

      .input-group {
        height: 45px;
      }

      .modal-heading {
        margin: 10px 0;
        line-height: .75;
      }

      .modal-footer {
        margin-top: 20px;

        .buttons-container {
          width: 100%;
        }
      }

      .input-group-select {
        margin-top: 10px;
      }
    }
  }
}

//************* Success message Wizard *************//
.wizard-dialog-success-message {
  @media(max-width: 991px) {
    .decoration-element-wizard {
      .dashed-line {
        height: 80px;
      }
    }
  }

  @media(max-width: 767px) {
    .modal-body-container {
      .modal-body-col {
        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }
    }

    .decoration-element-wizard {
      .dashed-line {
        height: 150px;
      }
    }
  }
}

//************* Wizard  *************//
.wizard-dialog  {
  @media(min-width: 300px) {
    & { width: 98%; }

    // Success
    &.wizard-dialog-success {
      .success-icon {
        img { max-width: 100%; }
      }

      .success {
        padding: 20px 30px;
        margin-top: 20px;
        color: $purple;
      }

      .submit-button {
        margin-top: 140px;
        margin-bottom: 50px;
      }
    }

    .tabs-w {
      height: 40px;

      .tab {
        height: 40px;
        padding: 0 10px;
      }
    }

    form {
      .input-group-select {
        .input-group { width: 64%; }
      }

      .input-group {
        height: 50px;
        margin-bottom: 10px;
      }
    }

    .text-block {
      h5 { text-align: center; }
    }

    .page-content {
      padding: 40px 0 20px;

      .aiqoo-collapse-checkbox-outer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px 6px 20px 20px;
        background-color: #f5f5f5;

        .summary {
          align-self: flex-end;
          margin-top: auto;
          padding-top: 20px;
          padding-right: 20px;
          text-align: right;
        }

        .input-group {
          select { border: 1px solid #ced4da; }
        }
      }

      .aiqoo-collapse-inner {
        padding-right: 20px;
        max-height: 290px;
        overflow-y: scroll;

        i {
          &.fa-times {
            color: #c10404;
          }
        }
      }

      &.success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .submit-button {
          .btn {
            border-radius: 0;
          }
        }
      }
    }

    .details {
      width: 55%;
    }

    .services {
      width: 90%;
    }

    .locations {
      width: 90%;
    }

    .buttons-container {
      margin-top: 30px;
    }
  }

  @media(max-width: $break-tablet) { // to 768
    & {
      margin: 1rem auto;

      .page-content {
        padding: 40px 0 20px;
      }
    }

    .tabs-w {

      .tab > span {
        margin-right: .5rem !important;
      }

      .divider {
        width: 15px;
      }
    }

    .details {
      width: 80%;
    }

    h2 {
      font-size: 1.25rem;
      margin: 15px 0;
    }
    h5 {
      font-size: 1.125rem;
    }
  }

  @media(min-width: $break-tablet) { // from 768
    & {
      width: 60%;
    }

    // Success
    &.wizard-dialog-success {
      .success {
        margin-top: 50px;
      }
    }

    .tabs-w {
      .divider {
        width: 27px;
      }
    }
  }
  // EOL: 768

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    // Services
    &.wizard-dialog-services {
      width: 620px;
      margin-top: 2rem;

      .aiqoo-collapse-inner {
        max-height: 530px;
      }
    }
  }
  // EOL: 768-1024

  @media(min-width: $break-pc) { // from 1200px
    & {
      width: 56%;
    }

    // Success
    &.wizard-dialog-success {
      .success {
        padding: 0px 40px;
        margin-top: 20px;
      }

      .text-block {
        h2 {
          margin-top: 3rem;
        }
      }

      .submit-button {
        margin-top: 100px;
        margin-bottom: 40px;
      }
    }

    .tabs-w {
      height: 50px;

      .tab {
        height: 50px;
        padding: 0 14px;
      }
    }

    .text-block {
      padding-top: 20px;

      h2 {
        margin-top: .75rem;
        margin-bottom: .75rem;
        font-size: 1.5rem;
      }
    }

    .page-content {
      padding-top: 20px;
      padding-bottom: 20px;

      .aiqoo-collapse-checkbox-outer {

        .card {
          i {
            &.fa-times {
              cursor: pointer;
            }
          }
        }
      }
    }

    .buttons-container {
      margin-top: 50px;
    }

    .submit-button {
      button {
        height: 45px;
      }
    }

    form {
      .input-group {
        height: 50px;
        margin-bottom: 1rem;
      }

      .input-group-select {
        .input-group {
          width: 56%;
        }
      }
    }
  } // EOL: 1200

  @media(min-width: $break-large-screen) { // from 1600

    .page-content {
      padding-top: 50px;
      padding-bottom: 20px;

      &.locations {
        .aiqoo-collapse-checkbox-outer {
          height: inherit;
        }

        .aiqoo-collapse-inner {
          height: 174px;
        }

        .buttons-container {
          margin-top: 40px;
        }
      }
    }

    .details {
      width: 45%;
    }

    .buttons-container {
      margin-top: 80px;
    }
  }
  // EOL: 1600

  @media(min-width: 1920px) { // from 1920
    .tabs-w {
      height: 66px;

      .tab {
        height: 60px;
        padding: 0 24px;
      }
    }

    .details {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .submit-button {
      button { height: 50px; }
    }

    form {
      .input-group {
        height: 68px;
        margin-bottom: 1.5rem;
      }
    }
  }
}

//************* Dashboard  *************//
.dashboard-outer {
  @mixin contentStyles {
    @media(min-width: 300px) {
      width: 100%;
      padding: 20px 20px;
    }

    @media(min-width: $break-pc) {
      width: 100%;
      padding: 20px 0 0 45px;
    }
  }

  .content {
    @include contentStyles;
  }

  // Here starts media

  @media(min-width: 300px) { // from 300
    & {
      margin-top: 50px;
      padding-bottom: 40px;
    }

    .content {
      .text {
        margin-bottom: 10px;
      }
    }

    // Add company profile
    .add-company-profile {
      .company-info,
      .contact-info {
        height: 100%;
      }
    }

    // Services and location
    .services-and-location {
      padding-bottom: 50px;
      font-family: "Raleway", sans-serif;
      color: $purple;

      .content {
        @include contentStyles;

        .text {
          margin-bottom: 20px;
        }

        .search {
          .search-title {
            font-size: 1.125em;
          }

          .input-group {
            width: 100%;
          }

          input {
            width: 100%;
            font-size: 1.125em;

            &:focus {

            }

            &::-webkit-input-placeholder {
              font-size: 1.125em;

            }
            &::-moz-placeholder {
              font-size: 1.125em;

            }
            &:-ms-input-placeholder {
              font-size: 1.125em;

            }
            &:-moz-placeholder {
              font-size: 1.125em;

            }
          }
        }
      }

      .selected-services {
        padding-left: 34px;
        color: #342e49;
      }
    }

    // Add portfolio
    .add-portfolio {

      .content-col-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 30px;
      }

      // left
      .content-col-left {
        width: 100%;

        .form-group {
          i {
            position: absolute;
            bottom: calc(50% - 3px);
            left: 10px;
          }

          textarea {
            border: solid 1px #585077;
            background-color: #ffffff;
            padding: 10px 30px;
          }
        }
      }

      // right
      .content-col-right {
        width: 100%;
      }
    }
  }
  // EOL: 300px

  @media only screen and (min-width: 768px) and (max-width: 1024px) { // from 768 to 1024
    .services-list {
      .table-items-list {
        .table-item {
          padding: 0 10px;
        }
      }
    }
  }
  // EOL: 768px - 1024px

  @media(min-width: $small-pc) { // from 992px
    // add-portfolio
    .add-portfolio {
      .content-col-container {
        flex-direction: row;
        padding-top: 15px;
      }

      .content-col {
        padding: 0 10px;
      }

      // left
      .content-col-left {
        width: 50%;
      }

      // right
      .content-col-right {
        width: 50%;
      }

      // Collapse
      .card-accordion-body {
        .collapse-col-1 {
          width: 60%;

          &:after {
            display: block;
            content: '';
            width: 1px;
            height: 60%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: #ccc;
          }
        }

        .collapse-col-2 {
          width: 40%;
        }
      }
    }
  }
  // EOL: 992px

  @media(min-width: $break-pc) { // from 1200
    & {
      padding-bottom: 80px;
    }

    // Add company profile
    .add-company-profile {
      .company-info,
      .contact-info {
        border-right: 1px solid #d6d6d6;
      }
    }

    // Services and location
    .services-and-location {
      .selected-services {
        padding-left: 60px;
        padding-top: 24px;
        color: #342e49;
      }

      .content {
        .text {
          margin-bottom: 32px;
        }

        .search {
          .input-group {
            width: 312px;

            input {
              font-size: .875em;

              &::-webkit-input-placeholder {
                font-size: .875em;

              }

              &::-moz-placeholder {
                font-size: .875em;

              }

              &:-ms-input-placeholder {
                font-size: .875em;

              }

              &:-moz-placeholder {
                font-size: .875em;

              }

            }
          }
        }
      }
    }
  }
  // EOL: 1200px

  @media(min-width: $break-large-screen) { // from 1600
    & {
      margin-top: 60px;
    }
  }
  // EOL: 1600px

  @media(min-width: 1920px) { // from 1920
    & { margin-top: 80px; }
  }
  // EOL: 1920px
}

//************* My tasks page (Dashboard)  *************//
.my-tasks-page {
  @media(max-width: 1899px) {
    .task-card {
      .colored-circle {
        top: 21px;
      }
    }
  }

  @media(max-width: 1599px) {}

  @media(max-width: 1399px) {
    .colored-circle {
      top: 19px !important;
    }

    .list-body {
      .task-col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }


  }

  @media(max-width: 1199px) {
    .task-card {
      &:before, &:after, .colored-circle {
        display: none;
      }
    }

    .task-col {
      flex: 0 0 50% !important;
      max-width: 50% !important;
      min-width: 290px;
    }

    .task-list {
      margin-top: 24px;
    }
  }

  @media(max-width: 991px) {
    .main-row {
      flex-wrap: nowrap;
    }

    .content-col {
      .search {
        width: calc(100% + 15px);
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;

        .title {
          width: 100px;
        }

        .input-group {
          flex-grow: 1;
          width: auto;
        }
      }
    }

    .task-col {
      flex: 0 0 97% !important;
      max-width: 97% !important;
    }
  }

  @media(max-width: 767px) {
    .task-col {
      flex: 0 0 97% !important;
      //max-width: 290px !important;
      margin: 0 auto;
      padding-right: 15px;
      min-width: inherit;
    }

    .list-heading {
      padding-left: 15px;

      .list-heading-inner {
        border-bottom: 0;
      }
    }

    .task-card-inner {
      &.is-active {
        .client-info {
          padding: 0 10px;
          background-color: #fff;
        }

        .client-name {
          width: 100%;
          padding-bottom: 10px;
          border-bottom: solid 1px #f9f9f9;
        }

        .client-phone {
          display: none;
        }

        .client-location {
          .client-info-heading {
            display: block;
            padding: 0;
          }
        }

        .notes {
          display: none;
        }
      }
    }
  }

  @media(max-width: 599px) {
    .content {
      .task-list {
        height: 100%;
        padding-top: 0;
        margin: 0 auto;
      }
    }

    .task-col {
      flex: 0 0 80% !important;
      max-width: 80% !important;
      padding-right: 15px;
      margin: 0 auto;
    }

    .content-col {
      flex-grow: unset;
      flex-basis: auto;
      width: 100%;
      padding-right: 15px;
    }
  }

  @media(max-width: 374px) {
    .task-col {
      min-width: 300px;
    }
  }
}

//************* Support page (Dashboard)  *************//
.support-page {
  @media(max-width: 1899px) {}

  @media(max-width: 1599px) {}

  @media(max-width: 1499px) {
    .right-side-col {
      .message-card-heading {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  @media(max-width: 1299px) {
    .right-side-col {
      display: none;
    }

    .left-side-col {
      width: 100%;
      max-width: 100%;
      min-width: inherit;
    }
  }

  @media(max-width: 1199px) {}

  @media(max-width: 991px) {
    // only for this page styles
    .content-col {
      .search {
        & > .title {
          display: none;
        }

        .controls {
          justify-content: space-between;
          width: 100%;
        }

        .input-group {
          order: 3;
          flex-grow: 1;
          width: auto;
          max-width: 50%;
          height: 40px;
        }

        .controls-title {
          display: flex !important;
          order: 2;
        }

        .new-ticket {
          order: 1;
          height: 40px;

          .fa-plus-square {
            font-size: 1.25rem;
          }
        }
      }
    }

    .content {
      margin-top: 30px;
    }

    .card-opening-date {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .date {
        margin-top: 5px;

        .fa-calendar {
          margin: 0 10px 0 0;
        }
      }
    }
  }

  @media(max-width: 767px) {
    .status {
      line-height: 1.125;
      padding: 0 13px !important;
      font-size: 0 !important;
    }

    .controls {
      .new-ticket {
        position: fixed;
        bottom: 10px;
        right: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 68px !important;
        padding: 0;

        .fa-plus-square {
          margin-bottom: 5px;
          margin-right: 0;
          font-size: 2.125rem !important;
        }
      }

      .input-group {
        max-width: inherit !important;
      }
    }

    .ticket {
      &.orange {
        .ticket-header {
          background-color: #f6bc5d;
        }
      }

      &.light-purple {
        .ticket-header {
          background-color: #c65dfd;
        }
      }

      &.sean-green {
        .ticket-header {
          background-color: #12b7aa;
        }
      }
    }

    .label {
      color: #fff !important;

      .indicator {
        display: none;
      }
    }
    .decoration-element {
      display: none;
    }
  }

  @media(max-width: 599px) {
    .content {
      position: relative;

      .new-ticket {
        z-index: 10;
        position: fixed;
        bottom: 10px;
        right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 68px !important;
        padding: 0;
        background-color: #585077;
        color: #fff;
        font-weight: 300;
        border: none;

        .fa-plus-square {
          margin-bottom: 5px;
          font-size: 2.125rem;
        }
      }
    }

    .content-heading {
      .id {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    // Ticket
    .ticket {
      max-width: 90%;
      margin: 0 auto 26px;

      .ticket-header {
        .type {
          font-size: 1rem !important;
        }
      }

      .ticket-content {
        &.is-active {
          .last-message {
            display: none;
          }

          .last-replied-by {
            &::before {
              display: none;
            }
          }
        }

        .id,
        .info-content,
        .last-replied-by {
          span {
            font-size: .9rem !important;
          }

          .status {
            font-size: 1rem !important;
          }
        }

        .gray-title {
          font-size: .8rem !important;
        }

        .date,
        .user-name {
          font-size: .9rem !important;
        }

        .info {
          span {
            font-size: .8rem !important;
          }
        }
      }

      .id {
        .status {
          padding: 0 10px;
          font-size: inherit !important;
        }
      }

      .content-body {
        margin-top: 0;
      }

      // Left side col
      .id,
      .created-by,
      .last-replied-by {
        position: relative;
        margin-bottom: 15px;

        &::before {
          display: block;
          content: '';
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 100%;
          height: 1px;
          background-color: rgba(20, 46, 110, 0.1);
        }
      }

      .last-replied-by {
        margin-top: 5px;

        &::before {
          top: auto;
        }
      }

      .card-opening-date {
        margin-top: 5px;

        &::before {
          display: none;
        }
      }

      // Right side col
      .right-side-col {
        display: flex;
      }

      .right-side {
        width: 100%;
      }

      .last-message {
        display: flex;
        margin-top: 15px;

        .message-card {
          margin-top: 10px;

          .author-name {
            font-size: 0.8rem !important;
          }

          .updated {
            font-size: 0.7rem !important;
          }

          .message {
            font-size: 0.6rem !important;
          }
        }

        &.admin-message {
          align-items: flex-end;
        }

        &.user-message {
          .message-card {
            border-top-right-radius: 20px;
            border-top-left-radius: 0;
          }
        }

        .message-card-heading {
          flex-direction: column-reverse;
        }

        .logo-image-container {
          margin-left: 0;
        }

        .image-container {
          margin-right: 0;
        }

        &.admin-message {
          flex-direction: column-reverse;
          justify-content: flex-start;
        }

        &.user-message {
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }

  @media(max-width: 374px) {}
}

//************* Summary  Wizard *************//
.summary-page {
  @media(min-width: 300px) {
    .content-container {
      max-width: 100%;
      flex-grow: 0;
      padding: 0 10px 60px 0;
    }

    .content-col-left {
      padding-left: 45px;
      padding-right: 32px;

      .accordion-items {
        padding-right: 10px;
        max-height: 500px;
      }

      .collapse-container {
        .collapse-header {
          padding: 0 10px;
        }

        .collapse-body {
          padding: 12px 10px 30px 8px;

          .collapse-btn {
            padding: 10px;
          }

          .collapse-item {
            padding: 10px;
          }
        }
      }
    }

    .content-col-right {
      padding-left: 32px;
      padding-right: 45px;
    }

    .content-col-header {
      padding: 22px 0 20px;
    }

    .content-col-heading {
      margin-bottom: 0;
    }

    // Dates
    .dates-container {
      .dates {
        height: 80px;
      }
    }

    // Graps container
    .graphs-container {
      .graph-card {
        height: 130px;
      }
    }

    // Profile
    .profile-container {
      .profile-card {
        padding: 0 15px 15px;
      }
      .profile-card-header {
        padding: 10px 0;
        margin-bottom: 10px;
      }

      .profile-card-body {
        .profile-data-unit {
          margin-bottom: 15px;

          .data {
            i {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  @media(min-width: 1600px) {    // Profile
    .profile-container {
      .profile-card {
        padding: 0 20px 20px;
      }
      .profile-card-header {
        padding: 15px 0;
        margin-bottom: 20px;
      }

      .profile-card-body {
        .profile-data-unit {
          margin-bottom: 15px;

          .data {
            i {
              padding-right: 15px;
            }
          }
        }
      }
    }

    .content-col-left {
      .accordion-items {
        max-height: 530px;
      }
    }
  }

  @media(min-width: 1800px) {
    .content-col-left {
      .accordion-items {
        max-height: 680px;
      }
    }
    // Dates
    .dates-container {
      .dates {
        height: 100px;
      }
    }

    // Graps container
    .graphs-container {
      margin: 30px 0;

      .graph-card {
        height: 262px;
      }
    }
  }
}

//************* Summary Empty  Wizard *************//
.summary-page-empty {
  @media(min-width: 300px) {
    .content-container {
      max-width: 100%;
      flex-grow: 0;
      padding: 0;
    }
  }

  @media(min-width: 1200px) {
    .content-container {
      flex-grow: 0;
      padding: 0 25px 60px 0;
    }

    .content-col-left {
      .content-col-main {
      }

      .img-container {
        margin-top: 50px;

        &:before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  @media(min-width: 1800px) {
    .content-col-left {
      .content-col-main {
        padding-top: 80px;
      }
    }
  }
}

//************* Landing sign up page  *************//
@import 'landing-sig-up-new-responsive.scss';

//************* New sign up landing page  07.04.2020 *************//
@import 'sign-up-landing-responsive';


//*************  System campaign: Services, summary, zip-code pages *************//
.system-campaign {
  @import 'system-campaign-responsive.scss';
}


