/* line 14, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .custom-select {
  height: 40px;
  border: 1px solid #ced4da; }
  /* line 18, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
  .account-settings .custom-select:focus {
    border: 1px solid #ced4da; }

/* line 23, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .custom-control {
  padding-left: 0; }

/* line 27, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .search {
  padding-bottom: 0 !important;
  border-bottom: none !important; }
  /* line 31, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
  .account-settings .search .input-group {
    height: 40px !important; }

/* line 36, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .input-group {
  color: #b3b3b3; }

/* line 40, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .input-group-prepend {
  right: auto;
  left: 0; }

/* line 45, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .form-control {
  padding-right: 20px !important;
  padding-left: 40px !important;
  color: #b3b3b3; }
  /* line 50, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
  .account-settings .form-control::placeholder {
    color: #b3b3b3; }

/* line 55, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .decoration-element-wizard {
  left: 0;
  height: 100%; }

/* line 60, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .dashed-line {
  height: 100%; }

/* line 72, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .right-side-content-col {
  margin-top: 10px; }

/* line 76, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .account-settings-inner {
  position: relative; }

/* line 80, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .services-wrapper {
  padding: 20px 40px 20px 40px;
  background-color: #f5f5f5; }

/* line 90, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .content {
  padding-left: 30px; }

/* line 94, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .input-group-select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: coral; }

/* line 104, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .selected-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll; }

/* line 115, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .service-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: auto;
  padding: 0 15px;
  color: #fff;
  border-radius: 50px; }

/* line 127, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .service-name {
  white-space: nowrap; }

/* line 131, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .fa-times {
  font-size: 14pt;
  cursor: pointer; }

/* line 136, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings .fa-arrow-circle-right {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translate(-20%, -70%);
  color: #fff;
  background-color: #585077;
  border-radius: 50%;
  font-size: 24pt; }

/* line 150, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings ::-webkit-scrollbar-thumb {
  background-color: #585077 !important; }

/* line 154, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/services.scss */
.account-settings ::-webkit-scrollbar-track {
  background-color: #585077 !important; }

/*# sourceMappingURL=services.css.map */