@import 'carousel';

@media(max-width: 1899px) {
  .quality-cards {
    display: flex;
    align-items: center;
  }

  .quality-card-text {
    font-size: 14.75pt;
  }
}

@media(max-width: 1599px) {}

@media(max-width: 1399px) {
  .content-section {
    h1 {
      font-size: 24pt;
    }

    .top-text {
      font-size: 2.125vh !important;
    }

    .bottom-text {
      font-size: 2.25vh !important;
    }
  }

  .quality-card {
    height: 210px;
    margin: 0 10px;
  }

  .quality-card-content {
    padding: 15px;
  }

  .quality-card-image {
    height: 30px;
  }

  .quality-card-text {
    font-size: 10.5pt;
  }

  .read-more {
    font-size: 1.65vh !important;
  }
}

@media(max-width: 1279px) {
  .head-section-body {
    h1 {
      font-size: 21px !important;
    }

    .head-section-inner {
      padding-left: 15vw !important;
    }
  }
}

@media(max-width: 1199px) {
  h1 {
    font-size: 18.75pt;
  }

  .quality-card {
    margin: 0 5px;

    .quality-card-content {
      padding: 20px 10px 10px 10px;
    }
  }

  .quality-card-image {
    margin-bottom: 20px;
  }

  .quality-card-text {
    font-size: 9pt;
  }
}

@media(max-width: 991px) {
  .back-layer {
    position: static;
    transform: none;
    width: 96%;
    max-width: 500px;
    margin: 0 auto;

    &.is-active {
      z-index: 9000;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding-top: 60px;
      background-color: transparentize(#000, 0.3);

      .special-offers {
        display: none;
      }

      .form-container {
        width: 96%;
        padding-top: 20px;
        background-color: #fff;
        border-radius: 5px;
      }

      .submit-button {
        .btn {
          padding: 0;
        }
      }

      .custom-control-label {
        padding-top: 8px;
      }
    }
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .quality-cards {
    display: flex;
    align-items: initial;
    flex-direction: initial;
    margin-top: 0;
  }

  .quality-card {
    width: 96%;
    height: 200px;
    margin-bottom: 10px;

    .quality-card-content {
      padding: 20px 20px 10px;

      &:before {
        top: 0;
      }
    }
  }

  .quality-card-image {
    margin-bottom: 10px;
  }

  .quality-card-text {
    font-size: 1.75vw;
  }

  .top-text {
    font-size: 11.25pt;

    span {
      font-size: 11.25pt;
    }
  }

  .cards-container {
    max-width: 380px;
    margin: 30px auto;
  }

  .bottom-text {
    margin: 20px 0;
    font-size: 10.5pt;
  }

  .head-section-body {
    .head-section-inner {
      padding-left: 0 !important;
    }
  }
}

@media(max-width: 767px) {}

@media(max-width: 599px) {}

@media(max-width: 374px) {}

.main-page-container {
  @media(max-width: 1599px) {
    .special-offers {
      .special-offer-text {
        font-size: 1.75vh;
      }
    }
  }

  @media(max-width: 1199px) {
    .special-offers {
      .special-offer-text {
        font-size: 1.4vw;
      }

      .offer {
        font-size: 1.5vh;
      }
    }

    .side-block {
      //min-width: 350px !important;

      h4 {
        font-size: 1.875vh;
      }
    }
  }

  @media(max-width: 991px) {
    //height: auto !important;
    //.content-section {
    //  height: auto !important;
    //  padding: 2vh 5% 3vh 5% !important;
    //
    //  .content {
    //    height: auto !important;
    //  }
    //
    //  .form {
    //    position: static !important;
    //    transform: none;
    //    width: 96% !important;
    //    max-width: 500px;
    //    height: auto !important;
    //    margin: 2vh auto;
    //  }
    //}
  }

  @media(max-width: 767px) {}

  @media(max-width: 599px) {}

  @media(max-width: 374px) {}
}
