//@import 'horizontal-scroll-wrapper';
@import 'carousel';

@media(max-width: 1899px) {
  .quality-cards {
    display: flex;
    align-items: center;
  }

  .quality-card-text {
    font-size: 14.75pt;
  }
}

@media(max-width: 1699px) {
  // footer
  .footer-outer {
    .footer-col {
      position: relative;
      //padding-right: 100px;
    }

    //.read-more {
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //}
  }
}

@media(max-width: 1599px) {
  .special-offers {
    .special-offer-text {
      //font-size: 1.75vh !important;
    }
  }
}

@media(max-width: 1399px) {
  // Head section
  .head-section-body {
    .aiqoo-logo-outer {
      //padding-left: 9vw !important;
      width: 23vw !important;
    }
  }

  // Content section
  .content-section {
    h1 {
      font-size: 24pt;
    }
    .top-text {
      font-size: 2.125vh !important;
    }
  }

  // Quality cards
  .quality-card {
    height: 210px;
    margin: 0 10px;
  }

  .read-more {
    font-size: 1.65vh !important;
  }

  .error-message {
    margin-top: 1vh;
  }

  // Footer
  footer {
    .footer-outer {
      width: 68vw !important;
    }

    .read-more {
      font-size: 1.125vh !important;
    }
  }
}

@media(max-width: 1299px) {
  .sticky-logo-container {
    //width: 18vw !important;
  }

  .sign-up-form {
    .error-message {
      span {
        font-size: 1.5vh !important;
        white-space: normal;
      }
    }
  }
}

@media(max-width: 1199px) {
  // Head section
  .head-section-body {
    .aiqoo-logo-outer {
      width: 30vw !important;
    }

    .aiqoo-logo-inner {
      img {
        width: 14vw !important;
      }
    }

    .pro-img {
      width: 7vh !important;
      top: -2vh !important;
    }
  }

  // Content
  .content {
    h1 {
      font-size: 4vw !important;
    }

    .text {
      font-size: 1.65vw !important;
    }
  }

  .special-offers {
    .special-offer-text {
      //font-size: 1.4vw !important;
    }

    .offer {
      font-size: 1.5vh !important;
    }
  }

  .side-block {
    //min-width: 350px !important;

    h4 {
      font-size: 1.875vh;
    }

    .special-offer-text {
      font-size: 1.75vh !important;
    }

    .sign-up-form {
      .error-message {
        span {
          font-size: 1.25vh !important;
        }
      }
    }
  }

  // Quality cards
  .quality-card {
    margin: 0 5px;

    .quality-card-content {
      //padding: 20px 10px 10px 10px;
    }
  }

  // Slick
  .reviews {
    .slick-container {
      &:after {
        display: none !important;
      }
    }

    .review-card {
      .rate {
        width: 6vw !important;
      }

      .author-name {
        font-size: 1.5vh !important;
      }

      .location {
        font-size: 1.125vh !important;
      }

      .text {
        font-size: 1.25vh !important;
      }
    }
  }

  // footer
  .footer-outer {
    padding: 0.5vh 3vw 1.5vh 3vw !important;

    .sticky-logo-container {
      height: 5vh !important;
    }

    .sticky-logo-wrapper {
      padding: 1vh 1vw 1.5vh !important;
    }

    .footer-col {
      //padding-right: 80px;
    }

    h4 {
      font-size: 1.35vh !important;
    }

    .text {
      font-size: 1.125vh !important;
    }
  }
}

@media(max-width: 999px) {
  // Head section
  .head-section-body {
    padding-left: 4vw;
  }

  // Content
  .content-section {
    padding: 2vh 2vw 3vh !important;
  }

  .content {
    width: 60% !important;
  }

  .top-text {
    max-width: 90%;
    margin: 0vh auto 0;
  }

  // Cards
  .cards-container {
    width: 96% !important;
    margin: 2vh auto !important;
  }

  // Reviews
  .reviews {
    width: 96% !important;
    margin: 2vh auto !important;
  }

  // Side block
  .side-block {
    width: 38% !important;
    box-shadow: none;
    background: transparent;

    .outer {
      width: 100%;
      box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.06);
      background-color: #fff;
    }

    .label {
      //width: 32% !important;
      //margin-right: -9% !important;

      img {
        //width: 63% !important;
      }
    }
  }
}

@media(max-width: 991px) {
  // Head section
  h2 {
    font-size: 2.35vh !important;
  }

  .head-section-inner {
    padding-left: 11vw !important;
  }

  .aiqoo-logo-inner {
    padding: 1vh 1vw 1vh 10vw !important;
  }

  // Quality cards
  .quality-card {
    width: 96%;
    height: 200px;
    margin-bottom: 10px;

    .quality-card-content {
      &:before {
        top: 0;
      }
    }
  }

  .quality-card-text {
    font-size: 1.5vh !important;
  }

  .top-text {
    font-size: 11.25pt;

    span {
      font-size: 11.25pt;
    }
  }

  // Slick
  .reviews {
    .review-card {
      .rate {
        width: 10vw !important;
      }

      .author-name {
        font-size: inherit !important;
      }

      .location {
        font-size: inherit !important;
      }

      .text {
        font-size: inherit !important;
      }
    }
  }

  // Footer
  footer {
    .scroll-container {
      .footer-outer {
        width: 60% !important;
      }
    }

    .links-container {
      flex-direction: column !important;
      align-items: flex-start !important;
    }

    .decoration-element {
      display: none !important;
    }

    .terms-and-conditions {
      margin-top: 5px !important;
    }
  }

  .sticky-logo-container-inner {
    width: 23vw !important;
    right: 2.5vw !important;
  }
}

@media(max-width: 870px) {
  .head-section {
    .head-section-body {
      h2 {
        font-size: 2vh !important;
      }
    }
  }
}

@media(max-width: 810px) {
  // Footer
  .footer-col {
    h4 {
      font-size: 1.5vw !important;
    }
  }
}

@media(max-width: 767px) {
  // Head section
  .head-section {
    .head-section-body {
      .head-section-inner {
        padding-left: 11.5vw !important;
      }

      h2 {
        font-size: 2.35vw !important;
      }
    }
  }

  // Content section
  .content-section {
    h1 {
      font-size: 4vh !important;
    }
  }

  // Footer
  .sticky-logo-container-inner {
    width: 28vw !important;
    right: 2.5vw !important;
  }

  .sticky-logo-wrapper {
    width: 100% !important;
  }

  .powered-by {
    font-size: 1.5vh !important;
    margin-right: 0 !important;
  }

  .aiqoo-logo {
    width: 40% !important;
  }
}

@media(max-width: 599px) {
  body {
    &.blocked {
      overflow: hidden;
    }
  }

  .back-layer {
    position: static;
    transform: none;
    width: 100%;
    margin: 0 auto;

    &.is-active {
      z-index: 9000;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: inherit !important;
      height: 100%;
      padding-top: 60px;
      background-color: transparentize(#000, 0.3);

      .special-offers {
        display: block;
        background-color: #fff;
        width: 96%;
        margin: 0 auto;

        .offer {
          &:after {
            right: -1px !important;
          }
        }
      }

      .label {
        top: 70px !important;
      }

      .form-container {
        flex-grow: inherit !important;
        width: 96%;
        margin: 0 auto;
        padding-top: 20px;
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .submit-button {
        .btn {
          padding: 0;
        }
      }

      .custom-control-label {
        padding-top: 8px;
      }
    }
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //pointer-events: none;
  }

  // Lets go btn
  .lets-go-btn {
    display: block !important;
    margin-left: 16vw;
    margin-top: 10px !important;
  }

  // Head section
  .head-section {
    &::after {
      display: none !important;
    }
    .head-section-body {
      .head-section-inner {
        padding-left: 17vw !important;
      }
    }

    .head-section-inner {
      h2 {
        padding: 1.5vh 0 0 0;
        font-size: 3.975vw !important;
      }

      .lets-go-btn {
        margin-left: 0;
      }
    }

    .aiqoo-logo-inner {
      padding: 1vh 1vw 1vh 9vw !important;

      img {
        width: 90%!important;
      }
    }

    .aiqoo-logo-outer {
      width: 200px !important;
      //padding-left: 16vw !important;
    }
  }

  .pro-img {
    width: 8vh !important;
  }

  // Content section
  .content-section {
    padding: 4vh 2vw 3vh !important;
  }

  .content-inner {
    flex-direction: column !important;
  }

  .content {
    width: 100% !important;
  }

  .top-text {
    .text {
      font-size: 1.65vh !important;
    }
  }

  // Quality cards
  .cards-container {
    max-width: 92% !important;
    height: auto !important;
    margin: 2vh auto 0 !important;
  }

  .quality-cards {
    flex-direction: column !important;
    align-items: center !important;
  }

  .quality-card {
    width: 100% !important;
    height: 150px !important;
  }

  .quality-card-content-inner {
    //position: static !important;

    &.small-card {
      .quality-card-text-content {
        padding: 1vh 2.5vw 2vh !important;
      }

      .step {
        line-height: 1;

        span {
          font-size: 3vh !important;
        }
      }

      .quality-card-text {
        font-size: 1.75vh !important;
      }
    }

    &.big-card {
      @media (max-width: 599px) {
        top: 50% !important;
      }
    }
  }

  // Review cards
  .review-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    //background-color: #fff;
  }

  .image-container {
    flex-shrink: 0;
    width: 100px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .review-container {
    flex-grow: 1;
    position: relative;
    width: auto;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rate {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 19vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    .text {
      font-size: 1.25vh !important;
    }
  }


  // Side block
  .side-block {
    width: 100% !important;
    max-width: 96% !important;
    margin: 2vh auto 0;
  }

  .special-offers {
    padding: 15px 15px 15px !important;

    .label {
      width: 100px !important;
    }
  }

  .form-container {
    .text-block {
      padding: 0 15px !important;
    }

    .sign-up-form {
      padding: 0 15px 15px !important;

      .error-message {
        span {
          font-size: 1.5vh !important;
        }
      }
    }

    .input-group-text {
      padding: 10px 15px !important;
    }

    .form-control {
      padding-left: 10px !important;
    }
  }

  // Footer
  footer {
    padding: 0 !important;

    .footer-outer {
      flex-direction: column !important;

      .footer-col {
        width: 100% !important;
      }

      .footer-col-2 {
        padding-bottom: 8vh !important;
      }

      h4 {
        margin-top: 10px;
        font-size: 1.75vh !important;
      }
    }

    .sticky-logo-container {
      width: 100%;
      z-index: 9000 !important;
      background-color: transparent !important;
    }

    .sticky-logo-container-inner {
      width: 60% !important;
      height: 6vh !important;
      right: auto !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.26);
    }

    .sticky-logo-wrapper {
      align-items: center !important;
    }

    .powered-by {
      display: block !important;
      margin-right: 2vw !important;
      font-size: 2vh !important;
    }

    .aiqoo-logo {
      width: 28% !important;
    }

    .scroll-container {
      .footer-outer {
        width: 100% !important;
      }
    }
  }
}

@media(max-width: 420px) {
  // Head section
  .head-section {
    .head-section-body {
      .head-section-inner {
        padding-left: 20.5vw !important;
      }
    }

    .head-section-inner {
    }

    .aiqoo-logo-inner {
      //padding: 1vh 1vw 1vh 9vw !important;

      img {
        //width: 90%!important;
      }
    }

    .aiqoo-logo-outer {
      width: 200px !important;
      //padding-left: 16vw !important;
    }
  }
}

