@import 'variables';

@media(max-width: 1799px) {
  // zip-code //
  .system-campaign-zip-code {
    .county-item {
      width: 20%;
    }
  }
  // EOL: system-campaign-zip-code

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary

}

@media(max-width: 1599px) {
  // Commons reusable styles //
  .warning {
    text-align: right;
  }
}


@media(max-width: 1399px) {
  // zip-code //
  .system-campaign-zip-code {
    .county-item {
      width: 25%;
    }
  }
  // EOL: system-campaign-zip-code

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary
}


@media(max-width: 1199px) {
  // zip-code //
  .system-campaign-zip-code {
    .county-item {
      width: 33.33%;
    }

    .warning {
      text-align: left;
    }
  }
  // EOL: system-campaign-zip-code

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary
}

@media(max-width: 991px) {
  // zip-code //
  .system-campaign-zip-code {
    .selected-service-item {
      flex-direction: column;
      align-items: flex-start;
    }

    .selected-service-item-col {
      width: 100%;
    }

    .edit {
      text-align: right;
    }

    .zip-code {
      border: none !important;
    }
  }
  // EOL: system-campaign-zip-code

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary
}

@media(max-width: 768px) {
  // zip-code //
  .system-campaign-zip-code {
    .county-item {
      width: 50%;
    }
  }
  // EOL: system-campaign-zip-code

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary

}

@media(max-width: 599px) {
  .system-campaign-inner {
    width: 96%;
    margin: 0 auto;
  }

  .search {
    .search-title {
      font-size: 1.125em;
    }

    .input-group {
      width: 100%;
    }

    input {
      width: 100%;
      font-size: 1.125em;

      &:focus {

      }

      &::-webkit-input-placeholder {
        font-size: 1.125em;

      }
      &::-moz-placeholder {
        font-size: 1.125em;

      }
      &:-ms-input-placeholder {
        font-size: 1.125em;

      }
      &:-moz-placeholder {
        font-size: 1.125em;

      }
    }
  }

  .tools {
    @include flex-row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    span {
      font-weight: 500;
      font-size: .75em;
      color: $purple;

      &.divider {
        width: 1px;
        height: 15px;
        margin: 0 8px;
        background-color: $purple;
      }
    }

    .active {
      color: #c30a0a;
    }
  }

  .page-content-tools {
    height: 56px;
    padding: 10px 0;
  }

  // system-campaign-services //
  .system-campaign-services {
    .page-content {
      padding-right: 20px;
      padding-left: 20px;
    }

    .page-content-outer {
      padding: 0 6px 0 10px;
    }

    .form-control {
      max-width: 315px;
    }
  }
  // EOL: system-campaign-services //

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary
}

@media(max-width: 499px) {
  // zip-code //
  .system-campaign-zip-code {
    .county-item {
      width: 100%;
    }
  }
  // EOL: system-campaign-zip-code

  // system-campaign-summary //
  .system-campaign-summary {

  }
  // EOL: system-campaign-summary
}
