@media (min-width: 1200px) {
  /* line 35, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
  .cursor-p {
    cursor: pointer; } }

/* line 41, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.white-space-nowrap {
  white-space: nowrap; }

/* line 45, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.red {
  color: #c30a0a; }

/* line 49, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.purple {
  color: #585077; }

/* line 53, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.dark {
  color: #342e49; }

/* line 57, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.font-w-300 {
  font-weight: 300; }

/* line 61, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.font-w-500 {
  font-weight: 500; }

/* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.d-600-none {
  display: flex !important; }
  @media (max-width: 599px) {
    /* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
    .d-600-none {
      display: none !important; } }

/* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
.d-600-flex {
  display: none !important; }
  @media (max-width: 599px) {
    /* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/utils/_variables.scss */
    .d-600-flex {
      display: flex !important; } }

@media (max-width: 1599px) {
  /* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .warning {
    text-align: right; } }

@media (max-width: 1199px) {
  /* line 54, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .tools-container .tools {
    display: flex;
    flex-direction: column; }
    /* line 58, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .system-campaign-services .tools-container .tools .divider {
      display: none; }
  /* line 72, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-zip-code .warning {
    text-align: left; } }

@media (max-width: 991px) {
  /* line 82, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-zip-code .selected-service-item {
    flex-direction: column;
    align-items: flex-start; }
  /* line 87, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-zip-code .selected-service-item-col {
    width: 100%; }
  /* line 91, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-zip-code .edit {
    text-align: right; }
  /* line 95, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-zip-code .zip-code {
    border: none !important; }
  /* line 103, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-title-list {
    display: none; }
  /* line 107, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px; }
  /* line 115, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .list-item .table-cell-4 {
    padding-left: 10px; }
  /* line 121, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-item .table-cell {
    width: 50%; }
  /* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-item.head-item .table-cell {
    width: 33.3%; }
  /* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-item.head-item .table-cell-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  /* line 134, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-item.head-item .table-cell-6 {
    justify-content: flex-start; }
  /* line 141, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .table-cell {
    height: 100%; } }

@media (max-width: 768px) {
  /* line 151, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .page-content-tools {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto; }
  /* line 158, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .tools-container {
    margin-left: 0;
    margin-bottom: 10px; }
    /* line 162, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .system-campaign-services .tools-container .tools {
      flex-direction: row; }
      /* line 166, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
      .system-campaign-services .tools-container .tools span:not(:first-of-type) {
        padding: 0 5px; }
  /* line 174, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .search .input-group {
    width: auto; }
  /* line 193, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .list-item .table-item .table-cell {
    width: 100%; }
  /* line 197, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .list-item .table-item .table-cell-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  /* line 204, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-summary .list-item .table-item .table-cell-4 {
    padding-left: 0; } }

@media (max-width: 599px) {
  /* line 215, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-inner {
    width: 96%;
    margin: 0 auto; }
  /* line 221, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .search .search-title {
    font-size: 1.125em; }
  /* line 225, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .search .input-group {
    width: 100%; }
  /* line 229, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .search input {
    width: 100%;
    font-size: 1.125em; }
    /* line 237, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .search input::-webkit-input-placeholder {
      font-size: 1.125em; }
    /* line 241, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .search input::-moz-placeholder {
      font-size: 1.125em; }
    /* line 245, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .search input:-ms-input-placeholder {
      font-size: 1.125em; }
    /* line 249, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .search input:-moz-placeholder {
      font-size: 1.125em; }
  /* line 256, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
    /* line 263, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .tools span {
      font-weight: 500;
      font-size: .75em;
      color: #585077; }
      /* line 268, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
      .tools span.divider {
        width: 1px;
        height: 15px;
        margin: 0 8px;
        background-color: #585077; }
    /* line 276, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
    .tools .active {
      color: #c30a0a; }
  /* line 281, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .page-content-tools {
    height: 56px;
    padding: 10px 0; }
  /* line 288, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .page-content {
    padding-right: 20px;
    padding-left: 20px; }
  /* line 293, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .page-content-outer {
    padding: 0 6px 0 10px; }
  /* line 297, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/system-campaign-responsive.scss */
  .system-campaign-services .form-control {
    max-width: 315px; } }

/*# sourceMappingURL=system-campaign-responsive.css.map */