@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Anton:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');

$primaryColer: #606060;

$purple: #585077;
$primaryTextColor: #342e4a;
$primaryOpacityColor: rgba(52, 46, 74, 0.4);
$primaryExtraOpacityColor: rgba(24, 13, 113, 0.2);

$creamTextColor: #f9f6f1;
$lithCreamColor: #f9f6f1;
$lithCreamOpacityColor: rgba(240, 237, 232, 0.38);


$btnBlue: linear-gradient(to bottom,rgba(0,38,145,1) 0,#180d71 53%,rgba(0,38,145,1) 100%);
$greenColor: #b1ad84;
$greenOpacityColor: #b1ad8466;
$pinkish-grey: #d8cdba;


$break-mobile: "600px";
$break-tablet: "768px";
$small-pc: "992px";
$break-pc: "1200px";
$break-large-screen: "1600px";

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-p {
    @media(min-width: 1200px) {
        cursor: pointer;
    }
}

.icon-red {
    color: #c30a0a;
}

.icon-dark {
    color: #342e49;
}

.font-w-300 {
    font-weight: 300;
}

.font-w-500 {
    font-weight: 500;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin titleColor {
    color: $primaryTextColor;
    font-family: "Poppins", 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    margin-bottom: 10px;
    font-weight: 400;
}

@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin menuItemActive {
    &:after {
        display: block;
        content: '';
        width: 90%;
        height: 4px;
        background-color: $purple;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@mixin inputStyles {
    height: 100%;
    color: $purple;
}

@mixin placeholderFontSize {
    font-size: 1.4rem;
}
