@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Anton:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
/* line 1, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
html, body {
  font-family: "Poppins", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  color: #585077;
  font-size: 10pt; }

/* line 9, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
textarea:focus, input:focus {
  outline: none; }

/* line 13, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
select:focus {
  outline-color: #585077; }

/* line 17, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
option:disabled {
  background: #585077;
  padding: 5px;
  color: #292c6c !important;
  font-weight: bold;
  font-size: 11pt; }

/* line 25, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
a {
  color: #585077; }

/* line 29, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
a:hover {
  outline: 0;
  text-decoration: none;
  color: #585077; }

/* line 35, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
a:active {
  outline: 0;
  text-decoration: none;
  color: #585077; }

/* line 41, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
a:focus {
  outline: 0;
  text-decoration: none;
  color: #585077; }

/* line 47, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
app {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh; }

/* line 55, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.text-shadow {
  text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black, -0.03em -0.03em black, -0.03em 0.03em black, 0.03em -0.03em black, 0.03em 0.05em black; }

/* line 59, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.text-primary {
  color: #585077 !important; }

/* line 64, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-arial {
  font-family: "Arial", sans-serif; }

/* line 68, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.lato {
  font-family: "Lato","Ariel", sans-serif; }

/* line 72, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.anton {
  font-family: "Anton","Ariel", sans-serif; }

/* line 77, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.overflow-hidden {
  overflow: hidden !important; }

/* line 81, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.overflow-y-s {
  overflow-y: scroll !important; }

/* line 85, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.pos-r {
  position: relative; }

/* line 89, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.sticky {
  position: sticky; }

/* line 93, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.margin-center {
  margin: 0 auto; }

/* line 97, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.cursor-p {
  cursor: pointer; }

/* line 110, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.f-r-m {
  font-size: calc(100vw * 0.008); }

/* line 114, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.f-r-l {
  font-size: calc(100vw * 0.01); }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-6 {
  font-size: 6pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-7 {
  font-size: 7pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-8 {
  font-size: 8pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-9 {
  font-size: 9pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-10 {
  font-size: 10pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-11 {
  font-size: 11pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-12 {
  font-size: 12pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-13 {
  font-size: 13pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-14 {
  font-size: 14pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-16 {
  font-size: 16pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-18 {
  font-size: 18pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-20 {
  font-size: 20pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-24 {
  font-size: 24pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-30 {
  font-size: 30pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-32 {
  font-size: 32pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-34 {
  font-size: 34pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-40 {
  font-size: 40pt; }

/* line 123, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-50 {
  font-size: 50pt; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-6 {
  font-size: 0.6rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-7 {
  font-size: 0.7rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-8 {
  font-size: 0.8rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-9 {
  font-size: 0.9rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-10 {
  font-size: 1rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-11 {
  font-size: 1.1rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-12 {
  font-size: 1.2rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-13 {
  font-size: 1.3rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-14 {
  font-size: 1.4rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-16 {
  font-size: 1.6rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-18 {
  font-size: 1.8rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-20 {
  font-size: 2rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-24 {
  font-size: 2.4rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-30 {
  font-size: 3rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-32 {
  font-size: 3.2rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-34 {
  font-size: 3.4rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-40 {
  font-size: 4rem !important; }

/* line 130, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-r-50 {
  font-size: 5rem !important; }

@media (max-width: 1200px) {
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-6 {
    font-size: 0.54rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-7 {
    font-size: 0.63rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-8 {
    font-size: 0.72rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-9 {
    font-size: 0.81rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-10 {
    font-size: 0.9rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-11 {
    font-size: 0.99rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-12 {
    font-size: 1.08rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-13 {
    font-size: 1.17rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-14 {
    font-size: 1.26rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-16 {
    font-size: 1.44rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-18 {
    font-size: 1.62rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-20 {
    font-size: 1.8rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-24 {
    font-size: 2.16rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-30 {
    font-size: 2.7rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-32 {
    font-size: 2.88rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-34 {
    font-size: 3.06rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-40 {
    font-size: 3.6rem !important; }
  /* line 139, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-50 {
    font-size: 4.5rem !important; } }

@media (max-width: 600px) {
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-6 {
    font-size: 0.48rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-7 {
    font-size: 0.56rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-8 {
    font-size: 0.64rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-9 {
    font-size: 0.72rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-10 {
    font-size: 0.8rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-11 {
    font-size: 0.88rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-12 {
    font-size: 0.96rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-13 {
    font-size: 1.04rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-14 {
    font-size: 1.12rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-16 {
    font-size: 1.28rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-18 {
    font-size: 1.44rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-20 {
    font-size: 1.6rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-24 {
    font-size: 1.92rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-30 {
    font-size: 2.4rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-32 {
    font-size: 2.56rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-34 {
    font-size: 2.72rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-40 {
    font-size: 3.2rem !important; }
  /* line 149, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .font-r-50 {
    font-size: 4rem !important; }
  /* line 154, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .h1, h1 {
    font-size: 2.25rem !important; }
  /* line 158, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .h2, h2 {
    font-size: 1.8rem !important; }
  /* line 162, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .h3, h3 {
    font-size: 1.575rem !important; }
  /* line 166, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .h4, h4 {
    font-size: 1.35rem !important; }
  /* line 170, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .h5, h5 {
    font-size: 1.125rem !important; }
  /* line 174, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
  .h6, h6 {
    font-size: 0.9rem !important; } }

/* line 181, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.p-t-60 {
  padding-top: 60px; }

/* line 185, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.p-b-60 {
  padding-bottom: 60px; }

/* line 189, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.p-x-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

/* line 194, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.p-t-80 {
  padding-top: 80px; }

/* line 198, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.pa-l-4p {
  margin-left: 4% !important; }

/* line 202, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.pa-l-10 {
  padding-left: 10px !important; }

/* line 206, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-5 {
  margin: 5px !important; }

/* line 210, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-10 {
  margin: 10px !important; }

/* line 214, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-15 {
  margin: 15px !important; }

/* line 218, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-20 {
  margin: 20px !important; }

/* line 222, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-r-5 {
  margin-right: 5px !important; }

/* line 226, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-r-10 {
  margin-right: 10px !important; }

/* line 230, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-r-15 {
  margin-right: 15px !important; }

/* line 234, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-r-20 {
  margin-right: 20px !important; }

/* line 238, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-r-60 {
  margin-right: 60px !important; }

/* line 242, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-5 {
  margin-left: 5px !important; }

/* line 246, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-5p {
  margin-left: 5% !important; }

/* line 250, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-p-1 {
  margin-left: 1% !important; }

/* line 254, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-10 {
  margin-left: 10px !important; }

/* line 258, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-15 {
  margin-left: 15px !important; }

/* line 262, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-20 {
  margin-left: 20px !important; }

/* line 266, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-l-30 {
  margin-left: 30px !important; }

/* line 270, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-t-5 {
  margin-top: 5px !important; }

/* line 274, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-t-10 {
  margin-top: 10px !important; }

/* line 278, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-t-15 {
  margin-top: 15px !important; }

/* line 282, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-t-20 {
  margin-top: 20px !important; }

/* line 286, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-t-30 {
  margin-top: 30px !important; }

/* line 290, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-t-50 {
  margin-top: 50px !important; }

/* line 294, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-b-0 {
  margin-bottom: 0 !important; }

/* line 298, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-b-5 {
  margin-bottom: 5px !important; }

/* line 302, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-b-10 {
  margin-bottom: 10px !important; }

/* line 306, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-b-15 {
  margin-bottom: 15px !important; }

/* line 310, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-b-20 {
  margin-bottom: 20px !important; }

/* line 314, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.ma-b-30 {
  margin-bottom: 30px !important; }

/* line 320, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-300 {
  font-weight: 300 !important; }

/* line 324, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-400 {
  font-weight: 400 !important; }

/* line 328, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-500 {
  font-weight: 500 !important; }

/* line 332, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-600 {
  font-weight: 600 !important; }

/* line 336, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-bold {
  font-weight: 700; }

/* line 340, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-semi-bold {
  font-weight: 800; }

/* line 344, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.font-weight-black {
  font-weight: 900; }

/* line 350, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

/* line 359, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-2 {
  width: 2% !important; }

/* line 363, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-3 {
  width: 3% !important; }

/* line 367, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-15 {
  width: 15% !important; }

/* line 371, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-20 {
  width: 20% !important; }

/* line 375, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-40 {
  width: 40% !important; }

/* line 379, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-50 {
  width: 50% !important; }

/* line 383, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-55 {
  width: 55% !important; }

/* line 387, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-60 {
  width: 60% !important; }

/* line 391, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-80 {
  width: 80% !important; }

/* line 395, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-85 {
  width: 85% !important; }

/* line 399, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-90 {
  width: 90% !important; }

/* line 403, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-95 {
  width: 95% !important; }

/* line 407, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-100 {
  width: 100% !important; }

/* line 411, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-33 {
  width: 33% !important; }

/* line 415, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-66 {
  width: 66% !important; }

/* line 419, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.w-300-p {
  width: 300px !important; }

/* line 425, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.l-h-1 {
  line-height: 1; }

/* line 429, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.l-h-1-5 {
  line-height: 1.5; }

/* line 433, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.l-h-2 {
  line-height: 2; }

/* line 437, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.h-vh-25 {
  min-height: 25vh; }

/* line 441, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.h-vh-50 {
  min-height: 50vh; }

/* line 445, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.h-vh-75 {
  min-height: 75vh; }

/* line 450, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-2-green {
  border-bottom: 2px solid #03a04a; }

/* line 454, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-2-red {
  border-bottom: 2px solid red; }

/* line 458, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-3-primary {
  border-bottom: solid 3px #585077; }

/* line 462, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-3-secondary {
  border-bottom: solid 3px #6c757d; }

/* line 466, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-green {
  border-bottom: 5px solid #03a04a; }

/* line 470, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-red {
  border-bottom: 5px solid red; }

/* line 474, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-primary {
  border-bottom: solid 5px #585077; }

/* line 478, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-excellent {
  border-bottom: solid 5px #03a04a; }

/* line 482, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-good {
  border-bottom: solid 5px #00c723; }

/* line 486, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-ok {
  border-bottom: solid 5px orange; }

/* line 490, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.border-5-improve-needed {
  border-bottom: solid 5px red; }

/* line 496, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1570 {
  display: block; }
  @media (max-width: 1570px) {
    /* line 496, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1570 {
      display: none !important; } }

/* line 504, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1500 {
  display: block; }
  @media (max-width: 1500px) {
    /* line 504, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1500 {
      display: none !important; } }

/* line 512, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1470 {
  display: block; }
  @media (max-width: 1470px) {
    /* line 512, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1470 {
      display: none !important; } }

/* line 520, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1440 {
  display: block; }
  @media (max-width: 1440px) {
    /* line 520, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1440 {
      display: none !important; } }

/* line 528, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1400 {
  display: block; }
  @media (max-width: 1400px) {
    /* line 528, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1400 {
      display: none !important; } }

/* line 536, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-from-1350 {
  display: block; }
  @media (max-width: 1350px) {
    /* line 536, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-from-1350 {
      display: none; } }

/* line 544, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1340 {
  display: block; }
  @media (max-width: 1340px) {
    /* line 544, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1340 {
      display: none !important; } }

/* line 552, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1310 {
  display: block; }
  @media (max-width: 1310px) {
    /* line 552, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1310 {
      display: none !important; } }

/* line 560, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1300 {
  display: block; }
  @media (max-width: 1300px) {
    /* line 560, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1300 {
      display: none !important; } }

/* line 568, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1220 {
  display: block; }
  @media (max-width: 1220px) {
    /* line 568, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1220 {
      display: none !important; } }

/* line 576, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1200 {
  display: block; }
  @media (max-width: 1200px) {
    /* line 576, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1200 {
      display: none !important; } }

/* line 584, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1120 {
  display: block; }
  @media (max-width: 1120px) {
    /* line 584, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1120 {
      display: none !important; } }

/* line 592, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1070 {
  display: block; }
  @media (max-width: 1070px) {
    /* line 592, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1070 {
      display: none !important; } }

/* line 600, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1024 {
  display: block; }
  @media (max-width: 1024px) {
    /* line 600, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1024 {
      display: none !important; } }

/* line 608, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1030 {
  display: block; }
  @media (max-width: 1030px) {
    /* line 608, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1030 {
      display: none !important; } }

/* line 616, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1040 {
  display: block; }
  @media (max-width: 1040px) {
    /* line 616, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1040 {
      display: none !important; } }

/* line 624, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-1000 {
  display: block; }
  @media (max-width: 1000px) {
    /* line 624, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-1000 {
      display: none !important; } }

/* line 632, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-970 {
  display: block; }
  @media (max-width: 970px) {
    /* line 632, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-970 {
      display: none !important; } }

/* line 640, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-950 {
  display: block; }
  @media (max-width: 950px) {
    /* line 640, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-950 {
      display: none !important; } }

/* line 648, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-940 {
  display: block; }
  @media (max-width: 940px) {
    /* line 648, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-940 {
      display: none !important; } }

/* line 656, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-860 {
  display: block; }
  @media (max-width: 860px) {
    /* line 656, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-860 {
      display: none !important; } }

/* line 664, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-830 {
  display: block; }
  @media (max-width: 830px) {
    /* line 664, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-830 {
      display: none !important; } }

/* line 672, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-740 {
  display: block; }
  @media (max-width: 740px) {
    /* line 672, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-740 {
      display: none !important; } }

/* line 680, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-730 {
  display: block; }
  @media (max-width: 730px) {
    /* line 680, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-730 {
      display: none !important; } }

/* line 688, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-680 {
  display: block; }
  @media (max-width: 680px) {
    /* line 688, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-680 {
      display: none !important; } }

/* line 696, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.hide-in-620 {
  display: block; }
  @media (max-width: 620px) {
    /* line 696, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .hide-in-620 {
      display: none !important; } }

/* line 706, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-680 {
  display: none !important; }
  @media (max-width: 680px) {
    /* line 706, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-680 {
      display: block !important; } }

/* line 714, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-830 {
  display: none !important; }
  @media (max-width: 830px) {
    /* line 714, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-830 {
      display: block !important; } }

/* line 722, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-860 {
  display: none !important; }
  @media (max-width: 860px) {
    /* line 722, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-860 {
      display: block !important; } }

/* line 730, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-970 {
  display: none !important; }
  @media (max-width: 970px) {
    /* line 730, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-970 {
      display: block !important; } }

/* line 738, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-940 {
  display: none !important; }
  @media (max-width: 940px) {
    /* line 738, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-940 {
      display: block !important; } }

/* line 746, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1000 {
  display: none !important; }
  @media (max-width: 1000px) {
    /* line 746, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1000 {
      display: block !important; } }

/* line 754, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1024 {
  display: none !important; }
  @media (max-width: 1024px) {
    /* line 754, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1024 {
      display: block !important; } }

/* line 762, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1030 {
  display: none !important; }
  @media (max-width: 1030px) {
    /* line 762, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1030 {
      display: block !important; } }

/* line 770, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1040 {
  display: none !important; }
  @media (max-width: 1040px) {
    /* line 770, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1040 {
      display: block !important; } }

/* line 778, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1070 {
  display: none !important; }
  @media (max-width: 1070px) {
    /* line 778, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1070 {
      display: block !important; } }

/* line 786, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1120 {
  display: none !important; }
  @media (max-width: 1120px) {
    /* line 786, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1120 {
      display: block !important; } }

/* line 794, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1200 {
  display: none !important; }
  @media (max-width: 1200px) {
    /* line 794, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1200 {
      display: block !important; } }

/* line 802, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1220 {
  display: none !important; }
  @media (max-width: 1220px) {
    /* line 802, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1220 {
      display: block !important; } }

/* line 810, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1500 {
  display: none !important; }
  @media (max-width: 1500px) {
    /* line 810, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1500 {
      display: block !important; } }

/* line 818, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
.show-in-1570 {
  display: none !important; }
  @media (max-width: 1569px) {
    /* line 818, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_helpers.scss */
    .show-in-1570 {
      display: block !important; } }

/* line 1, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_reset-styles.scss */
img {
  display: block;
  max-width: 100%; }

/* line 6, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_reset-styles.scss */
button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

@media (min-width: 1200px) {
  /* line 35, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
  .cursor-p {
    cursor: pointer; } }

/* line 41, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.white-space-nowrap {
  white-space: nowrap; }

/* line 45, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.red {
  color: #c30a0a; }

/* line 49, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.purple {
  color: #585077; }

/* line 53, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.dark {
  color: #342e49; }

/* line 57, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.font-w-300 {
  font-weight: 300; }

/* line 61, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.font-w-500 {
  font-weight: 500; }

/* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.d-600-none {
  display: flex !important; }
  @media (max-width: 599px) {
    /* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
    .d-600-none {
      display: none !important; } }

/* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.d-600-flex {
  display: none !important; }
  @media (max-width: 599px) {
    /* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
    .d-600-flex {
      display: flex !important; } }

@media (min-width: 1200px) {
  /* line 35, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
  .cursor-p {
    cursor: pointer; } }

/* line 41, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.white-space-nowrap {
  white-space: nowrap; }

/* line 45, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.red {
  color: #c30a0a; }

/* line 49, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.purple {
  color: #585077; }

/* line 53, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.dark {
  color: #342e49; }

/* line 57, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.font-w-300 {
  font-weight: 300; }

/* line 61, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.font-w-500 {
  font-weight: 500; }

/* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.d-600-none {
  display: flex !important; }
  @media (max-width: 599px) {
    /* line 118, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
    .d-600-none {
      display: none !important; } }

/* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
.d-600-flex {
  display: none !important; }
  @media (max-width: 599px) {
    /* line 126, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/variables.scss */
    .d-600-flex {
      display: flex !important; } }

/*
styles for all forms on sign-in, sign-up, wiz pages etc. Created by Igor 10-15.02.20
*/
/* line 6, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
form {
  font-family: "Raleway", sans-serif; }
  /* line 9, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  form .input-group-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  /* line 16, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  form .input-group {
    height: 68px;
    border-radius: 2.5px;
    border: 1px solid #ced4da;
    background-color: #fff; }
    /* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .input-group .custom-select {
      height: 100%; }
    /* line 26, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .input-group .form-control {
      height: 100%;
      color: #585077; }
      /* line 29, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .form-control:focus {
        border: 1px solid #ced4da;
        border-radius: 2.5px;
        border-left: 0; }
      /* line 35, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .form-control::-webkit-input-placeholder {
        height: 100%;
        color: #585077;
        font-size: 1.4rem; }
      /* line 39, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .form-control::-moz-placeholder {
        height: 100%;
        color: #585077;
        font-size: 1.4rem; }
      /* line 43, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .form-control:-ms-input-placeholder {
        height: 100%;
        color: #585077;
        font-size: 1.4rem; }
      /* line 47, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .form-control:-moz-placeholder {
        height: 100%;
        color: #585077;
        font-size: 1.4rem; }
    /* line 53, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .input-group .input-group-text {
      height: 100%;
      color: #585077;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      background-color: transparent;
      border-right: none; }
      /* line 62, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .input-group-text.input-group-aiqoo-text {
        min-width: initial; }
      /* line 66, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .input-group-text i, form .input-group .input-group-text .far {
        font-size: 1.5rem; }
      /* line 70, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      form .input-group .input-group-text:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 2px;
        height: 65%;
        background-color: #dedede; }
    /* line 84, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .input-group.input-group-password .fa-eye {
      z-index: 3;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 1.5rem;
      color: #585077; }
    /* line 94, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .input-group.input-group-password .form-control {
      padding-right: 50px; }
  /* line 100, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  form .custom-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0; }
    /* line 110, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .custom-checkbox .custom-control-label:before {
      width: 32px;
      height: 32px;
      border-radius: 2px;
      border: .5px solid #d6d6d6;
      background-color: #ffffff; }
    /* line 119, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
      border-color: #d6d6d6;
      background-color: #ffffff; }
    /* line 124, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
      left: -16px;
      width: 24px;
      height: 24px;
      border-radius: 1px;
      background-color: #585077;
      background-image: none; }
    /* line 134, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    form .custom-checkbox .terms-and-conditions:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #585077; }
  /* line 147, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  form .forgot-password {
    margin-left: auto;
    padding-top: 8px; }

/* line 153, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
.custom-control {
  display: flex;
  flex-direction: row;
  align-items: center; }
  /* line 158, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .custom-control .custom-control-label {
    padding-top: .025em; }
    /* line 161, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    .custom-control .custom-control-label:before {
      top: 0; }
  /* line 164, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .custom-control .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent !important; }
  /* line 168, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .custom-control .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("../images/confirm-7.svg"); }

/* line 177, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
.add-company-profile form .form-control-container {
  position: relative; }
  /* line 180, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .add-company-profile form .form-control-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    display: flex;
    align-items: center; }

@media (min-width: 300px) {
  /* line 192, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .add-company-profile form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    /* line 198, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    .add-company-profile form .form-group label {
      width: 100%; }
    /* line 202, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    .add-company-profile form .form-group .form-control-container {
      width: 100%; }
      /* line 205, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      .add-company-profile form .form-group .form-control-container .form-control {
        padding-left: 34px; }
        /* line 208, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
        .add-company-profile form .form-group .form-control-container .form-control:focus {
          border: 1px solid #ced4da; } }

@media (min-width: 1200px) {
  /* line 217, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .add-company-profile form .form-group {
    display: flex;
    flex-direction: row;
    align-items: center; }
    /* line 222, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    .add-company-profile form .form-group label {
      width: 40%;
      margin-bottom: 0; }
    /* line 227, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
    .add-company-profile form .form-group .form-control-container {
      position: relative;
      width: 60%; }
      /* line 231, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      .add-company-profile form .form-group .form-control-container .form-control {
        padding-left: 30px; }
      /* line 235, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
      .add-company-profile form .form-group .form-control-container i {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 18px;
        display: flex;
        align-items: center; } }

@media (min-width: 1366px) {
  /* line 249, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .add-company-profile form label {
    width: 50%; }
  /* line 253, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_form.scss */
  .add-company-profile form .form-control-container {
    width: 50%; } }

/* line 2, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;
  font-family: "Raleway", sans-serif; }
  /* line 11, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
  .search .controls {
    display: flex;
    flex-direction: row;
    align-items: center; }
  /* line 17, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
  .search .controls-title {
    display: none; }
  /* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
  .search .new-ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 46px;
    padding: 0 10px;
    background-color: #585077;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    border: none; }
    /* line 36, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
    .search .new-ticket .fa-plus-square {
      margin-right: 10px;
      font-size: 2rem; }
    /* line 41, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
    .search .new-ticket:focus {
      outline: none; }
  /* line 47, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
  .search .input-group {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 46px; }
  /* line 56, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
  .search .input-group-prepend {
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%; }
  /* line 68, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
  .search .form-control {
    height: 100%;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    border: none;
    background-color: #e8e8e8;
    font-weight: 300;
    color: #342e49;
    font-size: 1rem; }
    /* line 79, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
    .search .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-weight: 300;
      color: #342e49;
      font-size: 1rem; }
    /* line 85, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
    .search .form-control::-moz-placeholder {
      /* Firefox 19+ */
      font-weight: 300;
      color: #342e49;
      font-size: 1rem; }
    /* line 91, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
    .search .form-control:-ms-input-placeholder {
      /* IE 10+ */
      font-weight: 300;
      color: #342e49;
      font-size: 1rem; }
    /* line 97, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_search.scss */
    .search .form-control:-moz-placeholder {
      /* Firefox 18- */
      font-weight: 300;
      color: #342e49;
      font-size: 1rem; }

/* line 1, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.county-list-wrapper {
  padding: 20px 20px 20px 0;
  background-color: #f5f5f5; }

/* line 6, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.county-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 330px;
  overflow-y: scroll; }

/* line 16, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.county-item {
  width: 16.5%;
  margin-bottom: 10px; }

/* line 21, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.input-group-text {
  color: #585077; }

/* line 26, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 30px;
  margin-left: auto;
  margin-right: 76px;
  border: 1px solid #585077;
  color: #585077;
  box-shadow: none;
  background-color: transparent;
  font-weight: 300; }

/* line 42, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.custom-control-label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer; }
  /* line 49, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
  .custom-control-label::before, .custom-control-label::after {
    display: none; }

/* line 55, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.custom-checkbox-ui {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 1px solid #585077;
  border-radius: 5px; }

/* line 67, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.custom-control-input:checked ~ .custom-checkbox-ui::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../images/confirm-7.svg) no-repeat center;
  background-size: 50% auto; }

/* line 79, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
.input-label {
  padding-left: 10px; }

@media (max-width: 1799px) {
  /* line 84, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
  .county-item {
    width: 20%; } }

@media (max-width: 1399px) {
  /* line 90, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
  .county-item {
    width: 25%; } }

@media (max-width: 1199px) {
  /* line 96, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
  .county-item {
    width: 33.33%; } }

@media (max-width: 768px) {
  /* line 102, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
  .county-item {
    width: 50%; } }

@media (max-width: 499px) {
  /* line 108, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/_county-list.scss */
  .county-item {
    width: 100%; } }

/* line 11, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
.modal {
  overflow-x: hidden;
  overflow-y: auto; }
  /* line 16, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
  .modal.fade.show {
    opacity: 1; }

/* line 22, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
.wizard-modal {
  display: block; }
  /* line 25, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
  .wizard-modal .modal-content {
    border-radius: 0; }

/* line 30, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
.modal-content {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
  background-color: #ffffff; }

/* line 37, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }

/* line 44, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
.wizard-dialog {
  max-width: inherit; }
  /* line 48, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
  .wizard-dialog .tabs-w {
    width: 100%;
    background-color: #eaeaea; }
    /* line 52, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
    .wizard-dialog .tabs-w .tabs-inner {
      position: absolute;
      top: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%; }
    /* line 63, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
    .wizard-dialog .tabs-w .tab {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      color: #585077;
      border-radius: 1px;
      background-color: #ffffff;
      border-bottom: 7px solid #eaeaea;
      cursor: pointer; }
      /* line 74, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
      .wizard-dialog .tabs-w .tab.active {
        font-weight: 700;
        border-color: #585077; }
    /* line 80, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
    .wizard-dialog .tabs-w .divider {
      height: 4px;
      background-color: #b3b3b3; }
      /* line 84, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
      .wizard-dialog .tabs-w .divider.active {
        background-color: #585077; }
  /* line 90, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
  .wizard-dialog .text-block {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /* line 97, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/wizard.scss */
  .wizard-dialog .details {
    width: 45%; }

/*# sourceMappingURL=wizard.css.map */