//@import 'horizontal-scroll-wrapper';
@import '../modules/carousel';

@media(max-width: 1899px) {
  .quality-cards {
    display: flex;
    align-items: center;
  }

  .quality-card-text {
    font-size: 14.75pt;
  }
}

@media(max-width: 1699px) {
  // footer
  .footer-outer {
    .footer-col {
      position: relative;
    }
  }
}

@media(max-width: 1590px) {
  .input-group-text {
    padding: 1vh 1.25vw;
  }
}

@media(max-width: 1399px) {
  // Head section
  .head-section-body {
    .aiqoo-logo-outer {
      width: 23vw !important;
    }
  }

  // Content section
  .content-section {
    h1 {
      font-size: 24pt;
    }
    .top-text {
      font-size: 2.125vh !important;
    }
  }

  // Quality cards
  .quality-card {
    //height: 210px;
    margin: 0 10px;
  }

  .read-more {
    font-size: 1.65vh !important;
  }

  .error-message {
    //margin-top: 1vh;
  }

  // Footer
  footer {
    .footer-outer {
      width: 68vw !important;
    }

    .read-more {
      font-size: 1.125vh !important;
    }
  }
}

@media(max-width: 1299px) {
  .sign-up-form {
    .error-message {
      span {
        white-space: normal;
      }
    }
  }
}

@media(max-width: 1199px) {
  // form
  .input-group {
    height: 5vh !important;

    .input-group-text {
      width: 45px !important;
    }

    .form-control {
      font-size: 11pt !important;

      &::placeholder {
        font-size: 11pt !important;
      }
    }
  }

  // Head section
  .head-section-body {
    .aiqoo-logo-outer {
      width: 30vw !important;
    }

    .aiqoo-logo-inner {
      img {
        width: 14vw !important;
      }
    }

    .pro-img {
      width: 7vh !important;
      top: -2vh !important;
    }
  }

  // Content
  .content {
    h1 {
      font-size: 4vw !important;
    }

    .text {
      font-size: 1.65vw !important;
    }
  }

  .special-offers {
    .offer {
      font-size: 1.5vh !important;
    }
  }

  .side-block {
    h4 {
      //font-size: 1.875vh;
    }

    .special-offer-text {
      //font-size: 1.75vh !important;
    }
  }

  // Quality cards
  .quality-card {
    margin: 0 5px;
  }

  // Slick
  //.reviews {
  //
  //  .review-card {
  //    .rate {
  //      width: 10vw !important;
  //    }
  //
  //    .author-name {
  //      font-size: inherit !important;
  //    }
  //
  //    .location {
  //      font-size: inherit !important;
  //    }
  //
  //    .text {
  //      font-size: inherit !important;
  //    }
  //  }
  //}

  // Slick
  .reviews {
    width: 96% !important;
    margin: 2vh auto !important;
    .slick-container {
      &:after {
        display: none !important;
      }
    }

    .review-card {
      .rate {
        width: 6vw !important;
      }

      .author-name {
        font-size: 1.5vh !important;
      }

      .location {
        font-size: 1.125vh !important;
      }

      .text {
        font-size: 1.25vh !important;
      }
    }
  }

  // Side block
  .form-check {
    .custom-control-label-text {
      font-size: 1.5vh;
    }

    .custom-control-label-link {
      font-size: 1.125vh !important;
    }
  }

  // footer
  .footer-outer {
    padding: 0.5vh 3vw 1.5vh 3vw !important;

    .sticky-logo-container {
      height: 5vh !important;
    }

    .sticky-logo-wrapper {
      padding: 1vh 1vw 1.5vh !important;
    }

    h4 {
      font-size: 1.35vh !important;
    }

    .text {
      font-size: 1.125vh !important;
    }
  }
}

// Mobile starts here
@media(max-width: 991px) {
  // Head section
  h2 {
    font-size: 2.35vh !important;
  }

  .head-section-inner {
    padding-left: 11vw !important;
  }

  .aiqoo-logo-inner {
    padding: 1vh 1vw 1vh 10vw !important;
  }

  // Quality cards Cards
  .cards-container {
    width: 96% !important;
    height: auto;
    margin: 2vh auto !important;
  }

  // Quality cards
  .quality-card {
    width: 96%;
    height: 130px;
    margin-bottom: 20px;

    .quality-card-content {
      &:before {
        top: 0;
      }
    }
  }

  .quality-card-text {
    font-size: 1.5vh !important;
  }

  // Head section
  .head-section-body {
    padding-left: 4vw;
  }

  // Content
  .content-inner {
    align-items: flex-start !important;
  }

  .content-section {
    padding: 2vh 2vw 3vh !important;
  }

  .content {
    width: 60% !important;
  }

  .top-text {
    max-width: 90%;
    margin: 0vh auto 0;
    font-size: 11.25pt;

    span {
      font-size: 11.25pt;
    }
  }

  // Review cards
  .review-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .image-container {
    flex-shrink: 0;
    width: 100px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .review-container {
    flex-grow: 1;
    position: relative;
    width: auto;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rate {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    .text {
      font-size: 1.35vh !important;
    }
  }

  // Side block
  .content-section {
    .content-inner {
      .side-block-wrapper {
        //width: 100% !important;
        //margin: 2vh auto 0;
      }
    }
  }

  .side-block {
    width: 100% !important;
    box-shadow: none;
    background: transparent;

    .outer {
      width: 100%;
      box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.06);
      background-color: #fff;
    }
  }

  // SMS verification
  .account-verification {
    &.is-active {
      width: 100% !important;
      max-width: 450px;
      margin: 0 auto !important;
    }
  }

  // Footer
  footer {
    .links-container {
      flex-direction: column !important;
      align-items: flex-start !important;
    }

    .decoration-element {
      display: none !important;
    }

    .terms-and-conditions {
      margin-top: 5px !important;
    }

    .sticky-logo-container {
      z-index: 900 !important;
      //background-color: transparent !important;
    }

    .footer-outer {
      width: 100% !important;
      padding-right: 30% !important;
      padding-top: 20px !important;
      padding-bottom: 100px !important;
    }

    .footer-col {
      width: 40% !important;
    }
  }

  .sticky-logo-container-inner {
    width: 23vw !important;
    right: 2.5vw !important;
  }

  // Modal
  .terms-and-conditions-info {
    &.active {
      .image-container {
        width: 12vh !important;
      }
    }
  }
}

@media(max-width: 870px) {
  .head-section {
    .head-section-body {
      h2 {
        font-size: 2vh !important;
      }
    }
  }
}

@media(max-width: 810px) {
  // Footer
  .footer-col {
    h4 {
      font-size: 1.5vw !important;
    }
  }
}

@media(max-width: 767px) {
  // Modal
  .left-side {
    display: none;
  }

  // decoration element
  .decoration-element-mobile {
    z-index: 1;
    display: block !important;
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translate(0, -50%);
    width: 12px;
    height: 95%;
    border-radius: 20px;
    background-color: #585077;
  }
  // EOL: modal

  // Content
  .content-inner {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }

  .content {
    width: 100% !important;
    max-width: 96% !important;
  }

  // Side block
  .content-section {
    .content-inner {
      .side-block-wrapper {
        width: 100% !important;
        max-width: 96% !important;
        margin: 0 auto;
      }
    }
  }

  // Quality cards
  .cards-container {
    max-width: 92% !important;
    height: auto !important;
    margin: 3.5vh auto 0 !important;
  }

  .quality-cards {
    flex-direction: column !important;
    align-items: center !important;
  }

  .quality-card {
    width: 100% !important;
    height: 150px !important;
    margin-bottom: 20px !important;
  }

  .quality-card-content-inner {
    &.small-card {
      .quality-card-text-content {
        padding: 1vh 2.5vw 1vh !important;
      }

      .step {
        line-height: 1;

        span {
          font-size: 3vh !important;
        }
      }

      .quality-card-text {
        //font-size: 1.75vh !important;
      }
    }
  }

  // Head section
  .head-section {
    height: 28vh !important;
    padding: 0 !important;

    &::after {
      display: none !important;
    }

    &::before {
      height: 1vh !important;
    }

    .head-section-body {
      .head-section-inner {
        padding-left: 17vw !important;
      }
    }

    .head-section-inner {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      width: 100% !important;
      height: 100% !important;
      padding-left: 0 !important;

      h2 {
        display: block !important;
        width: auto !important;
        line-height: 1 !important;
        margin: 4vh auto 0 !important;
        padding: 1.5vh 2vw 1.5vh 2vw !important;
        background-color: transparentize(#585077, .5);
        color: #fff !important;
        border-radius: 10px;
        font-size: 4vw !important;
        text-align: center !important;
      }
    }

    .aiqoo-logo-inner {
      padding: 1vh 1vw 1vh 1vw !important;

      img {
        width: 100%!important;
      }
    }

    .aiqoo-logo-outer {
      top: 1vh;
      //left: 8vw;
      width: 120px !important;
      height: 6vh !important;
      max-height: 80px;
      margin: 0 !important;
      align-self: flex-start;
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }

  .head-section-body {
    .pro-img {
      width: 8vh !important;
      top: auto !important;
      left: 3vw !important;
      bottom: -1vh;
    }
    .head-section-inner {
      padding-left: 11.5vw !important;
    }

    h2 {
      font-size: 2.35vw !important;
    }
  }

  // Lets go btn Head section
  .lets-go-container {
    position: relative;
    display: block !important;
    margin-left: 16vw;
    margin-top: 10px !important;

    img {
      position: absolute;
      right: 3vw;
      top: 1.5vh;
      width: 30px;
      height: 20px;
      display: block;

      &.default {
        display: block;
      }

      &.hovered {
        display: none;
      }
    }
  }

  .lets-go-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 40vw !important;
    height: 40px !important;
    margin: 0 auto;
    margin-top: auto !important;
    margin-bottom: 2vh !important;
    font-size: 15pt !important;
    padding: 0 !important;
  }

  // Content section
  .content-section {
    margin-top: 0;

    h1 {
      font-size: 4vh !important;
    }

    .content-inner {
      align-items: baseline !important;
    }
  }

  .form-control {
    font-size: 12pt !important;

    &::placeholder {
      font-size: 12pt !important;
    }
  }

  .special-offers {
    .label {
      width: 18vw !important;
    }
  }

  // Side block
  .side-block {
    width: 100% !important;
    max-width: 450px !important;
    margin: 0 auto;
  }
  // Footer
  footer {
    padding: 0 !important;

    .footer-outer {
      flex-direction: column !important;
      padding: 0.5vh 3vw 1.5vh 3vw !important;

      .footer-col {
        width: 100% !important;
      }

      .footer-col-2 {
        padding-bottom: 8vh !important;
      }

      h4 {
        margin-top: 10px;
        font-size: 1.75vh !important;
      }

      .text {
        font-size: 1.5vh !important;
      }
    }

    .sticky-logo-container {
      width: 100%;
      z-index: 9000 !important;
      background-color: #585077 !important;
    }

    .sticky-logo-container-inner {
      width: 60% !important;
      height: 6vh !important;
      right: auto !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.26);
    }

    .sticky-logo-wrapper {
      align-items: center !important;
    }

    .powered-by {
      display: block !important;
      margin-right: 2vw !important;
      font-size: 2vh !important;
    }

    .aiqoo-logo {
      width: 28% !important;
    }

    .scroll-container {
      .footer-outer {
        width: 100% !important;
      }
    }
  }

  .sticky-logo-container-inner {
    width: 28vw !important;
    right: 2.5vw !important;
  }

  .sticky-logo-wrapper {
    width: 100% !important;
  }

  .powered-by {
    font-size: 1.5vh !important;
    margin-right: 0 !important;
  }

  .aiqoo-logo {
    width: 40% !important;
  }
}

@media(max-width: 599px) {
  body {
    &.blocked {
      overflow: hidden;
    }
  }

  .offer {
    &:after {
      display: none !important;
    }
  }

  .back-layer {
    position: static;
    transform: none;
    width: 100%;
    margin: 0 auto;

    &.is-active {
      //z-index: 9000;
      z-index: 20;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: inherit !important;
      height: 100%;
      padding-top: 60px;
      background-color: transparentize(#000, 0.3);

      .special-offers {
        display: block;
        background-color: #fff;
        width: 96%;
        margin: 0 auto;
      }

      .label {
        top: 70px !important;
      }

      .form-container {
        flex-grow: inherit !important;
        width: 96%;
        margin: 0 auto;
        padding-top: 20px;
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .submit-button {
        .btn {
          top: 0 !important;
          padding: 0;

          img {
            right: 5vw;
          }
        }
      }

      .custom-control-label {
        padding-top: 8px;
      }
    }
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  // Content section
  .content-section {
    padding: 1vh 2vw 3vh !important;
    margin-top: 0 !important;
    //padding: 4vh 2vw 3vh !important;
  }

  .top-text {
    .text {
      font-size: 1.65vh !important;
    }
  }

  //// Review cards
  //.review-card {
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: space-between;
  //  align-items: flex-start;
  //  width: 100%;
  //  height: 100%;
  //}
  //
  //.image-container {
  //  flex-shrink: 0;
  //  width: 100px;
  //  margin-right: 10px;
  //  padding: 10px;
  //  border-radius: 10px;
  //
  //  img {
  //    width: 100%;
  //    height: 100%;
  //    object-fit: cover;
  //    border-radius: 10px;
  //  }
  //}
  //
  //.review-container {
  //  flex-grow: 1;
  //  position: relative;
  //  width: auto;
  //  height: 100%;
  //  padding-top: 10px;
  //  display: flex;
  //  flex-direction: column;
  //  align-items: flex-start;
  //  justify-content: flex-start;
  //}
  //
  //.rate {
  //  position: absolute;
  //  top: 10px;
  //  right: 10px;
  //  width: 19vw;
  //
  //  img {
  //    width: 100%;
  //    height: 100%;
  //    object-fit: contain;
  //  }
  //}
  //
  //.content {
  //  .text {
  //    font-size: 1.35vh !important;
  //  }
  //}

  // Side block
  .content-section {
    .content-inner {
      .side-block-wrapper {
        width: 100% !important;
        max-width: 96% !important;
        margin: 2vh auto 0;
      }
    }
  }

  .special-offers {
    padding: 15px 15px 15px !important;

    .label {
      width: 100px !important;
    }
  }

  .form-container {
    .text-block {
      padding: 0 15px !important;
    }

    .sign-up-form {
      padding: 0 15px 15px !important;
    }

    .input-group-text {
      padding: 0 !important;
    }

    .form-control {
      padding-left: 10px !important;
    }
  }

  // SMS verification
  .account-verification {
    &.is-active {
      width: 100% !important;
      max-width: 96% !important;
      box-shadow: none;
      justify-content: flex-start;
      height: 100% !important;
      margin: 2vh auto 0 !important;
    }
  }
}
