@import '../components/modals-responsive';

// Layout
@media(max-width: 1399px) {
  .left-side-col {
    min-width: 200px;
    max-width: inherit;
  }

  .left-side-container {
    width: 200px;
    min-width: 200px;
    max-width: inherit;
  }

  .sub-menu-col {
    max-width: 50%;
  }

  .fixed-top-panel-d {
    width: calc(100% - 200px);
    max-width: calc(100% - 200px);
  }
}

@media(max-width: 1120px) {
  .notification-button {
    width: 35px;
    height: 35px;
  }
}

@media(max-width: 991px) {
  .sub-menu-items {
    .more-btn {
      display: none !important;
    }
  }

  .sub-menu-item {
    &:hover {
      &:after {
        display: none;
      }
    }
  }

  .card {
    padding: 0 8px;
  }

    // Sub-menu
  .sub-menu-lists {
    max-width: inherit;
  }

  .user-settings-col {
    justify-content: flex-start;
    align-items: flex-start;
    height: 55px;
    padding-bottom: 0;
  }

  .settings-inner-d {
    height: 100%;
  }

  // Notifications
  .index {
    width: 16px;
    height: 16px;
    font-size: 7pt;
  }

  .notification-1 {
    .index {
      top: 0px;
      left: 7px;
    }
  }

  .notification-2 {
    .index {
      top: 0px;
      right: 0px;
    }
  }

  // User
  .user {
    padding-top: 0 !important;
    padding-bottom: 0;
  }

  .user-inner-wrapper {
    align-items: center;
    justify-content: center;
  }

  .dropdown-info {
    &.visible {
      top: 100%;
    }
  }

  .info {
    height: 50%;
    margin-left: 0;
    margin-bottom: 0;
    align-items: inherit;
  }

  .image-container {
    width: 40px !important;
    height: 40px !important;
    padding: 2px 4px !important;

    &::before {
      height: 110% !important;
      transform: translate(-50%, -3%) !important;
    }
  }

  .dropdown-info {
    &.visible {
      left: auto;
    }
  }

  // settings inner
  .settings-inner-m {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .875rem;
  }
}

@media(max-width: 767px) {
  .top-logo-col {
    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;

      .fa-times {
        color: #fff;
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  .sub-menu-items {
    padding-left: 0;
  }

  .sub-menu-item {
    margin: 0 10px;

    &:after {
      bottom: -1px !important;
    }
  }

  .dropdown-list {
    &.visible {
      //bottom: 35%;
      bottom: 25%;
      transform: translate(-56%, 106%);
    }
  }

  .dropdown-list-wrapper {
    &.active {
      &:before {
        bottom: -23px;
        left: -15px;
        top: auto;
        border-bottom: 10px solid #fff;
      }
    }
  }

  // Left side container
  .left-side-col {
    z-index: 23;
    position: static;
    min-width: inherit;
    width: auto;
    padding: 0;
  }

  .left-side-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-110%, 0);
    width: 60%;
    min-width: 300px;
  }

  .mobile-menu-ope-btn {
    z-index: 23;
    position: fixed;
    left: 0;
    flex: 1;
    height: 70px;
    display: flex;
    align-items: center;

    .fa-bars {
      color: #fff;
    }
  }

  .left-side-container {
    &.active {
      transform: translate(0, 0);
    }
  }

  .fixed-top-panel-d {
    width: 100%;
    max-width: 100%;
    height: 142px;
  }

  // Right side col
  .right-side-col {
    .right-side-content-inner {
      margin-top: 160px;
    }

    .sub-menu-col {
      width: 100%;
      max-width: 100%;
      height: 70px;
      padding: 10px 30px 0 30px;
    }

    .sub-menu-container-inner {
      margin-right: 0;
      margin-left: 0;

      .row {
        flex-wrap: wrap-reverse;
      }
    }

    .user-settings-col {
      flex-grow: 1;
      width: 100%;
      height: 70px;
      margin-right: 15px;
      margin-left: 15px;
      padding-right: 15px;
      padding-left: 15px;
      background-color: #585077;
    }

    .user-outer {
      height: 100% !important;
      background-color: transparent;

      .user {
        display: flex;
        width: 165px;
        height: 100%;
        //padding-right: 15px;
        padding-bottom: 0;
      }

      .user-inner-wrapper {
        width: 100%;
        align-items: center;
        justify-content: flex-end;
      }

      .info {
        height: 100% !important;
        align-items: center;
        padding-bottom: 0;
      }

      .info-inner {
        color: #fff;

        &::after {
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
      }

      .image-wrapper {
        align-items: center;
        background-color: transparent;
      }

      .image-container {
        width: 30px !important;
        height: 30px !important;
        padding: 0 !important;
        margin-right: 0;

        &::before {
          display: none;
        }
      }

      &.show {
        height: calc(100% - 5px) !important;
        margin-top: 5px;
        border-radius: 5px 5px 0 0;

        .user {
          width: 165px;
          height: 100%;
          //padding-right: 15px;
          padding-bottom: 0;

          &.active {
            width: 165px;
            padding-right: 5px;
            padding-left: 5px;
            box-shadow: none !important;
            background-color: white;
            border-radius: 5px 5px 0 0;

            .image-wrapper {
              background-color: transparent;
            }

            .info-inner {
              color: #585077;

              &::after {
                border-right: 1px solid #585077;
                border-bottom: 1px solid #585077;
              }
            }
          }
        }

        .dropdown-info {
          &.visible {
            top: 100%;
            right: 15px;
            width: 165px;
            padding: 10px 10px 10px 6px;
            //box-shadow: none;
            //border: 1px solid #585077;
            border-top: none;
          }

          .dropdown-item {
            padding: .25rem .25rem .25rem .25rem;
            font-size: 9pt;

            i {
              font-size: 9.5pt;
            }
          }
        }
      }
    }

    // Notifications
    .index {
      width: 16px;
      height: 16px;
      font-size: 7pt;
    }

    .notification {
      align-items: center;
    }

    .notification-1 {
      .index {
        top: 0px;
        left: 8px;
      }
    }

    .notification-2 {
      .index {
        top: 0px;
        right: 2px;
      }
    }

    .notification-button-icon {
      color: #fff;
    }

    .page-title {
      font-size: 1.25rem;
      margin-bottom: 5px;
    }

    .sub-menu-items {
      height: 30px;
    }

    .sub-menu-item {
      margin: 0px 7px;
    }

    .sub-menu-item:first-of-type {
      margin: 0 7px 0 0;
    }
  }

  // Setting inner
  .settings-inner-d {
    .image-container {
      display: block;
      width: 80px !important;
      height: 40px !important;
      margin-left: 30px;
      margin-right: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media(max-width: 599px) {
  // Right side col
  .right-side-col {
    .right-side-content-inner {
      margin-top: 140px;
    }
  }

  .top-logo-container-inner {
    img {
      height: inherit;
      width: inherit;
    }
  }

  .fixed-top-panel-d {
    z-index: 22;
    background-color: transparent;
    pointer-events: none;
  }

  .sub-menu-container-inner {
    //background-color: transparent; // styles for filtered pages
  }

  .sub-menu-col {
    & > .row {
      pointer-events: auto;
    }
  }

  .settings-inner-d {
    margin-right: 0;
  }

  .right-side-col {
    .info-inner {
      &::after {
        top: 0;
      }

      .info {
        margin: 0 auto 10px;
      }
    }

    .name-wrap {
      font-size: 0.75rem !important;
    }

    .user-settings-col {
      pointer-events: auto;
    }

    .user-outer {
      .user {
        min-width: inherit;
        //width: auto;
        padding: 0 5px 5px !important;
        //background-color: coral;
      }

      .user-inner-wrapper {
        align-items: center;
        justify-content: center;
      }

      .image-wrapper {
        //margin: 0 auto;
      }

      &.show {
        position: relative;
        z-index: 5000;

        .user {
          &.active {
            padding-right: 0;
            padding-left: 5px;
            min-width: inherit;

            .image-wrapper {
              padding: 0 !important;

              .image-container {
                border: 1px solid #585077;
                padding: 2px !important;
                width: 35px !important;
                height: 35px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 460px) {
  // SWIPER (for sub menu on 991px and less screens)
  ::-webkit-scrollbar {
    width:0;
    height:0;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  * {
    box-sizing: border-box;
  }

  .sub-menu-col {
    .sub-menu-item {
      display: inline-block;
      //padding: 0;
      margin: 0 12px;
      white-space: nowrap;

      &:first-of-type {
        margin: 0 12px 0 0;
      }
    }
  }

  .sub-menu-lists {
    transform: translate(0px, 2px);
    max-width: 100%;
    margin: 0 auto;

    .sub-menu-items {
      -webkit-overflow-scrolling: touch;
      display: flex;
      overflow: auto;
      white-space: nowrap;
    }
  }

  .sub-menu-item {
    &.active {
      &::after {
        bottom: 0px !important;
      }
    }
  }

  .promotion {
    .dropdown-list-one {
      &.visible {
        transform: translate(-48%, 106%);
      }
    }
  }

  .user-settings-col {
    padding-right: 5px !important;
  }

  .right-side-col {
    .user-outer {
      .user {
        display: flex;
        justify-content: flex-end;
      }

      .user-inner-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
        padding: 5px 0 10px !important;
      }

      .info {
        display: inline-block;
        height: auto !important;
        //background-color: coral; // Remove

        .name-wrap {
          font-weight: 500 !important;
        }

        .company {
          display: none;
        }
      }

      .image-wrapper {
        height: auto;
      }

      &.show {
        //height: calc(100% - 5px) !important;
        //margin-top: 5px;
        //border-top-left-radius: 5px;

        .user {
          &.active {
            //justify-content: center;
            box-shadow: 0 2px 2px 1px #ccc !important;

            .dropdown-info-wrapper {
              &.active {
                position: absolute;
                //background-color: coral;
                /* padding-top: 60px; */
                height: 100%;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 374px) {
  .user-settings-col {
    margin-right: 5px !important;

    .image-container {
      width: 73px !important;
    }
  }

  .user-outer {
    &.show {
      .user {
        //width: 135px !important;
        padding-right: 5px !important;

        &.active {
          //width: 135px !important;
        }
      }

      .dropdown-info {
        &.visible {
          //width: 135px !important;

          .dropdown-item {
            font-size: 8.5pt;
          }
        }
      }
    }

    .user {
      width: 135px !important;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0 !important;
    }

    .info-inner {
      padding-right: 25px;
    }
  }

  .notification-button {
    width: 30px;
    height: 30px;
  }
}

// ******** Pages **********//

// Search
#content-search-input {
  display: none;
  margin-left: 0px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom-color: #d3d3d3;

  .input-group {
    width: 100%;
  }

  .title {
    height: 46px;
    display: flex;
    align-items: center;
  }
}

// Dashboard-page
.dashboard-page {
  @media(max-width: 1799px) {
    .col-left {
      min-width: 300px;
    }

    .col-right {
      min-width: 300px;
    }
  }

  @media(max-width: 1699px) {
    .col-left {
      width: 30%;
      min-width: 300px;
    }

    .col-center {
      max-width: unset;
    }

    .col-right {
      min-width: unset;
      width: 100% !important;
      max-width: 100%;
    }
  }

  @media(max-width: 1399px) {
    .contractors-card-col {
      order: 2;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }

    .index-card-col {
      order: 1;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }

  @media(max-width: 1199px) {
    .col-left {
      min-width: unset;
      width: 100% !important;
      max-width: 90%;
      margin: 0 auto 20px;
    }

    .col-center {
      max-width: 90%;
      margin: 0 auto 20px;
    }

    .col-right {
      max-width: 90%;
      margin: 0 auto 20px;

      .col {
        width: 100%;
      }
    }
  }

  @media(max-width: 991px) {}

  @media(max-width: 767px) {}

  @media(max-width: 599px) {
    .col-left {
      margin-bottom: 0;
    }
  }

  @media(max-width: 374px) {}
}

// Leads list page
.leads-list-page {
  @media(max-width: 1399px) {
    .status-bar-col.filter-closed + .leads-list-col #content-search-input {
      max-width: calc(100% - 200px - 60px - 15px);
    }

    .status-bar-col.filter-opened + .leads-list-col #content-search-input {
      max-width: calc(100% - 200px - 310px - 15px);
    }
  }

  @media(max-width: 1299px) {
    .status-bar-col.filter-closed + .leads-list-col {
      margin-left: 3% !important;
    }

    .table-header-col {
      .table-header-wrap {
        padding: 0 15px;
      }
    }

    .leads-item-wrap {
      padding: 15px 15px;
    }
  }

  @media(max-width: 1199px) {
    .table-header-col {
      display: none;
    }

    .leads-item-wrap {
      height: auto;

      .leads-item {
        flex-wrap: wrap;
        align-items: flex-start;
      }

      // Item cols
      .item-col {
        width: 25%;
        white-space: normal;
        overflow: hidden;

        i {
          margin-right: 10px;
        }

        &:after {
          display: none;
        }
      }

      .meeting-status-col {
        padding-left: 0;
      }

      .meeting-status-col,
      .atemptes-col,
      .locations-col {
        flex-direction: row;
      }

      .code {
        margin-left: 10px;
      }

      .status-col {
        margin-top: 10px;
      }
    }
  }

  @media(max-width: 991px) {
    .status-bar-col.filter-opened + .leads-list-col {
      margin-left: 0% !important;
    }

    .status-bar-col.filter-opened + .leads-list-col #content-search-input {
      max-width: calc(100% - 240px);
      //z-index: 333;
    }

    .leads-item-wrap {
      padding: 10px 10px 10px 15px;

      .leads-item {
        align-items: stretch;
      }

      // Item cols
      .item-col {
        width: 50%;
      }

      .notification-col {
        justify-content: flex-end;
      }

      .services-col,
      .status-col {
        padding-left: 0;
      }

      .code {
        margin-left: 0;
      }
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 991px) {
    .status-bar-col.filter-opened+.leads-list-col,
    .status-bar-col.filter-closed + .leads-list-col {
      margin-left: 6% !important;
    }
  }

  @media(max-width: 767px) {
    padding-top: 0;

    .status-bar-col.filter-opened + .leads-list-col #content-search-input {
      max-width: calc(100% - 15px) !important;
      width: 100% !important;
      margin-left: -37px;
    }

    .leads-list-col .table-row-list {
      margin-top: 30px !important;
    }
  }

  @media(max-width: 599px) {
    padding-top: 90px;

    .status-bar-col.filter-opened + .leads-list-col {
      margin-left: 0;
    }

    .status-bar-col.filter-closed + .leads-list-col {
      padding-top: 0 !important;
      margin-left: 0 !important;
      z-index: 1;
    }

    .leads-list-col {
      .content-container {
        padding: 0 !important;
      }
    }

    .leads-list-col .table-row-list {
      margin-top: 0 !important;
    }

    .leads-item-wrap {
      // Item cols
      .item-col {
        width: 100%;
        padding-left: 0 !important;
        margin-top: 5px;
      }

      .notification-col {
        width: 30px !important;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}

// Services
.services {
  @media(max-width: 1199px) {
    // Reset common styles
    .content {
      .text {
        font-size: inherit !important;
      }
    }
    // EOL: reset common styles
  }

  @media(max-width: 999px) {
    // Reset common styles
    .content {
      width: 100% !important;
    }

    .search {
      .input-group {
        width: 100% !important;
      }
    }
    // EOL: reset common styles
  }

  @media(max-width: 899px) {
    .services-wrapper {
      padding: 20px !important;
    }

    .content {
      padding-left: 15px;
    }

    .service-name {
      white-space: normal;
      line-height: 1.15;
    }
  }

  @media(max-width: 767px) {
    .services-wrapper {
      position: relative;
      z-index: 2;
    }

    .content {
      padding-left: 0 !important;
    }
  }

  @media(max-width: 576px) {
    .left-part {
      order: 2;
    }

    .right-part {
      order: 1;
    }
  }
}

// Locations
.locations {
  @media(max-width: 1499px) {
    .list {
      .item {
        width: calc(100% / 6);
      }
    }
  }

  @media(max-width: 1399px) {
    .list {
      .item {
        width: calc(100% / 5);
      }
    }
  }

  @media(max-width: 1299px) {
    // Area-list-outer (Locations page)
    .areas-list-outer {
      padding: 1.5rem 1.5rem;
    }
  }

  @media(max-width: 1199px) {
    .list {
      .item {
        width: calc(100% / 4);
      }
    }
  }

  @media(max-width: 899px) {
    .list {
      .item {
        width: calc(100% / 3);
      }
    }

    .create-area-outer {
      padding: .75rem 1.25rem;
    }

    .areas-list-outer {
      padding: .75rem 1.25rem;
    }
  }

  @media(max-width: 767px) {
    // Search new area
    .search-new-area {
      .form-control {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size: 0.88rem !important;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size: 0.88rem !important;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size: 0.88rem !important;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: 0.88rem !important;
        }
      }
    }

    // Results
    .results {
      .item {
        width: auto;
        margin-bottom: 1rem !important;
        padding: .25rem .875rem;
      }
    }
    .map {
      display: none;
    }

    .right-side-content-inner {
      .col-5 {
        padding-left: 0;
      }
    }
  }

  @media(max-width: 599px) {
    .map {
      display: none;
    }

    .list {
      .item {
        width: auto;
      }
    }
  }
}

// My profile
.my-profile {
  @media(max-width: 1499px) {}

  @media(max-width: 1399px) {}

  @media(max-width: 1199px) {
    form {
      margin: 0 auto !important;
    }

    .banner {
      width: 200px !important;
    }
  }

  @media(max-width: 991px) {
    padding-left: 0 !important;

    .content {
      margin-right: 15px !important;
      padding: 0 2vw 4vw !important;
    }

    .content-wrap {
      margin-right: 0 !important;

      .upload-photo {
        left: 30px !important;
      }
    }

    form {
      max-width: 400px !important;
      width: 400px;
    }

    .banner {
      width: 160px !important;
    }
  }

  @media(max-width: 840px) {
    .banner {
      display: none;
    }
  }

  @media(max-width: 767px) {
    margin-top: 200px;
    justify-content: center;
    padding-left: 0;

    .content-wrap {
      width: 96%;
      justify-content: center;
      margin-right: 0 !important;
    }

    form {
      width: 100%;
    }

    .content {
      margin-right: 0 !important;
    }
  }

  @media(max-width: 599px) {
    .content {
      padding: 0 4vw 4vw !important;
    }
  }

  @media(max-width: 374px) {}
}

// System campaign: Services, summary, zip-code pages //
.system-campaign {
  @import '../components/system-campaign-responsive';
}

.logo2,
.success-icon {
  @media(min-width: 300px) { width: 138px; }
  @media(min-width: 600px) { width: 168px; }
}

.custom-select:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ced4da;
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: initial;
}

@media(min-width: 300px) {
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    button {
      width: 124px;
      height: 40px;
      color: #fff;
      border-radius: 0;

      .btn {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        .fa-long-arrow-right {
          transform: rotate(180deg);
        }

        &.active {
          flex-direction: row;
          background-color: #585077;

          .fa-long-arrow-right {
            transform: rotate(0);
          }
        }
      }
    }
  }

  // Wizard and system campaign pages common styles for content
  .page-content {
    padding: 40px 0 20px;

    .page-content-outer {
      display: flex;
      flex-direction: column;
      padding: 20px 6px 20px 20px;
      background-color: #f5f5f5;

      .summary {
        align-self: flex-end;
        margin-top: auto;
        padding-top: 20px;
        padding-right: 20px;
        text-align: right;
      }

      .input-group {
        select { border: 1px solid #ced4da; }
      }
    }

    .page-content-inner {
      padding-right: 20px;
      max-height: 290px;
      overflow-y: scroll;

      // Accordion
      .accordion-item {
        .card {
          background-color: transparent;
          box-shadow: none;

          .card-header {
            display: flex;
            padding: 6px 0;
            border-radius: 0;
            border-bottom: 0;
            background-color: #ebebeb;

            .custom-control {
              position: relative;
              align-self: center;

              .custom-control-label {
                position: absolute;
                top: 0;
              }
            }

            .btn {
              display: flex;
              flex-direction: row;;
              flex-grow: 1;
              justify-content: space-between;
              align-items: center;
              border-radius: 0;

              i { transform: rotate(180deg); }

              &.collapsed {
                i { transform: rotate(0deg); }
              }

              &:focus { box-shadow: none; }
            }
          }
        }
      }

      i {
        &.fa-times {
          color: #c10404;
        }
      }
    }

    .success {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .submit-button {
        .btn {
          border-radius: 0;
        }
      }
    }
  }
}

@media(max-width: 599px) {
  .main-wrapper {
    width: 100%;
  }

  .content-container {
    padding: 90px 10px 0 !important;
  }

  .main-wrapper-inner {
    flex-direction: column;
    padding-top: 0;
  }

  .content-container {
    flex-direction: column;

    .content {
      width: 100% !important;
    }
  }
}

@media(max-width: 767px) {
  .content-container {
    .content {
      width: 100% !important;
    }
  }
}

@media(min-width: 768px) {
  .buttons-container {
    width: 100%;
  }
}

@media(max-width: 1024px) {
  .main-wrapper-inner {
    flex-direction: row;
    align-items: stretch;
  }
}

@media(min-width: 1200px) {
  /// Wizard content ///
  .page-content {
    padding-top: 20px;
    padding-bottom: 20px;

    .page-content-outer {
      height: initial;

      .card {
        i {
          &.fa-times {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media(min-width: 1600px) {
  /// Wizard content ///
  .page-content {
    padding-top: 20px;
    padding-bottom: 20px;

    &.locations {
      .page-content-outer {
        height: inherit;
      }

      .page-content-inner {
        height: 174px;
      }

      .buttons-container {
        margin-top: 40px;
      }
    }
  }

  .content-container {
    .content {
      padding: 0 25% 2% 5%;
    }

    .upload-photo {
      i {
        font-size: 6.5rem;
        width: 138px;
        height: 138px;
      }
    }
  }

  form {
    .input-group-title {
      font-size: 1.25rem;
    }
  }
}

//************* Dashboard  *************//
.dashboard-outer {
  @mixin contentStyles {
    @media(min-width: 300px) {
      width: 100%;
      padding: 20px 20px;
    }

    @media(min-width: 1200px) {
      width: 100%;
      padding: 20px 0 0 45px;
    }
  }

  .content {
    @include contentStyles;
  }

  // Here starts media

  @media(min-width: 300px) {
    margin-top: 50px;
    padding-bottom: 40px;

    .content {
      .text {
        margin-bottom: 10px;
      }
    }

    // Add company profile
    .add-company-profile {
      .company-info,
      .contact-info {
        height: 100%;
      }
    }

    // Services and location
    .services-and-location {
      padding-bottom: 50px;
      font-family: "Raleway", sans-serif;
      color: #585077;

      .content {
        @include contentStyles;

        .text {
          margin-bottom: 20px;
        }

        .search {
          .search-title {
            font-size: 1.125em;
          }

          .input-group {
            width: 100%;
          }

          input {
            width: 100%;
            font-size: 1.125em;

            &::-webkit-input-placeholder {
              font-size: 1.125em;
            }
            &::-moz-placeholder {
              font-size: 1.125em;
            }
            &:-ms-input-placeholder {
              font-size: 1.125em;
            }
            &:-moz-placeholder {
              font-size: 1.125em;
            }
          }
        }
      }

      .selected-services {
        padding-left: 34px;
        color: #342e49;
      }
    }
  }
  // EOL: 300px

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .services-list {
      .table-items-list {
        .table-item {
          padding: 0 10px;
        }
      }
    }
  }
  // EOL: 768px - 1024px

  @media(min-width: 992px) {
    // add-portfolio
    .add-portfolio {
      // Collapse
      .card-accordion-body {
        .collapse-col-1 {
          width: 60%;

          &:after {
            display: block;
            content: '';
            width: 1px;
            height: 60%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: #ccc;
          }
        }

        .collapse-col-2 {
          width: 40%;
        }
      }
    }
  }
  // EOL: 992px

  @media(min-width: 1200px) {
    padding-bottom: 80px;

    // Add company profile
    .add-company-profile {
      .company-info,
      .contact-info {
        border-right: 1px solid #d6d6d6;
      }
    }

    // Services and location
    .services-and-location {
      .selected-services {
        padding-left: 60px;
        padding-top: 24px;
        color: #342e49;
      }

      .content {
        .text {
          margin-bottom: 32px;
        }

        .search {
          .input-group {
            width: 312px;

            input {
              font-size: .875em;

              &::-webkit-input-placeholder {
                font-size: .875em;
              }
              &::-moz-placeholder {
                font-size: .875em;
              }
              &:-ms-input-placeholder {
                font-size: .875em;
              }
              &:-moz-placeholder {
                font-size: .875em;
              }
            }
          }
        }
      }
    }
  }
  // EOL: 1200px

  @media(min-width: 1600px) {
    margin-top: 60px;
  }
  // EOL: 1600px

  @media(min-width: 1920px) {
    margin-top: 80px;
  }
  // EOL: 1920px
}

//************* My tasks page (Dashboard)  *************//
.my-tasks-page {
  @media(max-width: 1899px) {
    .task-card {
      .colored-circle {
        top: 21px;
      }
    }
  }

  @media(max-width: 1399px) {
    & .status-bar-col.filter-opened + .f-content-col #content-search-input {
      max-width: calc(100% - 200px - 310px - 15px);
    }

    & .status-bar-col.filter-closed + .f-content-col #content-search-input {
      max-width: calc(100% - 200px - 60px - 15px);
    }

    .colored-circle {
      top: 19px !important;
    }

    .list-body {
      .task-col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }

  @media(max-width: 1299px) {
    & .status-bar-col.filter-closed + .f-content-col {
      margin-left: 3% !important;
    }
  }

  @media(max-width: 1199px) {
    .task-card {
      &:before,
      &:after,
      .colored-circle {
        display: none;
      }
    }

    .task-col {
      flex: 0 0 50% !important;
      max-width: 50% !important;
      min-width: 290px;
    }

    .task-list {
      margin-top: 24px;
    }
  }

  @media(max-width: 991px) {
    & .status-bar-col.filter-opened + & #content-search-input {
      max-width: calc(100% - 240px);
    }

    .content-col {
      .search {
        width: calc(100% + 15px);
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;

        .title {
          width: 100px;
        }

        .input-group {
          flex-grow: 1;
          width: auto;
        }
      }
    }

    .task-col {
      flex: 0 0 97% !important;
      max-width: 97% !important;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 600px) {
    & .status-bar-col.filter-opened + .f-content-col,
    & .status-bar-col.filter-closed + .f-content-col {
      margin-left: 6% !important;
    }
  }

  @media(max-width: 767px) {
    & .status-bar-col.filter-opened + .f-content-col #content-search-input {
      max-width: calc(100% - 15px) !important;
      width: 100% !important;
      margin-left: -37px;
    }

    .task-col {
      flex: 0 0 97% !important;
      margin: 0 auto;
      padding-right: 15px;
      min-width: inherit;
    }

    .list-heading {
      padding-left: 15px;

      .list-heading-inner {
        border-bottom: 0;
      }
    }

    .task-card-inner {
      &.is-active {
        .client-info {
          padding: 0 10px;
          background-color: #fff;
        }

        .client-name {
          width: 100%;
          padding-bottom: 10px;
          border-bottom: solid 1px #f9f9f9;
        }

        .client-phone {
          display: none;
        }

        .client-location {
          .client-info-heading {
            display: block;
            padding: 0;
          }
        }

        .notes { display: none; }
      }
    }
  }

  @media(max-width: 599px) {
    & .status-bar-col.filter-closed + .f-content-col {
      padding-top: 0 !important;
      margin-left: 0 !important;
      z-index: 1;
    }

    & .status-bar-heading {
      z-index: 10;
      top: 140px;
    }

    .content {
      .task-list {
        height: 100%;
        padding-top: 0;
        margin: 0 auto;
      }
    }

    .task-col {
      flex: 0 0 96% !important;
      max-width: 96% !important;
      padding-right: 15px;
      margin: 0 auto;
    }

    .content-col {
      flex-grow: unset;
      flex-basis: auto;
      width: 100%;
      padding-right: 15px;
      margin-top: 70px;
    }
  }

  @media(max-width: 374px) {
    .task-col {
      min-width: 300px;
    }
  }
}

//************* Support page (Dashboard)  *************//
.support-page {
  @media(max-width: 1499px) {
    .right-side-col {
      .message-card-heading {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  @media(max-width: 1399px) {
    & .status-bar-col.filter-opened + .f-content-col #content-search-input {
      max-width: calc(100% - 200px - 310px - 15px);
    }

    & .status-bar-col.filter-closed + .f-content-col #content-search-input {
      max-width: calc(100% - 200px - 60px - 15px);
    }
  }

  @media(max-width: 1299px) {
    & .status-bar-col.filter-closed + .f-content-col {
      margin-left: 3% !important;
    }

    .right-side-col {
      display: none;
    }

    .left-side-col {
      width: 100%;
      max-width: 100%;
      min-width: inherit;
    }
  }

  @media(max-width: 991px) {
    & .status-bar-col.filter-opened + & #content-search-input {
      max-width: calc(100% - 240px);
    }

    // only for this page styles
    .content-col {
      .search {
        & > .title {
          display: none;
        }

        .controls {
          justify-content: space-between;
          width: 100%;
        }

        .input-group {
          order: 3;
          flex-grow: 1;
          width: auto;
          max-width: 50%;
          height: 40px;
        }

        .controls-title {
          display: flex !important;
          order: 2;
        }

        .new-ticket {
          order: 1;
          height: 40px;

          .fa-plus-square {
            font-size: 1.25rem;
          }
        }
      }
    }

    .content {
      margin-top: 30px;
    }

    .card-opening-date {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .date {
        margin-top: 5px;

        .fa-calendar {
          margin: 0 10px 0 0;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 600px) {
    & .status-bar-col.filter-opened + .f-content-col,
    & .status-bar-col.filter-closed + .f-content-col {
      margin-left: 6% !important;
    }
  }

  @media(max-width: 767px) {
    & .status-bar-col.filter-opened + .f-content-col #content-search-input {
      max-width: calc(100% - 15px) !important;
      width: 100% !important;
      margin-left: -37px;
    }


    .status {
      line-height: 1.125;
      padding: 0 13px !important;
      font-size: 0 !important;
    }

    .controls {
      .new-ticket {
        position: fixed;
        bottom: 10px;
        right: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 68px !important;
        padding: 0;

        .fa-plus-square {
          margin-bottom: 5px;
          margin-right: 0;
          font-size: 2.125rem !important;
        }
      }

      .input-group {
        max-width: inherit !important;
      }
    }

    .ticket {
      &.orange {
        .ticket-header {
          background-color: #f6bc5d;
        }
      }

      &.light-purple {
        .ticket-header {
          background-color: #c65dfd;
        }
      }

      &.sean-green {
        .ticket-header {
          background-color: #12b7aa;
        }
      }
    }

    .label {
      color: #fff !important;

      .indicator {
        display: none;
      }
    }

    .decoration-element { display: none; }
  }

  @media(max-width: 599px) {
    & .status-bar-col.filter-closed + .f-content-col {
      padding-top: 0 !important;
      margin-left: 0 !important;
      z-index: 1;
    }

    & .status-bar-heading {
      z-index: 10;
      top: 140px;
    }

    .content {
      position: relative;
      margin-top: 90px;
      z-index: 2;

      .new-ticket {
        z-index: 21;
        position: fixed;
        bottom: 10px;
        right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 68px !important;
        padding: 0;
        background-color: #585077;
        color: #fff;
        font-weight: 300;
        border: none;

        .fa-plus-square {
          margin-bottom: 5px;
          font-size: 2.125rem;
        }
      }
    }

    .content-heading {
      .id {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    // Ticket
    .ticket {
      max-width: 96%;
      margin: 0 auto 26px;

      .ticket-header {
        .type {
          font-size: 1rem !important;
        }
      }

      .ticket-content {
        &.is-active {
          .last-message {
            display: none;
          }

          .last-replied-by {
            &::before {
              display: none;
            }
          }
        }

        .id,
        .info-content,
        .last-replied-by {
          span {
            font-size: .9rem !important;
          }

          .status {
            font-size: 1rem !important;
          }
        }

        .gray-title {
          font-size: .8rem !important;
        }

        .date,
        .user-name {
          font-size: .9rem !important;
        }

        .info {
          span {
            font-size: .8rem !important;
          }
        }
      }

      .id {
        .status {
          padding: 0 10px;
          font-size: inherit !important;
        }
      }

      .content-body {
        margin-top: 0;
      }

      // Left side col
      .id,
      .created-by,
      .last-replied-by {
        position: relative;
        margin-bottom: 15px;

        &::before {
          display: block;
          content: '';
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 100%;
          height: 1px;
          background-color: rgba(20, 46, 110, 0.1);
        }
      }

      .last-replied-by {
        margin-top: 5px;

        &::before {
          top: auto;
        }
      }

      .card-opening-date {
        margin-top: 5px;

        &::before {
          display: none;
        }
      }

      // Right side col
      .right-side-col {
        display: flex;
      }

      .right-side {
        width: 100%;
      }

      .last-message {
        display: flex;
        margin-top: 15px;

        .message-card {
          margin-top: 10px;

          .author-name {
            font-size: 0.8rem !important;
          }

          .updated {
            font-size: 0.7rem !important;
          }

          .message {
            font-size: 0.6rem !important;
          }
        }

        &.admin-message {
          align-items: flex-end;
        }

        &.user-message {
          .message-card {
            border-top-right-radius: 20px;
            border-top-left-radius: 0;
          }
        }

        .message-card-heading {
          flex-direction: column-reverse;
        }

        .logo-image-container {
          margin-left: 0;
        }

        .image-container {
          margin-right: 0;
        }

        &.admin-message {
          flex-direction: column-reverse;
          justify-content: flex-start;
        }

        &.user-message {
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }
}

//*********** UTILS ***************//
.mobile-only-flex {
  @media(max-width: 599px) {
    display: flex;
  }
  @media(min-width: 600px) {
    display: none;
  }
}

.mobile-only-block {
  @media(max-width: 599px) {
    display: block;
  }
  @media(min-width: 600px) {
    display: none;
  }
}

.desktop-only-flex {
  @media(max-width: 599px) {
    display: none;
  }
  @media(min-width: 600px) {
    display: flex;
  }
}

.desktop-only-block {
  @media(max-width: 599px) {
    display: none;
  }
  @media(min-width: 600px) {
    display: block;
  }
}
