/* Slider */
@media (max-width: 599px) {
  /* line 5, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-slide {
    display: block !important;
    float: none !important; } }

@media (min-width: 600px) {
  /* line 12, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
  /* line 27, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-list {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
    /* line 35, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-list:focus {
      outline: none; }
    /* line 39, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }
  /* line 45, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  /* line 54, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    /* line 62, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-track:before, .slick-track:after {
      content: "";
      display: table; }
    /* line 68, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-track:after {
      clear: both; }
    /* line 72, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-loading .slick-track {
      visibility: hidden; }
  /* line 77, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 0 2px;
    display: none; }
    /* line 83, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-slide:focus {
      outline: none; }
    /* line 87, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    [dir="rtl"] .slick-slide {
      float: right; }
    /* line 91, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-slide img {
      display: block; }
    /* line 95, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-slide.slick-loading img {
      display: none; }
    /* line 101, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-slide.dragging img {
      pointer-events: none; }
    /* line 105, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-initialized .slick-slide {
      display: block; }
    /* line 109, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-loading .slick-slide {
      visibility: hidden; }
    /* line 113, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
    .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent; }
  /* line 120, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-arrow.slick-hidden {
    display: none; }
  /* line 127, ../../../../Work/WorkNest/Aiqoo/demo-aiqpros.com/assets/scss/slick/slick.scss */
  .slick-track {
    height: 100% !important; } }

/*# sourceMappingURL=slick.css.map */